{% extends  "base.html" %}
{% block style%}
<style>
    img {
        width: 100%;
        z-index: 0;
    }
    input {
        position: absolute;
        z-index: 10;
        background-color: red;
        vertical-align: middle;
        border-style: none;
        justify-content: center;
        font-weight: bold;
    }
    #hoten {
        top: 400px;
        left: 330px;
        height: 100px;
    }
    #masothe {
        top: 400px;
        left: 545px;
        height: 100px;
        width: 100px;
    }
    #bophan {
        top: 400px;
        left: 655px;
        height: 100px;
        width: 120px;
    }
    #chucdanh {
        top: 400px;
        left: 780px;
        height: 100px;
        width: 120px;
    }
    #ngayvao {
        top: 400px;
        left: 903px;
        height: 100px;
        width: 140px;
    }
    #ngaynghi {
        top: 400px;
        left: 1048px;
        height: 100px;
        width: 200px;
    }
    #lydo_suckhoe {
        top: 600px;
        left: 350px;
    }
    #lydo_canhan {
        top: 600px;
        left: 820px;
    }
    #lydo_moitruonglamviec {
        top: 665px;
        left: 350px;
    }
    #lydo_thoigianlamviec {
        top: 665px;
        left: 820px;
    }
    #lydo_chedoluongthuong {
        top: 745px;
        left: 350px;
    }
    #lydo_quydinhnghiemngat {
        top: 745px;
        left: 820px;
    }
    #lydo_sothichcanhan {
        top: 810px;
        left: 350px;
    }
    #lydo_quanly {
        top: 810px;
        left: 820px;
    }
    #lydo_cohoithangtien {
        top: 880px;
        left: 350px;
    }
    #lydo_vanhoa {
        top: 880px;
        left: 820px;
    }
    #lydo_khac {
        top: 980px;
        left: 350px;
    }
    #lydo_khac_chitiet {
        top: 974px;
        left: 755px;
        width: 450px;
    }
    #mucdo_banchatcongviec {
        top: 1187px;
        left: 706px;
        width: 80px;
    }
    #u_banchatcongviec {
        top: 1195px;
        left: 810px;
    }
    #a_banchatcongviec {
        top: 1195px;
        left: 855px;
    }
    #s_banchatcongviec {
        top: 1195px;
        left: 890px;
    }
    #ghichu_banchatcongviec {
        top: 1187px;
        left: 930px;
        width: 300px;
    }
    #mucdo_khoiluongcongviec {
        top: 1243px;
        left: 706px;
        width: 80px;
    }
    #u_khoiluongcongviec {
        top: 1248px;
        left: 810px;
    }
    #a_khoiluongcongviec {
        top: 1248px;
        left: 855px;
    }
    #s_khoiluongcongviec {
        top: 1248px;
        left: 890px;
    }
    #quanhieu_khoiluongcongviec {
        top: 1248px;
        left: 940px;
    }
    #khongdu_khoiluongcongviec {
        top: 1248px;
        left: 1100px;
    }
    #mucdo_thoigianlamviec {
        top: 1308px;
        left: 706px;
        width: 80px;
    }
    #u_thoigianlamviec {
        top: 1308px;
        left: 810px;
    }
    #a_thoigianlamviec {
        top: 1308px;
        left: 855px;
    }
    #s_thoigianlamviec {
        top: 1308px;
        left: 890px;
    }
    #ghichu_thoigianlamviec {
        top: 1308px;
        left: 930px;
        width: 300px;
    }
    #mucdo_mucdohailong {
        top: 1365px;
        left: 706px;
        width: 80px;
    }
    #u_mucdohailong {
        top: 1365px;
        left: 810px;
    }
    #a_mucdohailong {
        top: 1365px;
        left: 855px;
    }
    #s_mucdohailong {
        top: 1365px;
        left: 890px;
    }
    #ghichu_mucdohailong {
        top: 1365px;
        left: 930px;
        width: 300px;
    }
    #mucdo_cohoithangtien {
        top: 1430px;
        left: 706px;
        width: 80px;
    }
    #u_cohoithangtien {
        top: 1430px;
        left: 810px;
    }
    #a_cohoithangtien {
        top: 1430px;
        left: 855px;
    }
    #s_cohoithangtien {
        top: 1430px;
        left: 890px;
    }
    #ghichu_cohoithangtien {
        top: 1430px;
        left: 930px;
        width: 300px;
    }
    #mucdo_cohoidaotao {
        top: 1480px;
        left: 706px;
        width: 80px;
    }
    #u_cohoidaotao {
        top: 1480px;
        left: 810px;
    }
    #a_cohoidaotao {
        top: 1480px;
        left: 855px;
    }
    #s_cohoidaotao {
        top: 1480px;
        left: 890px;
    }
    #ghichu_cohoidaotao {
        top: 1480px;
        left: 930px;
        width: 300px;
    }
</style>
{% endblock style %}
{% block content %}
    <img src="static/img/form/phongvannghiviec/trang1.jpg" alt="10_1_1.png">
    <img src="static/img/form/phongvannghiviec/trang2.jpg" alt="10_1_2.png">

{% endblock content %}
