<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo.png" alt="Logo" width="60" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/dangki_tangca_web">Đăng kí tăng ca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/chamcong_sang_web">Chấm công sáng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chamcong_goc_web">Dữ liệu chấm công gốc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bangcong_web">Bảng công</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>