{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 10px;
    }
    td {
        max-width: 300px;
        word-wrap: break-word;
    }
    select, input, label, button {
        width: auto;
        padding: 5px;
        font-size: 10px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }

    .content {
        width: auto;
    }
    th.sticky, td.sticky {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        left: 0;
        background: #003cb3;
        color: white;
        z-index: 1;
    }

    th.sticky {
        z-index: 2;
    }
    .pagination {
        margin-left: 50px;
        font-size: 10px;
    }
</style>
{% endblock style %}
{% block content %} 
<div class="scroll-container">
    <div class="content">
        <div style="display: fixed; align-items: center;">
            <form method="GET" action="/muc2_1" style="display: inline;">
                <label for="sdt">Số điện thoại</label>
                <input id="sdt" name="sdt" type="text" onchange="this.form.submit()">
                <label for="cccd">Căn cước công dân</label>
                <input id="cccd" name="cccd" type="text" onchange="this.form.submit()">
                <label for="ngaygui">Ngày ứng tuyển</label>
                <input id="ngaygui" name="ngaygui" type="date" onchange="this.form.submit()">
                <input class="btn btn-primary" onclick="window.location.href='/muc2_1'" value="Tất cả">
            </form>
            <form method="POST" action="/export_dsdktt">
                <input id="sdt" name="sdt" type="text" hidden value={{request.args.get('sdt','')}}>
                <input id="cccd" name="cccd" type="text" hidden value={{request.args.get('cccd','')}}>
                <input id="ngaygui" name="ngaygui" type="date" hidden value={{request.args.get('ngaygui','')}} >
                <input class="btn btn-success" value="Xuất excel" type="submit">
            </form>
        </div>
        <br>
        <div style="display: flex; align-items: center;">
            <h5>Tổng: {{count}}</h5>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <table class="table table-bordered">
            <tr class="table-primary">
                <th >STT</th>
                <th  class="sticky">Họ và tên</th>
                <th>Vị trí tuyển dụng</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                <th>CCCD</th>
                <th>Dân tộc</th>
                <th>Trình độ</th>
                <th>Địa chỉ</th>
                <th>Kinh nghiệm</th>
                <th>Mức lương</th>
                <th>Có con nhỏ</th>
                <th>Tên con nhỏ 1</th>
                <th>Ngày sinh con nhỏ 1</th>
                <th>Tên con nhỏ 2</th>
                <th>Ngày sinh con nhỏ 2</th>
                <th>Tên con nhỏ 3</th>
                <th>Ngày sinh con nhỏ 3</th>
                <th>Tên con nhỏ 4</th>
                <th>Ngày sinh con nhỏ 4</th>
                <th>Tên con nhỏ 5</th>
                <th>Ngày sinh con nhỏ 5</th>
                <th>Người thân</th>
                <th>SĐT người thân</th>
                <th>Ngày nhận việc</th>
                <th>Ngày gửi</th>
                <th>Ngày cập nhật</th>
                <th>Ngày hẹn đi làm</th>
                <th>Hiệu suất</th>
                <th>Loại máy</th>
                <th>Lưu hồ sơ</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
            {% for user in danhsach %}
                <form action="/muc2_1" method="POST">
                    <tr data-info='{{ user | safe }}'>
                        <td class="sticky_1"><input type="text" name="id" id="id" hidden value="{{ user['ID'] }}">{{ user['ID'] }}</td>
                        <td class="sticky_2"><b>{{ user["Họ tên"] }}</b></td>
                        <td><input type="text" name="vitrituyendung" id="vitrituyendung" value="{{ user['Vị trí tuyển dụng'] }}"></input></td>
                        <td class="user-phone"><input type="text" name="sdt" id="sdt" value="{{ user['Số điện thoại'] }}" hidden>{{ user["Số điện thoại"] }}</td>
                        {% if user["Trạng thái"] == "Đạt" %}
                        <td style= "background-color: green; color: white;"><b class="status" onclick="openModal(this)">{{ user["Trạng thái"] }}</b></td>
                        {% elif user["Trạng thái"] == "Không đạt" %}
                        <td style= "background-color: black; color: white;"><b class="status" onclick="openModal(this)">{{ user["Trạng thái"] }}</b></td>
                        {% else %}
                        <td><b class="status" onclick="openModal(this)">Không</b></td>
                        {% endif %}
                        <td><input type="text" name="cccd" id="cccd" value="{{ user['CCCD'] }}"></input></td>
                        <td><input type="text" name="dantoc" id="dantoc" value="{{ user['Dân tộc'] }}"></input></td>
                        <td><input type="text" name="hocvan" id="hocvan" value="{{ user['Học vấn'] }}"></input></td>
                        <td><input type="text" name="diachi" id="diachi" value="{{ user['Tạm trú'] }}"></input></td>
                        <td>{{ user["Kinh nghiệm"] }}</td>
                        <td>{{ user["Mức lương"] }}</td>
                        <td><input type="text" name="connho" value="{{ user['Có con nhỏ'] }}"></td>
                        <td><input type="text" name="tenconnho1" value="{{ user['Tên con 1'] }}"></td>
                        <td><input type="text" name="ngaysinhcon1" value="{{ user['Ngày sinh con 1'] }}"></td>
                        <td><input type="text" name="tenconnho2" value="{{ user['Tên con 2'] }}"></td>
                        <td><input type="text" name="ngaysinhcon2" value="{{ user['Ngày sinh con 2'] }}"></td>
                        <td><input type="text" name="tenconnho3" value="{{ user['Tên con 3'] }}"></td>
                        <td><input type="text" name="ngaysinhcon3" value="{{ user['Ngày sinh con 3'] }}"></td>
                        <td><input type="text" name="tenconnho4" value="{{ user['Tên con 4'] }}"></td>
                        <td><input type="text" name="ngaysinhcon4" value="{{ user['Ngày sinh con 4'] }}"></td>
                        <td><input type="text" name="tenconnho5" value="{{ user['Tên con 5'] }}"></td>
                        <td><input type="text" name="ngaysinhcon5" value="{{ user['Ngày sinh con 5'] }}"></td>
                        <td><input type="text" name="nguoithan" value="{{ user["Tên người thân"] }}"></td>
                        <td><input type="text" name="sdtnguoithan" value="{{ user["SĐT người thân"] }}"></td>
                        <td>{{ user["Ngày nhận việc"] }}</td>
                        <td>{{ user["Ngày gửi"] }}</td>
                        {% if user["Ngày cập nhật"] %}
                        <td>{{ user["Ngày cập nhật"] }}</td>
                        {% else %}
                        <td><input type="date" name="ngaycapnhat"></td>
                        {% endif %}
                        <td><input type="date" name="ngayhendilam" class="ngayhen_dilam" value="{{ user['Ngày hẹn đi làm'] }}"></td>
                        {% if user["Hiệu suất"] %}
                        <td><input type="text" name="hieusuat" value="{{ user['Hiệu suất'] }}"></td>
                        {% else %}
                        <td><input type="text" name="hieusuat"></td>
                        {% endif %}
                        {% if user["Loại máy"] %}
                        <td><input type="text" name="loaimay" value="{{ user['Loại máy'] }}"></td>
                        {% else %}
                        <td><input type="text" name="loaimay"></td>
                        {% endif %}
                        {% if user["Lưu hồ sơ"]=='Có' %}
                        <td>
                            <select name="luuhoso">
                                <option value="Không">Không</option>
                                <option value="Có" selected>Có</option>
                            </select>
                        </td>
                        {% else %}
                        <td>
                            <select name="luuhoso">
                                <option value="Không" selected>Không</option>
                                <option value="Có">Có</option>
                            </select>
                        </td>
                        {% endif %}
                        {% if user["Ghi chú"] %}
                        <td><input type="text" name="ghichu" value="{{ user['Ghi chú'] }}"></td>
                        {% else %}
                        <td><input type="text" name="ghichu"></td>
                        {% endif %}
                        <td><input type="submit" value="Lưu" class="btn btn-primary"></input></td>
                    </tr>
                </form>
            {% endfor %}
        </table>
        <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form id="statusForm" onsubmit="submitForm(event)">
                <input type="hidden" id="phone" name="phone">
                <label for="newStatus">Trạng thái mới:</label>
                <select id="newStatus" name="newStatus">
                    <option value="Đạt">Đạt</option>
                    <option value="Không đạt">Không đạt</option>
                </select>
                <label for="luuhoso">Lưu hồ sơ:</label>
                <select id="luuhoso" name="luuhoso">
                    <option value="Có">Có</option>
                    <option value="Khôngt">Không</option>
                </select>
                <br><br>
                <button class ="btn btn-primary" type="submit">Cập nhật</button>
            </form>
        </div>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function openModal(element) {
        var modal = document.getElementById("myModal");
        var phone = element.closest("tr").querySelector(".user-phone").innerText;
        document.getElementById("phone").value = phone;
        modal.style.display = "block";
    }

    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    function submitForm(event) {
        event.preventDefault();
        var phone = document.getElementById("phone").value;
        var newStatus = document.getElementById("newStatus").value;
        var data = { phone: phone, newStatus: newStatus };

        axios({
            method: 'post',
            url: '/capnhattrangthaiungvien?sdt=' + phone + '&trangthaimoi=' + newStatus,
        })
            .then(function (response) {
                console.log(response.data);
                closeModal();
                location.reload();
                alert("Cập nhật thành công");
            })
            .catch(function (error) {
                console.log(error);
                alert("Cập nhật thất bại");
            });
    }
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
</script>
{% endblock content %}
