{% extends  "base.html" %}
{% block title %}Yêu cầu tuyển dụng{% endblock title %}
{% block style%}
<style>
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }

    .content {
        width: 200%;
    }
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        border-collapse: collapse;
        text-align: center;
    }
    th {
        text-align: center;
        color: white;
    }
    td, th {
        white-space: nowrap;
        overflow: hidden;

    }
    label, p, input, h5 , b, textarea {
        color: #4e73df;
        font-weight: bold;
    }
    iframe {
        padding:5px;
    }
    #nutbam {
        display: flex;
        justify-content: start;
        gap: 10px;
    }
    button:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
    .card {
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        width: 330px;
        position: relative;
        overflow: hidden;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="filter">
        <form method="GET">
            <div class="row">
                <div class="col">
                    <label style="font-size:15px; color: #4e73df; font-weight: bold;">Phòng ban</label>
                    <input type="text" name="phongban" class="form-control" placeholder="Phòng ban" value="{{request.args.get('phongban','')}}">
                </div>
                <div class="col">
                    <label style="font-size:15px; color: #4e73df; font-weight: bold;">Trạng thái yêu cầu</label>
                    {% if request.args.get('trangthaiyeucau') == "Chưa phê duyệt" %}
                    <select name="trangthaiyeucau" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa phê duyệt" selected>Chưa phê duyệt</option>
                        <option value="Phê duyệt">Phê duyệt</option>
                        <option value="Từ chối">Từ chối</option>
                    </select>
                    {% elif request.args.get('trangthaiyeucau') == "Phê duyệt"%}
                    <select name="trangthaiyeucau" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa phê duyệt">Chưa phê duyệt</option>
                        <option value="Phê duyệt" selected>Phê duyệt</option>
                        <option value="Từ chối">Từ chối</option>
                    </select>
                    {% elif request.args.get('trangthaiyeucau') == "Từ chối"%}
                    <select name="trangthaiyeucau" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa phê duyệt">Chưa phê duyệt</option>
                        <option value="Phê duyệt">Phê duyệt</option>
                        <option value="Từ chối" selected>Từ chối</option>
                    </select>
                    {% else %}
                    <select name="trangthaiyeucau" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa phê duyệt">Chưa phê duyệt</option>
                        <option value="Phê duyệt">Phê duyệt</option>
                        <option value="Từ chối">Từ chối</option>
                    </select>
                    {% endif %}
                </div>
                <div class="col">
                    <label style="font-size:15px; color: #4e73df; font-weight: bold;">Trạng thái thực hiện</label>
                    {% if request.args.get('trangthaithuchien') == "Chưa tuyển" %}
                    <select name="trangthaithuchien" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa tuyển" selected>Chưa tuyển</option>
                        <option value="Đã đăng tuyển">Đã đăng tuyển</option>
                        <option value="Chờ phỏng vấn">Chờ phỏng vấn</option>
                        <option value="Đang tuyển">Đang tuyển</option>
                        <option value="Đã tuyển">Đã tuyển</option>
                    </select>
                    {% elif request.args.get('trangthaithuchien') == "Đã đăng tuyển"%}
                    <select name="trangthaithuchien" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa tuyển">Chưa tuyển</option>
                        <option value="Đã đăng tuyển" selected>Đã đăng tuyển</option>
                        <option value="Chờ phỏng vấn">Chờ phỏng vấn</option>
                        <option value="Đang tuyển">Đang tuyển</option>
                        <option value="Đã tuyển">Đã tuyển</option>
                    </select>
                    {% elif request.args.get('trangthaithuchien') == "Chờ phỏng vấn"%}
                    <select name="trangthaithuchien" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa tuyển">Chưa tuyển</option>
                        <option value="Đã đăng tuyển">Đã đăng tuyển</option>
                        <option value="Chờ phỏng vấn" selected>Chờ phỏng vấn</option>
                        <option value="Đang tuyển">Đang tuyển</option>
                        <option value="Đã tuyển">Đã tuyển</option>
                    </select>
                    {% elif request.args.get('trangthaithuchien') == "Đang tuyển"%}
                    <select name="trangthaithuchien" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa tuyển">Chưa tuyển</option>
                        <option value="Đã đăng tuyển">Đã đăng tuyển</option>
                        <option value="Chờ phỏng vấn">Chờ phỏng vấn</option>
                        <option value="Đang tuyển" selected>Đang tuyển</option>
                        <option value="Đã tuyển">Đã tuyển</option>
                    </select>
                    {% elif request.args.get('trangthaithuchien') == "Đã tuyển"%}
                    <select name="trangthaithuchien" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa tuyển">Chưa tuyển</option>
                        <option value="Đã đăng tuyển">Đã đăng tuyển</option>
                        <option value="Chờ phỏng vấn">Chờ phỏng vấn</option>
                        <option value="Đang tuyển">Đang tuyển</option>
                        <option value="Đã tuyển" selected>Đã tuyển</option>
                    </select>
                    {% else %}
                    <select name="trangthaithuchien" class="form-control">
                        <option value="">Tất cả</option>
                        <option value="Chưa tuyển">Chưa tuyển</option>
                        <option value="Đã đăng tuyển">Đã đăng tuyển</option>
                        <option value="Chờ phỏng vấn">Chờ phỏng vấn</option>
                        <option value="Đang tuyển">Đang tuyển</option>
                        <option value="Đã tuyển">Đã tuyển</option>
                    </select>
                    {% endif %}
                </div>
                <div class="col">
                    <label style="font-size:15px; color: #4e73df; font-weight: bold;">Mã số thẻ người tạo</label>
                    <input name="mst" type="text" class="form-control" placeholder="Người tạo" value="{{request.args.get('mst','')}}">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary" style="margin-top: 27px;"><i class="fas fa-search" ></i></button>
                </div>
            </div>
        </form>
        <br>
    </div>
    <div class="content">
        {% if current_user.phanquyen == "tbp" or current_user.phanquyen == "sa" %}
        <div id="nutbam">
            <button type="button" class="btn btn-primary btn-sm" title="Thêm yêu cầu tuyến dụng" data-toggle="modal" data-target="#requestModal">
                Thêm yêu cầu tuyển dụng
            </button>
            <button type="button" class="btn btn-primary btn-sm" title="Tải lên JD" data-toggle="modal" data-target="#JDModal">
                Tải lên mô tả công việc
            </button>
        </div>
        {% endif %}
        <div class="modal fade" id="JDModal" tabindex="-1" role="dialog" aria-labelledby="JDModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="JDModalLabel">Mô tả công việc</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/tailenjd" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                {% if not current_user.phanquyen == "td" and not current_user.phanquyen == "sa" %}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <p>Bộ phận: {{current_user.phongban}}</p>
                                        <label for="jd_vitri">Vị trí</label>
                                        <select id="jd_vitri" name="jd_vitri" onchange="changeJdVitri()" class="form-control">
                                            <option value="" readonly>Chọn vị trí</option>
                                            {% for vt in cacvitri %}
                                            <option value='{{ vt }}'>{{ vt }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="text" id="jd_vitrien" name="jd_vitrien" hidden>
                                        <br>
                                        <input class="form-control" type="file" id="file" name="file" accept="application/pdf">                                    
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div style="display:flex; gap:5px;">
                                            <label for="jd_vitri">Vị trí:</label>
                                            <textarea style="border: none; height: 60px; width: 200px; 
                                            overflow-wrap: break-word; white-space: normal; resize: none;" 
                                            id="jd_vitri" name="jd_vitri" readonly></textarea>
                                        </div> 
                                        <input type="text" id="jd_vitrien" name="jd_vitrien" hidden>
                                        <br>
                                        <input class="form-control" type="file" id="file" name="file" accept="application/pdf">                                    
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height: 300px; overflow-y: scroll;">
                                    <div class="form-group">
                                        <div style="display:flex; gap:5px;">
                                            <input id="jd_timvitri" name="jd_timvitri" class="form-control" placeholder="Tìm vị trí">
                                            <i class="fa fa-search" aria-hidden="true" id="search-icon" style="cursor: pointer; margin-top: 5px;"></i>
                                        </div>
                                        <br>
                                        <label for="jd_danhsach_vitri">Danh sách vị trí</label>
                                        <ul id="jd_danhsach_vitri" class="list-group"><ul>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Tải lên"></input>
                    </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requestModalLabel">Yêu cầu tuyển dụng ( {{current_user.phongban}} )</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div style="display:flex; gap:5px;">
                                            <label for="vitri">Vị trí:</label>
                                            <textarea style="border: none; height: 40px; width: 200px; overflow-wrap: break-word; white-space: normal; resize: none;" id="vitri" name="vitri" readonly required></textarea>
                                        </div>                                                                              
                                        <div style="display:flex; gap:5px;">
                                            <label for="capbac">Cấp bậc:</label>
                                            <input type="text" style="border: none;width: 100px;" id="capbac" name="capbac" readonly>
                                        </div>
                                        <input type="text" id="vitrien" name="vitrien" hidden>
                                        <label for="bacluong">Bậc lương:</label>
                                        <div style="display:flex; gap:5px;">
                                            <b>Từ:</b> <select type="text" id="bacluongtu" name="bacluongtu" class="form-control" required></select>
                                        </div>
                                        <div style="display:flex; gap:5px;">
                                            <b>Đến:</b> <select type="text" id="bacluongden" name="bacluongden" class="form-control" required></select>
                                        </div>
                                        <div style="display:flex; gap:5px;">
                                            <label for="soluong">Số lượng:</label>
                                            <input style="width: 50px;" type="number" id="soluong" name="soluong" min="1" class="form-control" required>                                   
                                        </div>
                                        <label for="thoigiandukien">Thời gian dự kiến</label>
                                        <input type="date" id="thoigiandukien" name="thoigiandukien" class="form-control" required>
                                        <label for="phanloai">Phân loại</label>
                                        <select id="phanloai" name="phanloai" class="form-control" required>   
                                            <option value="Tuyển mới">Tuyển mới</option>
                                            <option value="Thay thế nghỉ việc">Thay thế nghỉ việc</option>
                                            <option value="Thay thế thai sản">Thay thế thai sản</option>
                                            <option value="Ngắn hạn">Ngắn hạn</option>
                                        </select>
                                        <br>
                                        <div style="display:flex; gap:5px;">
                                            <label for="trong_budget">Trong budget</label>
                                            <input type="checkbox" id="trong_budget" name="trong_budget">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="display:flex; gap:5px;">
                                        <input id="timvitri" name="timvitri" class="form-control" placeholder="Tìm vị trí">
                                        <i class="fa fa-search" aria-hidden="true" id="search-icon" style="cursor: pointer; margin-top: 5px;"></i>
                                    </div>
                                    <br>
                                    <label>Danh sách vị trí</label>
                                    <ul id="danhsach_vitri" class="list-group" style="height: 300px; overflow-y: scroll;"><ul>
                                </div>
                                <div class="col-3">
                                    <div style="display:flex; gap:5px;">
                                        <label for="mota">Mô tả công việc</label>
                                        <i class="fa fa-search" aria-hidden="true" onclick="mojd" style="cursor: pointer; margin-top: 5px;"></i>                            
                                    </div>
                                        <div id="pdf-preview"  style="width:180px; height: 400px; overflow: hidden;">
                                        <iframe id="pdf-frame" frameborder="0" src="" style="width: 100%; height: 100%; overflow: hidden;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p id="thongbao" style="color:red;max-width: 500px;text-align: left;">Mời bạn chọn vị trí cần tuyển dụng, nếu chưa có vui lòng liên hệ HR để thêm vào</p>
                        <input type="submit" class="btn btn-primary" id="themyctd" value="Gửi yêu cầu" disabled></input>
                    </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                    </div>
                
                </div>
            </div>
        </div>
        <br>
        <br>

        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="bg-primary">
                    <th></th>
                    <th>Bộ phận</th>
                    <th>Vị trí</th>
                    <th>Cấp bậc</th>
                    <th>Bậc lương</th>
                    <th>Khoảng lương</th>
                    <th>Trong budget</th>
                    <th>Kiểu lao động</th>
                    <th>Số lượng yêu cầu</th>
                    <th>Số lượng đã tuyển</th>
                    <th>JD</th>
                    <th>Thời gian dự kiến</th>
                    <th>Phân loại</th>
                    <th>Trạng thái yêu cầu</th>
                    <th>Trạng thái thực hiện</th>
                    <th>Ghi chú</th>
                    <th></th>
                    {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                {% if row[10] == "Chưa phê duyệt" %}
                <tr class="bg-warning">
                {% elif row[10] == "Từ chối" %}
                <tr class="bg-secondary">   
                {% else %}
                <tr class="bg-info">
                {% endif %}
                    <td>
                        <a class="btn btn-primary btn-sm" href="/muc2_2_1?id={{row[0]}}&vitri={{row[2]}}">Chi tiết</a>
                    </td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[20]}}</td>
                    <td>{{row[21]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[19]}}</td>
                    <td>
                        <form action="/download_JD" method="POST">
                            <input type="hidden" name="filename" value="{{row[7]}}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-download" aria-hidden="true"></i></button>
                        </form>
                    <td class="ngay">{{row[8]}}</td>
                    <td>{{row[9]}}</td>
                    {% if row[10] == "Chưa phê duyệt" and ((current_user.phanquyen == "gd" and row["20"]=="Ngoài") or current_user.phanquyen == "sa" or (current_user.masothe == 9514 and row["20"]=="Trong")) %}
                    <td>
                        <div style="display:flex;gap:5px;justify-content: space-around;">
                            <div>{{row[10]}}</div>
                            {% if not row[18] %}
                            <form action="/gd_pheduyet_tuyendung" method="POST">
                                <input type="hidden" name="id" value="{{row[0]}}">
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </form>
                            <form action="/gd_tuchoi_tuyendung" method="POST">
                                <input type="hidden" name="id" value="{{row[0]}}">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                            {% endif %}
                        </div>
                    </td>
                    {% else %}
                    <td>{{row[10]}}</td>
                    {% endif %}
                    {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa"%}
                        {% if row[10] == "Phê duyệt" %}
                        <td>
                            {% if not row[18] %}
                            <form action="/td_capnhat_tuyendung" method="POST">
                                <input type="hidden" name="id" value="{{row[0]}}">
                                <select name="trangthai" class="form-control" onchange="form.submit()" >
                                    {% for trangthai in cactrangthaithuchien %}
                                        {% if trangthai == row[11] %}
                                            <option selected>{{trangthai}}</option>
                                        {% else %}
                                            <option>{{trangthai}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </form>
                            {% endif%}
                        </td>
                        {% else %}
                        <td>{{row[11]}}</td>
                        {% endif %}
                    {% else %}
                    <td>{{row[11]}}</td>
                    {% endif %}
                    {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <td>
                            {% if not row[18] %}
                            <form action="/td_capnhat_ghichu_tuyendung" method="POST">
                                <input type="hidden" name="id" value="{{row[0]}}">
                                {% if row[12] %}
                                <input type="text" name="ghichu" class="form-control" onchange="form.submit()" value="{{row[12]}}">
                                {% else %}
                                <input type="text" name="ghichu" class="form-control" onchange="form.submit()">
                                {% endif %}
                            </form>
                            {% endif %}
                        </td>
                    {% else %}
                        {% if row[12] %}
                        <td>{{row[12]}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if current_user.hoten == row[14] or current_user.phanquyen == "sa" %}
                        <form action="/xoa_tuyendung" method="POST">
                            <input type="hidden" name="id" value="{{row[0]}}">
                            <input type="hidden" name="phongban" value="{{request.args.get('phongban','')}}">
                            <input type="hidden" name="trangthaiyeucau" value="{{request.args.get('trangthaiyeucau','')}}">
                            <input type="hidden" name="trangthaithuchien" value="{{request.args.get('trangthaithuchien','')}}">
                            <input type="hidden" name="mst" value="{{request.args.get('mst','')}}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                        {% endif %}
                    </td>
                    {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                    {% if row[18] %}
                    <td>
                        <form action="/mo_yeucautuyendung" method="POST">
                            <input type="hidden" name="id" value="{{row[0]}}">
                            <input type="hidden" name="phongban" value="{{request.args.get('phongban','')}}">
                            <input type="hidden" name="trangthaiyeucau" value="{{request.args.get('trangthaiyeucau','')}}">
                            <input type="hidden" name="trangthaithuchien" value="{{request.args.get('trangthaithuchien','')}}">
                            <input type="hidden" name="mst" value="{{request.args.get('mst','')}}">
                            <button class="btn btn-danger" type="submit">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                    {% else %}
                    <td>
                        <form action="/dong_yeucautuyendung" method="POST">
                            <input type="hidden" name="id" value="{{row[0]}}">
                            <input type="hidden" name="phongban" value="{{request.args.get('phongban','')}}">
                            <input type="hidden" name="trangthaiyeucau" value="{{request.args.get('trangthaiyeucau','')}}">
                            <input type="hidden" name="trangthaithuchien" value="{{request.args.get('trangthaithuchien','')}}">
                            <input type="hidden" name="mst" value="{{request.args.get('mst','')}}">
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-unlock" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function mojd () {
        link = document.getElementById("pdf-frame").src
        console.log(link)
        window.open(link, '_blank');
    };

    document.getElementById("timvitri").addEventListener("change", function() {
        const vitri = document.getElementById("timvitri").value;
        const danhsachvitri = document.getElementById("danhsach_vitri");
        
        axios({
            method: 'post',
            url: '/timcacchucdanh?tutimkiem=' + vitri
        })
            .then(function (response) {
                var data = response.data
                danhsachvitri.innerHTML = ""; // Clear existing options
                data.forEach(function(item) {
                    var li_element = document.createElement("li");
                    li_element.textContent = item;
                    li_element.className = "list-group-item";
                    li_element.addEventListener("click", function() {
                        document.getElementById("vitri").value = item;
                        danhsachvitri.innerHTML = "";
                        var vitrimoi = document.getElementById("vitri").value;
                        var thongbao = document.getElementById("thongbao");
                        var nutgui_yctd = document.getElementById("themyctd");
                        axios({
                            method: 'post',
                            url: '/lay_thongtin_vitri?vitri=' + vitrimoi
                        })
                            .then(function (response) {
                                var data = response.data["data"]
                                document.getElementById("capbac").value = data["Grade_code"];
                                document.getElementById("vitrien").value = data["Detail_job_title_EN"];
                                var pdfFrame = document.getElementById("pdf-frame");
                                var pdfPath = "static/uploads/mau/jd/" + data["Detail_job_title_EN"] + ".pdf";
                                var xhr = new XMLHttpRequest();
                                xhr.open('HEAD', pdfPath, true);
                                xhr.onload = function() {
                                    if (xhr.status === 200) {
                                        pdfFrame.src = pdfPath;
                                        thongbao.innerHTML = "JD được lưu ở: " + pdfPath
                                        nutgui_yctd.disabled = false
                                    } else {
                                        pdfFrame.src = "";
                                        thongbao.innerHTML = "Vị trí chưa có JD, vui lòng tải lên"
                                        nutgui_yctd.disabled = true
                                    }
                                };
                                xhr.onerror = function() {
                                    pdfFrame.src = "";
                                    thongbao.innerHTML = "Mời bạn chọn vị trí cần tuyển dụng, nếu chưa có vui lòng liên hệ HR để thêm vào"
                                    nutgui_yctd.disabled = true
                                };
                                xhr.send();

                                var bacluongtu = document.getElementById("bacluongtu")
                                var bacluongden = document.getElementById("bacluongden")
                                bacluongden.innerHTML = ""
                                bacluongtu.innerHTML = ""
                                var list_bacluong = data["Bac_luong"]
                                list_bacluong.forEach(element => {
                                    
                                    var option_bacluong = document.createElement("option")
                                    option_bacluong.value = element[0] + "," + them_cham_vao_so(element[1]) 
                                    option_bacluong.text = element[0] + " ( " + them_cham_vao_so(element[1]) + " )"
                                    bacluongtu.appendChild(option_bacluong);
                                });
                                list_bacluong.forEach(element => {
                                    
                                    var option_bacluong = document.createElement("option")
                                    option_bacluong.value = element[0] + "," + them_cham_vao_so(element[1]) 
                                    option_bacluong.text = element[0] + " ( " + them_cham_vao_so(element[1])  + " )"
                                    bacluongden.appendChild(option_bacluong);
                                });


                                })
                            .catch(function (error) {
                                console.log(error);
                            });
                    });
                    danhsachvitri.appendChild(li_element);
                });
            })
            .catch(function (error) {
                console.log(error);               
            })
        });

    
    document.getElementById("jd_timvitri").addEventListener("change", function() {
        const vitri = document.getElementById("jd_timvitri").value;
        const danhsachvitri = document.getElementById("jd_danhsach_vitri");
        
        axios({
            method: 'post',
            url: '/timcacchucdanh?tutimkiem=' + vitri
        })
            .then(function (response) {
                var data = response.data
                danhsachvitri.innerHTML = ""; // Clear existing options
                data.forEach(function(item) {
                    var li_element = document.createElement("li");
                    li_element.textContent = item;
                    li_element.className = "list-group-item";
                    li_element.addEventListener("click", function() {
                        document.getElementById("jd_vitri").value = item;
                        danhsachvitri.innerHTML = "";
                        axios({
                            method: 'post',
                            url: '/lay_thongtin_vitri?vitri=' + item
                        })
                            .then(function (response) {
                                var data = response.data["data"]
                                document.getElementById("jd_vitrien").value = data["Detail_job_title_EN"];
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    });
                    danhsachvitri.appendChild(li_element);
                });
            })
            .catch(function (error) {
                console.log(error);
            })
    
    });

    function them_cham_vao_so(so) {
        return so.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}

    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.ngay').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
            const td_elements = document.querySelectorAll('td');
    
            td_elements.forEach((element) => {
                if (element.textContent === 'None') {
                    element.textContent = '';
                }
            });
        })
</script>
{% endblock content %}