{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        border-collapse: collapse;
    }
    th {
        text-align: center;
        color: white;
    }
    td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust based on your requirement */
    }
    td, label, p, input, h5 {
        color: #4e73df;
        font-weight: bold;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary btn-sm" title="Thêm yêu cầu tuyến dụng" data-toggle="modal" data-target="#requestModal">
            Thêm yêu cầu tuyển dụng
        </button>
    </div>
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">Yêu cầu tuyển dụng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/muc2_2_1">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="bophan">Bộ phận</label>
                                    <input type="text" id="bophan" name="bophan" value={{current_user.bophan}}>
                                    <label for="vitri">Vị trí</label>
                                    <input type="text" id="vitri" name="vitri" >
                                    <label for="soluong">Số lượng</label>
                                    <input type="text" id="soluong" name="soluong" >
                                    <label for="mota">Mô tả công việc</label>
                                    <textarea class="form-control" id="mota" name="mota" rows="3"></textarea>
                                    <label for="thoigiandukien">Thời gian dự kiến</label>
                                    <input type="date" id="thoigiandukien" name="thoigiandukien" >
                                    <label for="phanloai">Phân loại</label>
                                    <select id="phanloai" name="phanloai">   
                                        <option value="Tuyển mới">Tuyển mới</option>
                                        <option value="Thay thế nghỉ việc">Thay thế nghỉ việc</option>
                                        <option value="Thay thế thai sản">Thay thế thai sản</option>
                                        <option value="Ngắn hạn">Ngắn hạn</option>
                                    </select>
                                    <label for="mucluong">Mức lương (Triệu đồng)</label>
                                    <input type="text" id="mucluongtu" name="mucluongtu" placeholder="Từ">
                                    <input type="text" id="mucluongden" name="mucluongden" placeholder="Đến">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                    <input type="submit" class="btn btn-primary" value="Gửi yêu cầu"></input>
                </div>
            </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>STT</th>
                    <th>Bộ phận</th>
                    <th>Vị trí</th>
                    <th>Số lượng</th>
                    <th>JD</th>
                    <th>Thời gian dự kiến</th>
                    <th>Phân loại</th>
                    <th>Khoảng lương</th>
                    <th>Trạng thái yêu cầu</th>
                    <th>Trạng thái thực hiện</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr class="bg-info">
                    <th>{{loop.index}}</th>
                    <th>{{row[0]}}</th>
                    <th>{{row[1]}}</th>
                    <th>{{row[2]}}</th>
                    <th>{{row[3]}}</th>
                    <th>{{row[4]}}</th>
                    <th>{{row[5]}}</th>
                    <th>{{row[6]}}</th>
                    <th>{{row[7]}}</th>
                    <th>{{row[8]}}</th>
                    <th>{{row[9]}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script>
</script>
{% endblock content %}
