{% extends  "base.html" %}
{% block title %}Danh sách ứng viên tuyển dụng{% endblock title %}
{% block style%}
<style>
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }

    .content {
        width: 200%;
    }
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        border-collapse: collapse;
        text-align: center;
    }
    th {
        text-align: center;
        color: white;
    }
    td, th {
        white-space: nowrap;
        overflow: hidden;

    }
    label, p, input, h5 {
        color: #4e73df;
        font-weight: bold;
    }
    td {
        color: white;
    }
    .table-responsive {
        max-height: 400px; /* Đặt chiều cao tối đa */
        overflow-y: auto; /* Thêm thanh cuộn dọc nếu cần */
    }
    #nameInput {
        margin-right:20px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    
    {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
    <div>
        <a class="btn btn-outline-danger" href="/muc2_2">Quay lại</a>
        <button type="button" class="btn btn-primary btn-sm" 
            title="Danh sách ứng viên đã từng ứng tuyển cùng vị trí" 
                data-toggle="modal" data-target="#CVModal">
            Danh sách ứng viên cũ 
        </button>
        <button type="button" class="btn btn-primary btn-sm" 
            title="Danh sách ứng viên ở 2.1" data-toggle="modal" 
                data-target="#CNModal">
            Danh sách ứng viên mới
        </button>
    </div>
    <div class="modal fade" id="CVModal" tabindex="-1" role="dialog" aria-labelledby="CVModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CVModalLabel">Danh sách ứng viên ứng tuyển cùng vị trí</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <table class="table table-bordered table-hover table-sm table-striped ">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Thêm</th>
                                        <th>Họ tên</th>
                                        <th>CCCD</th>
                                        <th>Giới tính</th>
                                        <th>Tuổi</th>
                                        <th>Kênh tuyển dụng</th>
                                        <th>Số năm kinh nghiệm</th>
                                        <th>CV</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in danhsach_ungvien_tiemnang %}
                                    <tr class="bg-info">
                                        <td>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-sm fa-plus"></i>
                                            </button>
                                        </td>
                                        <td>{{ row[1] }}</td>
                                        <td>{{ row[2] }}</td>
                                        <td>{{ row[3] }}</td>
                                        <td>{{ row[4] }}</td>
                                        <td>{{ row[20] }}</td>
                                        <td>{{ row[5] }}</td>
                                        <td><a href="{{ row[6] }}" target="_blank"><i class="fa fa-lg fa-search" aria-hidden="true" style="cursor: pointer;"></i></a></td>
                                        <td>{{ row[16] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CNModal" tabindex="-1" role="dialog" aria-labelledby="CNModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CNModalLabel">Danh sách ứng viên từ 2.1</h5>

                    <input type="text" id="nameInput" style="margin-left: 50px;" onkeyup="timkiem_theoten()" placeholder="Tìm kiếm" title="Họ tên">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-sm table-striped" id="bang_congnhan">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>Thêm</th>
                                            <th class="hoten">Họ tên</th>
                                            <th>Số điện thoại</th>
                                            <th>CCCD</th>
                                            <th>Kênh tuyển dụng</th>
                                            <th>Dân tộc</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in danhsach_congnhan_ungtuyen %}
                                        <tr class="bg-info">
                                            <td>
                                                <form action="/them_congnhan_vao_yctd" method="POST">
                                                    <input type="hidden" name="id" value={{row[39]}}>
                                                    <input type="hidden" name="id_yctd" value={{request.args.get('id')}}>
                                                    <input type="hidden" name="vitri" value={{request.args.get('vitri')}}>
                                                    <input type="hidden" name="phongban" value={{request.args.get('bophan')}}>
                                                    <button class="btn btn-danger" type="submit"> 
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="hoten">{{ row[2] }}</td>
                                            <td>{{ row[3] }}</td>
                                            <td>{{ row[4] }}</td>
                                            <td>{{ row[17] }}</td>
                                            <td>{{ row[5] }}</td>
                                            <td>{{ row[33] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
    
    {% endif %}
    <br>
    <h3><b>{{ vitri_tuyendung }}</b></h3>
    <br>
    <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
        <h5> Tổng: {{ so_ungvien_tong }} |</h5>
        <h5> Chờ phỏng vấn: {{ so_ungvien_chophongvan }} </h5>
        <h5> Đang phỏng vấn: {{ so_ungvien_dangphongvan }} </h5>
        <h5> Đã phỏng vấn: {{ so_ungvien_quaphongvan }} </h5>
        <h5> Đã nhận việc {{ so_ungvien_danhanviec }} </h5>
        <h5> Không nhận việc: {{ so_ungvien_khongnhanviec}} </h5>
    </div>
    <br>
    <div class="content">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="bg-primary">
                    <th rowspan="2" style="vertical-align:middle;">Họ tên</th>
                    <th rowspan="2" style="vertical-align:middle;">CCCD</th>
                    <th rowspan="2" style="vertical-align:middle;">Giới tính</th>
                    <th rowspan="2" style="vertical-align:middle;">Tuổi</th>
                    <th rowspan="2" style="vertical-align:middle;">Số năm kinh nghiệm</th>
                    <th rowspan="2" style="vertical-align:middle;">Kênh tuyển dụng</th>
                    <th rowspan="2" style="vertical-align:middle;">CV</th>
                    <th colspan="3">Phỏng vấn lần 1</th>
                    <th colspan="3">Phỏng vấn lần 2</th>
                    <th colspan="3">Phỏng vấn lần 3</th>
                    <th rowspan="2" style="vertical-align:middle;">Trạng thái</th>
                    <th rowspan="2" style="vertical-align:middle;">Ghi chú</th>
                    <th rowspan="2"></th>
                </tr>
                <tr class="bg-primary">
                    <th>Ngày</th>
                    <th>Kết quả</th>
                    <th>Đánh giá</th>
                    <th>Ngày</th>
                    <th>Kết quả</th>
                    <th>Đánh giá</th>
                    <th>Ngày</th>
                    <th>Kết quả</th>
                    <th>Đánh giá</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                {% if row[15]=="Qua phỏng vấn" %}
                <tr class="bg-warning">
                {% elif row[15]=="Trượt phỏng vấn" %}
                <tr class="bg-danger">
                {% elif row[15]=="Đang phỏng vấn" %}
                <tr class="bg-info">
                {% elif row[15]=="Đã nhận việc" %}
                <tr class="bg-success">
                {% elif row[15]=="Đang phỏng vấn" %}
                <tr class="bg-primary">
                {% else %}
                <tr class="bg-secondary">
                {% endif %}
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ten_yctd" method="POST">
                            <input type="text" name="hoten" value="{{ row[1] }}" onchange="this.form.submit()">
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[1] %}
                                <input type="text" value={{ row[1] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_cccd_yctd" method="POST">
                            {% if not row[2] %}
                            <input type="text" name="cccd" value="" onchange="this.form.submit()">
                            {% else %}
                            <input type="text" name="cccd" value="{{ row[2] }}" onchange="this.form.submit()">
                            {% endif %}
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[2] %}
                                <input type="text" value={{ row[2] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_gioitinh_yctd" method="POST">
                            {% if not row[3] %}
                            <input type="text" name="gioitinh" value="" onchange="this.form.submit()">
                            {% else %}
                            <input type="text" name="gioitinh" value="{{ row[3] }}" onchange="this.form.submit()">
                            {% endif %}
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[3] %}
                                <input type="text" value={{ row[3] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_tuoi_yctd" method="POST">
                            {% if not row[4] %}
                            <input type="number" name="tuoi" value="" onchange="this.form.submit()">
                            {% else %}
                            <input type="number" name="tuoi" value="{{ row[4] }}" onchange="this.form.submit()">
                            {% endif %}
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[4] %}
                                <input type="text" value={{ row[4] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_kinhnghiem_yctd" method="POST">
                            {% if not row[5] %}
                            <input type="number" name="kinhnghiem" value="" onchange="this.form.submit()" step="0.5">
                            {% else %}
                            <input type="number" name="kinhnghiem" value="{{ row[5] }}" onchange="this.form.submit()" step="0.5">
                            {% endif %}
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[5] %}
                                <input type="text" value={{ row[5] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_kenhtuyendung_yctd" method="POST">
                            {% if not row[20] %}
                            <input type="text" name="kenhtuyendung" value="" onchange="this.form.submit()">
                            {% else %}
                            <input type="text" name="kenhtuyendung" value="{{ row[20] }}" onchange="this.form.submit()" step="0.5">
                            {% endif %}
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[20] %}
                                <input type="text" value={{ row[20] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        {% if row[6] %}
                            <a class="btn btn-sm btn-primary" href="{{ row[6] }}" target="_blank">
                                <i class="fa fa-sm fa-search" aria-hidden="true" style="cursor: pointer;" > Xem</i>
                            </a> 
                        
                            <button class="btn btn-sm btn-danger" title="Tải CV" data-toggle="modal" data-target="#CVModal{{ row[0] }}">
                                <i class="fa fa-sm fa-clone" aria-hidden="true" style="cursor: pointer;" > Cập nhật</i>
                            </button> 
                            
                            <div class="modal fade" id="CVModal{{ row[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">File CV</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="/thaydoi_cv_yctd" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group mb-3">
                                                            <input type="file" class="form-control" name="file" required>
                                                            <input type="hidden" name="id" value={{row[0]}}>
                                                            <input type="hidden" name="id_yctd" value={{row[18]}}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary" value="Cập nhật"></input>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <button class="btn btn-sm btn-primary" title="Tải CV" data-toggle="modal" data-target="#CVModal{{ row[0] }}">
                                <i class="fa fa-lg fa-upload" aria-hidden="true" style="cursor: pointer;" > Tải lên</i>
                            </button> 
                            <div class="modal fade" id="CVModal{{ row[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">File CV</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="/thaydoi_cv_yctd" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group mb-3">
                                                            <input type="file" class="form-control" name="file" required>
                                                            <input type="hidden" name="id" value={{row[0]}}>
                                                            <input type="hidden" name="id_yctd" value={{row[18]}}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary" value="Tải lên"></input>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ngaypv1_yctd" method="POST">
                            <input type="date" name="ngaypv1" value="{{ row[7] }}" onchange="this.form.submit()">
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[6] %}
                                <input type="date" value={{ row[7] }} readonly>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ketquapv1_yctd" method="POST">
                            <select name="ketquapv1" onchange="this.form.submit()"> 
                                {% if row[8] == "pass" %}
                                <option selected>✔️</option>
                                <option value="failed">❌</option>
                                <option value="">⏳</option>
                                {% endif %}
                                {% if row[8] == "failed" %}
                                <option selected>❌</option>
                                <option value="pass">✔️</option>
                                <option value="">⏳</option>
                                {% endif %}
                                {% if not row[8] %}
                                <option value="pass">✔️</option>
                                <option value="failed">❌</option>
                                <option selected>⏳</option>
                                {% endif %}
                            </select>
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[8] == "pass" %}
                            ✔️
                            {% elif row[8] == "failed" %}
                            ❌
                            {% elif not row[8] %}
                            ⏳
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if row[9] %}
                            <button class="btn btn-danger">
                                <i class="fa fa-sm fa-file" aria-hidden="true" style="cursor: pointer;" onclick="openFile('{{ row[8] }}')"></td>
                            </button>
                        {% else %}
                            {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                            <button type="button" class="btn btn-primary btn-sm" title="Tải đánh giá ứng viên lần 1" data-toggle="modal" data-target="#KQUVModal1">
                                <i class="fa fa-upload" aria-hidden="true" style="cursor: pointer;"></i>
                            </button>
                            <div class="modal fade" id="KQUVModal1" tabindex="-1" role="dialog" aria-labelledby="UVModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="KQUVModal1Label">File đánh giá kết quả phỏng vấn</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="/upload_danhgia_uvtd_pv1" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input type="file" class="form-control" name="file" required>
                                                            <input type="hidden" name="id" value={{row[0]}}>
                                                            <input type="hidden" name="id_yctd" value={{row[18]}}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary" value="Tải lên"></input>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ngaypv2_yctd" method="POST">
                            <input type="date" name="ngaypv2" value="{{ row[10] }}" onchange="this.form.submit()">
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[17] }}>
                        </form>
                        {% else %}
                            {% if row[10] %}
                                <input type="date" value={{ row[10] }} readonly>
                                {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ketquapv2_yctd" method="POST">
                            <select name="ketquapv2" onchange="this.form.submit()"> 
                                {% if row[11] == "pass" %}
                                <option selected>✔️</option>
                                <option value="failed">❌</option>
                                <option value="">⏳</option>
                                {% endif %}
                                {% if row[11] == "failed" %}
                                <option selected>❌</option>
                                <option value="pass">✔️</option>
                                <option value="">⏳</option>
                                {% endif %}
                                {% if not row[11] %}
                                <option value="pass">✔️</option>
                                <option value="failed">❌</option>
                                <option selected>⏳</option>
                                {% endif %}
                            </select>
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[11] == "pass" %}
                            ✔️
                            {% elif row[11] == "failed" %}
                            ❌
                            {% elif not row[11] %}
                            ⏳
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if row[12] %}
                        <button class="btn btn-danger">
                            <i class="fa fa-lg fa-file" aria-hidden="true" style="cursor: pointer;" onclick="openFile('{{ row[12] }}')"></td>
                        </button>
                        {% else %}
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <button type="button" class="btn btn-primary btn-sm" title="Tải đánh giá ứng viên lần 2" data-toggle="modal" data-target="#KQUVModal2">
                            <i class="fa fa-upload" aria-hidden="true" style="cursor: pointer;"></i>
                        </button>
                        <div class="modal fade" id="KQUVModal2" tabindex="-1" role="dialog" aria-labelledby="UVModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="KQUVModal2Label">File đánh giá kết quả phỏng vấn</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="/upload_danhgia_uvtd_pv2" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="file" class="form-control" name="file" required>
                                                        <input type="hidden" name="id" value={{row[0]}}>
                                                        <input type="hidden" name="id_yctd" value={{row[18]}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary" value="Tải lên"></input>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ngaypv3_yctd" method="POST">
                            <input type="date" name="ngaypv1" value="{{ row[13] }}" onchange="this.form.submit()">
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                            {% if row[13] %}
                                <input type="date" value={{ row[13] }} readonly>
                                {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ketquapv3_yctd" method="POST">
                            <select name="ketquapv3" onchange="this.form.submit()"> 
                                {% if row[14] == "pass" %}
                                <option selected>✔️</option>
                                <option value="failed">❌</option>
                                <option value="">⏳</option>
                                {% endif %}
                                {% if row[14] == "failed" %}
                                <option selected>❌</option>
                                <option value="pass">✔️</option>
                                <option value="">⏳</option>
                                {% endif %}
                                {% if not row[14] %}
                                <option value="pass">✔️</option>
                                <option value="failed">❌</option>
                                <option selected>⏳</option>
                                {% endif %}
                            </select>
                            <input type="hidden" name="id" value={{ row[0] }}>
                            <input type="hidden" name="id_yctd" value={{ row[18] }}>
                        </form>
                        {% else %}
                        {% if row[14] == "pass" %}
                        ✔️
                        {% elif row[14] == "failed" %}
                        ❌
                        {% elif not row[14] %}
                        ⏳
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if row[15] %}
                        <button class="btn btn-danger">
                            <i class="fa fa-lg fa-file" aria-hidden="true" style="cursor: pointer;" onclick="openFile('{{ row[15] }}')"></td>
                        </button>
                        {% else %}
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <button type="button" class="btn btn-primary btn-sm" title="Tải đánh giá ứng viên lần 3" data-toggle="modal" data-target="#KQUVModal3">
                            <i class="fa fa-upload" aria-hidden="true" style="cursor: pointer;"></i>
                        </button>
                        <div class="modal fade" id="KQUVModal3" tabindex="-1" role="dialog" aria-labelledby="UVModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="KQUVModal3Label">File đánh giá kết quả phỏng vấn</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="/upload_danhgia_uvtd_pv3" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="file" class="form-control" name="file" required>
                                                        <input type="hidden" name="id" value={{row[0]}}>
                                                        <input type="hidden" name="id_yctd" value={{row[18]}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary" value="Tải lên"></input>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_trangthai_uvtd" method="POST">
                            <input type="hidden" name="id" value={{row[0]}}>
                            <input type="hidden" name="id_yctd" value={{row[18]}}>
                            {% if not row[16] or row[16]=="Chưa phỏng vấn" %}
                            <select name="trangthai" onchange="form.submit()">
                                <option selected>Chưa phỏng vấn</option>
                                <option value="Đang phỏng vấn">Đang phỏng vấn</option>
                                <option value="Qua phỏng vấn">Qua phỏng vấn</option>
                                <option value="Trượt phỏng vấn">Trượt phỏng vấn</option>
                                <option value="Đã nhận việc">Đã nhận việc</option>
                                <option value="Không nhận việc">Không nhận việc</option>
                            </select>
                            {% elif row[16]=="Đang phỏng vấn" %}
                            <select name="trangthai" onchange="form.submit()">
                                <option >Chưa phỏng vấn</option>
                                <option value="Đang phỏng vấn" selected>Đang phỏng vấn</option>
                                <option value="Qua phỏng vấn">Qua phỏng vấn</option>
                                <option value="Trượt phỏng vấn">Trượt phỏng vấn</option>
                                <option value="Đã nhận việc">Đã nhận việc</option>
                                <option value="Không nhận việc">Không nhận việc</option>
                            </select>
                            {% elif row[16]=="Qua phỏng vấn" %}
                            <select name="trangthai" onchange="form.submit()">
                                <option >Chưa phỏng vấn</option>
                                <option value="Đang phỏng vấn">Đang phỏng vấn</option>
                                <option value="Qua phỏng vấn" selected>Qua phỏng vấn</option>
                                <option value="Trượt phỏng vấn">Trượt phỏng vấn</option>
                                <option value="Đã nhận việc">Đã nhận việc</option>
                                <option value="Không nhận việc">Không nhận việc</option>
                            </select>
                            {% elif row[16]=="Trượt phỏng vấn" %}
                            <select name="trangthai" onchange="form.submit()">
                                <option >Chưa phỏng vấn</option>
                                <option value="Đang phỏng vấn">Đang phỏng vấn</option>
                                <option value="Qua phỏng vấn">Qua phỏng vấn</option>
                                <option value="Trượt phỏng vấn" selected>Trượt phỏng vấn</option>
                                <option value="Đã nhận việc">Đã nhận việc</option>
                                <option value="Không nhận việc">Không nhận việc</option>
                            </select>
                            {% elif row[16]=="Đã nhận việc" %}
                            <select name="trangthai" onchange="form.submit()">
                                <option value=""></option>
                                <option value="Chưa phỏng vấn">Chưa phỏng vấn</option>
                                <option value="Đang phỏng vấn">Đang phỏng vấn</option>
                                <option value="Qua phỏng vấn">Qua phỏng vấn</option>
                                <option value="Trượt phỏng vấn">Trượt phỏng vấn</option>
                                <option value="Đã nhận việc" selected>Đã nhận việc</option>
                                <option value="Không nhận việc">Không nhận việc</option>
                            </select>
                            {% elif row[16]=="Không nhận việc" %}
                            <select name="trangthai" onchange="form.submit()">
                                <option value=""></option>
                                <option value="Chưa phỏng vấn">Chưa phỏng vấn</option>
                                <option value="Đang phỏng vấn">Đang phỏng vấn</option>
                                <option value="Qua phỏng vấn">Qua phỏng vấn</option>
                                <option value="Trượt phỏng vấn">Trượt phỏng vấn</option>
                                <option value="Đã nhận việc">Đã nhận việc</option>
                                <option value="Không nhận việc" selected>Không nhận việc</option>
                            </select>
                            {% endif %}
                        </form>
                        {% else %}
                        {{ row[16] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/thaydoi_ghichu_uvtd" method="POST">
                            <input type="hidden" name="id" value={{row[0]}}>
                            <input type="hidden" name="id_yctd" value={{row[18]}}>
                            {% if row[17] %}
                            <input type="text" name="ghichu" value="{{ row[17] }}" onchange="form.submit()">  
                            {% else %}
                            <input type="text" name="ghichu" value="" onchange="form.submit()"> 
                            {% endif %}
                        </form>
                        {% else %}
                        {{ row[17] }}
                        {% endif %}
                    </td>  
                    <td>
                        {% if current_user.phanquyen == "td" or current_user.phanquyen == "sa" %}
                        <form action="/xoa_uvtd" method="POST">
                            <button class="btn btn-danger" type="submit"><i class="fa fa-lg fa-trash"></i></button>
                            <input type="hidden" name="id" value={{row[0]}}>
                            <input type="hidden" name="id_yctd" value={{row[18]}}>
                        </form>
                        {% endif %}
                    </td>  

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
<script>

    function openFile(path) { 
        window.open(path, '_blank'); 
    };

    document.addEventListener('DOMContentLoaded', (event) => {
        const td_elements = document.querySelectorAll('td');

        td_elements.forEach((element) => {
            if (element.textContent === 'None') {
                element.textContent = '';
            }
        });

        const inputs= document.querySelectorAll('input');

        inputs.forEach((element) => {
            element.style.border = 'none';
            if (element.textContent === 'None') {
                element.textContent = '';
            }
        });

        const selects = document.querySelectorAll('select');

        selects.forEach((element) => {
            element.style.border = 'none';
        });

    })

    function timkiem_theoten() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("nameInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("bang_congnhan");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock content %}