{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        border-collapse: collapse;
    }
    th {
        text-align: center;
        color: white;
    }
    td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust based on your requirement */
    }
    td, label, p, input, h5 {
        color: #4e73df;
        font-weight: bold;
    }
    #pdf-preview {
        transition: transform 0.3s ease;
    }
    
    #pdf-preview:hover {
        transform: scale(2); /* Scale the iframe size by 3 */
        transform-origin: top left; /* Expand from the top-left corner */
    }

</style>
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary btn-sm" title="Thêm yêu cầu tuyến dụng" data-toggle="modal" data-target="#requestModal">
            Thêm yêu cầu tuyển dụng
        </button>
    </div>
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">Yêu cầu tuyển dụng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/muc2_2_1">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="bophan">Bộ phận: {{current_user.phongban}}</label>
                                    <label for="vitri">Vị trí</label>
                                    <select id="vitri" name="vitri" >
                                        <option value="" readonly>Chọn vị trí</option>
                                        {% for vitri in cacvitri %}
                                        <option value="{{ vitri }}">{{ vitri }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" id="mucluongtu" name="mucluong" placeholder="Mức lương">
                                    <input type="text" id="soluong" name="soluong" placeholder="Số lượng">                                   
                                    <label for="thoigiandukien">Thời gian dự kiến</label>
                                    <input type="date" id="thoigiandukien" name="thoigiandukien" >
                                    <label for="phanloai">Phân loại</label>
                                    <select id="phanloai" name="phanloai">   
                                        <option value="Tuyển mới">Tuyển mới</option>
                                        <option value="Thay thế nghỉ việc">Thay thế nghỉ việc</option>
                                        <option value="Thay thế thai sản">Thay thế thai sản</option>
                                        <option value="Ngắn hạn">Ngắn hạn</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="mota">Mô tả công việc</label>
                                    <i class="fa fa-search" aria-hidden="true" id="search-icon" style="cursor: pointer;"></i>
                                <div id="pdf-preview">
                                    <iframe src="static/uploads/mau/jd/a.pdf" style="width: 200px; height: 260px; background-color: white;" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                    <input type="submit" class="btn btn-primary" value="Gửi yêu cầu"></input>
                </div>
            </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>STT</th>
                    <th>Bộ phận</th>
                    <th>Vị trí</th>
                    <th>Số lượng</th>
                    <th>JD</th>
                    <th>Thời gian dự kiến</th>
                    <th>Phân loại</th>
                    <th>Khoảng lương</th>
                    <th>Trạng thái yêu cầu</th>
                    <th>Trạng thái thực hiện</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr class="bg-info">
                    <th>{{loop.index}}</th>
                    <th>{{row[0]}}</th>
                    <th>{{row[1]}}</th>
                    <th>{{row[2]}}</th>
                    <th>{{row[3]}}</th>
                    <th>{{row[4]}}</th>
                    <th>{{row[5]}}</th>
                    <th>{{row[6]}}</th>
                    <th>{{row[7]}}</th>
                    <th>{{row[8]}}</th>
                    <th>{{row[9]}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.getElementById("search-icon").addEventListener("click", function() {
        
        window.open('static/uploads/mau/jd/a.pdf', '_blank');
    });

</script>
{% endblock content %}
