{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 11px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    input, select {
        margin-left: 10px;
        width: 150px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container">
   
    <br>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>STT</th>
                    <th>Bộ phận</th>
                    <th>Vị trí</th>
                    <th>Số lượng</th>
                    <th>JD</th>
                    <th>Thời gian dự kiến</th>
                    <th>Phân loại</th>
                    <th>Khoảng lương</th>
                    <th>Trạng thái yêu cầu</th>
                    <th>Trạng thái thực hiện</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <form action="/muc2_2_2" method="post">
                    <tr>
                        <th>{{loop.index}}</th>
                        <th>{{row[0]}}</th>
                        <th>{{row[1]}}</th>
                        <th>{{row[2]}}</th>
                        <th>{{row[3]}}</th>
                        <th>{{row[4]}}</th>
                        <th>{{row[5]}}</th>
                        <th>{{row[6]}}</th>
                        <th>
                            <select id="trangthaipheduyet" name="trangthaipheduyet">
                                <option value="Chờ phê duyệt">Chờ phê duyệt</option>
                                <option value="Đã phê duyệt">Đã phê duyệt</option>
                                <option value="Bị từ chối">Bị từ chối</option>
                            </select>
                        </th>
                        <th>
                            <select id="trangthaituyendung" name="trangthaituyendung">
                                <option value="Đang tuyển">Đang tuyển</option>
                                <option value="Đã tuyển">Đã tuyển</option>
                            </select>
                        </th>
                        <th><input type="text" id="ghichu" name="ghichu"></th>
                        <th><button type="submit" class="btn btn-primary">Lưu</button></th>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script>
</script>
{% endblock content %}
