{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td , button{
        font-size: 10px;
    }
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }
    .content {
        width: 100%;
    }
    .pagination {
        font-size: 10px;
    }
    input {
        margin-left: 10px;
        font-size: 10px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <h5>Tổng: {{count}}</h5>
            <form method="total">
                <input type="submit" class="btn btn-success" value="Xuất excel">
            </form>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền tổ</th>
                    <th>Phòng ban</th>
                    <th>Ngày kí HĐ</th>                    
                    <th>Ngày hết hạn HĐ</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
        
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <td>{{row[0]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[42]}}</td>
                    <td>{{row[50]}}</td>
                    <td>{{row[46]}}</td>
                    <td>{{row[40]}}</td>
                    <td>{{row[41]}}</td>
                    <td>{{row[60]}}</td>
                </tr>  
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock content %}
