{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td , button{
        font-size: 10px;
    }
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }
    .content {
        width: 1500px;
    }
    .pagination {
        font-size: 10px;
    }
    input {
        margin-left: 10px;
        font-size: 10px;
    }
    view-details {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
    
    .popup {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .popup-content {
        background-color: #fff;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    h5, #form_export {
        margin-right: 50px;
    }
    label, input, select,td, h3 {
        font-weight: bold;
        color: #4e73df;
    }
    label {
        width:120px;
        margin-left: 10px;
    }
    input, select {
        margin-left: 10px;
        width: 150px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <h5>Tổng: {{total}}</h5>
            <form method="post" id="form_export">
                <input type="submit" class="btn btn-success btn-sm" value="Xuất excel">
            </form>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th></th>
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền tổ</th>
                    <th>Phòng ban</th>
                    <th>Loại HĐ</th>                   
                    <th>Ngày hết hạn HĐ</th>
                    <th>Ngày hết hạn HĐ thử việc</th>
                    <th>Ngày hết hạn HĐ XĐTH 1</th>
                    <th>Ngày hết hạn HĐ XĐTH 2</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
        
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <td><a class="fas fa-fw fa-eye  view-details"></a></td>
                    <td>{{row[0]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[42]}}</td>
                    <td>{{row[50]}}</td>
                    <td>{{row[46]}}</td>
                    <td>{{row[39]}}</td>
                    <td class="date_en">{{row[41]}}</td>
                    <td class="date_en">{{row[63]}}</td>
                    <td class="date_en">{{row[65]}}</td>
                    <td class="date_en">{{row[67]}}</td>
                    <td>{{row[60]}}</td>
                </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });

</script>
{% endblock content %}
