{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
    }
    th {
        text-align: center;
        color: white;
    }
    .a_target {
        font-weight: bold;
        color: purple;
    }
    .b_target {
        font-weight: bold;
        color: green;
    }
    .c_target {
        font-weight: bold;
        color: red;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    <form method="get">
        <div class="form-group">
            <select id="employee" name="employee" onchange="this.form.submit()">
                <option value="NT1">NT1</option>
                <option value="NT2">NT2</option>
            </select>
            <label for="employee">Employee</label>
            <select id="employee" name="employee" onchange="this.form.submit()">
                <option value="NT1-345-Phạm Thị Vân Anh">Phạm Thị Vân Anh</option>
                <option value="NT1-345-Phạm Thị Vân Anh">Nguyễn Thị Thắng</option>
                <option value="NT1-345-Phạm Thị Vân Anh">Vũ Thị Hiền</option>
                <option value="NT1-345-Phạm Thị Vân Anh">Vũ Thị Hương Lan</option>
                <option value="NT1-345-Phạm Thị Vân Anh">Nguyễn Thị Thắng</option>
                <option value="NT1-345-Phạm Thị Vân Anh">Vũ Thị Hương Lan</option>
            </select>
            <label for="month">Month</label>
            <input type="text" id="month" name="month" value="{{ request.args.get('month', '') }}" onchange="this.form.submit()"></input>
            <label for="year">Year</label>
            <input type="text" id="year" name="year" value="{{ request.args.get('year', '') }}" onchange="this.form.submit()"></input>
        </div>
    </form>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
                <th rowspan="2" style="vertical-align: middle;">No.</th>
                <th rowspan="2" style="vertical-align: middle;">Department</th>
                <th rowspan="2" style="vertical-align: middle;">Objectives</th>
                <th rowspan="2" style="vertical-align: middle;">Possible measures</th>
                <th rowspan="2" style="vertical-align: middle;">Unit of measurement</th>
                <th rowspan="2" style="vertical-align: middle;">Measurement Source</th>
                <th colspan="3">Target</th>
                <th rowspan="2" style="vertical-align: middle;">Month</th>
                <th rowspan="2" style="vertical-align: middle;">Year</th>
                <th rowspan="2" style="vertical-align: middle;">Action</th>
            </tr>
            <tr class="bg-info">
                <th class="a_target">A</th>
                <th class="b_target">B</th>
                <th class="c_target">C</th>
            </tr>
        </thead>
        <tbody>
            {% for row in danhsachdong %}
            <tr data-info='{{ row  | safe }}'>
                <td>{{loop.index}}</td>
                <td>{{row["Department"]}}</td>
                <td>{{row["Objective"]}}</td>
                <td>{{row["Possible measures"]}}</td>
                <td>{{row["Unit of measurement"]}}</td>
                <td>{{row["Measurement source"]}}</td>                
                <td class="a_target">{{row["A target"]}}</td>
                <td class="b_target">{{row["B target"]}}</td>
                <td class="c_target">{{row["C target"]}}</td>
                <td>{{month}}</td>
                <td>{{year}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    // Function to format numbers with thousand separators
    function formatNumberWithCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    // Function to check if a string is a number
    function isNumber(value) {
        return !isNaN(value) && !isNaN(parseFloat(value));
    }

    // Function to format table cells
    function formatTableCells() {
        // Select all target cells
        const cells = document.querySelectorAll('.a_target, .b_target, .c_target');
        
        // Iterate over each cell
        cells.forEach(cell => {
            const cellContent = cell.textContent.trim();
            
            // Check if the cell content is a number
            if (isNumber(cellContent)) {
                const formattedNumber = formatNumberWithCommas(cellContent);
                cell.textContent = formattedNumber;
            }
        });
    }

    // Call the function to format table cells
    formatTableCells();
</script>

{% endblock content %}
