{% extends  "base.html" %}
{% block style%}
<style>

    table {
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
    }
    th {
        text-align: center;
        color: white;
    }
    td {
        text-align: left;
    }
    select, input {
        width: 120px;
    }
    input {
        margin-top:0;
    }
    h4 {
        color: red;
        font-weight: bold;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    
    <form action="/muc6_1" method="POST">
        
        <input type="hidden" name="mst" id="mst">
        <div class="row">
            <div class="col-3">
                <h4 id="hoten"></h4>
                <div class="form-group">
                    <label for="masothe">Mã số thẻ</label>
                </div>
                
                <div class="form-group">
                    <input type="text" id="masothe" name="masothe">
                </div>
                <div class="form-group">
                    <label for="loaidieuchuyen">Loại điều chuyển</label>
                </div>
                <div class="form-group">
                    <select id="loaidieuchuyen" name="loaidieuchuyen">
                        <option value="">Chọn</option>
                        <option value="Chuyển vị trí">Chuyển vị trí</option>
                        <option value="Nghỉ thai sản">Nghỉ thai sản</option>
                        <option value="Nghỉ việc">Nghỉ việc</option>
                        <option value="Thai sản đi làm lại">Thai sản đi làm lại</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ngaydieuchuyen">Ngày điều chuyển</label>
                </div>
                <div class="form-group">
                    <input type="date" id="ngaydieuchuyen" name="ngaydieuchuyen">
                </div>
                <div class="form-group">
                    <label for="ghichu">Ghi chú</label>
                </div>
                <div class="form-group">
                    <select id="ghichu" name="ghichu">
                        <option value="">Chọn</option>
                        <option value="Đánh giá không đạt">Đánh giá không đạt</option>
                        <option value="Rút hồ sơ">Rút hồ sơ</option>
                        <option value="Chuyển công tác">Chuyển công tác</option>
                        <option value="Nghỉ có đơn">Nghỉ có đơn</option>
                        <option value="Nghỉ tự do">Nghỉ tự do</option>
                        <option value="Sa thải">Sa thải</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" style="background-color: gray;">Trước điều chuyển</th>
                            <th></th>
                            <th colspan="2" style="background-color: blue;">Sau điều chuyển</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Detail job title (Vietnamese)*:</td>
                            <td><input type="text" id="vitricu" name="vitricu" ></td>
                            <td><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
                            <td>Detail job title (Vietnamese)*:</td>
                            <td>
                                <select id="vitrimoi" name="vitrimoi">
                                <option value="">Chọn vị trí mới</option>
                                {% for vitri in cacvitri %}
                                <option value="{{ vitri }}">{{ vitri }}</option>
                                {% endfor %}
                                </option>
                            </td>
                        </tr>
                        <tr>
                            <td>Line*:</td>
                            <td><input type="text" id="chuyencu" name="chuyencu" ></td>
                            <td><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
                            <td>Line*:</td>
                            <td>
                                <select id="chuyenmoi" name="chuyenmoi">
                                
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Detail job title (English):</td>
                            <td><input type="text" id="vitriencu" name="vitriencu" ></td>
                            <td></td>
                            <td>Detail job title (English):</td>
                            <td><input type="text" id="vitrienmoi" name="vitrienmoi" ></td>
                        </tr>
                        <tr>
                            <td>Grade code:</td>
                            <td><input type="text" id="gradecodecu" name="gradecodecu" ></td>
                            <td></td>
                            <td>Grade code:</td>
                            <td><input type="text" id="gradecodemoi" name="gradecodemoi" ></td>
                        </tr>
                        <tr>
                            <td>Section code:</td>
                            <td><input type="text" id="sectioncodecu" name="sectioncodecu" ></td>
                            <td></td>
                            <td>Section code:</td>
                            <td><input type="text" id="sectioncodemoi" name="sectioncodemoi" ></td>
                        </tr>
                        <tr>
                            <td>Section description:</td>
                            <td><input type="text" id="sectiondescriptioncu" name="sectiondescriptioncu" ></td>
                            <td></td>
                            <td>Section description:</td>
                            <td><input type="text" id="sectiondescriptionmoi" name="sectiondescriptionmoi" ></td>
                        </tr>
                        <tr>
                            <td>HC category:</td>
                            <td><input type="text" id="hccategorycu" name="hccategorycu" ></td>
                            <td></td>
                            <td>HC category:</td>
                            <td><input type="text" id="hccategorymoi" name="hccategorymoi" ></td>
                        </tr>
                        <tr>
                            <td>Department:</td>
                            <td><input type="text" id="departmentcu" name="departmentcu" ></td>
                            <td></td>
                            <td>Department:</td>
                            <td><input type="text" id="departmentmoi" name="departmentmoi" ></td>
                        </tr>
                        
                        <tr>
                            <td>Employee type:</td>
                            <td><input type="text" id="employeetypecu" name="employeetypecu" ></td>
                            <td></td>
                            <td>Employee type:</td>
                            <td><input type="text" id="employeetypemoi" name="employeetypemoi" ></td>
                        </tr>
                        <tr>
                            <td>Position code:</td>
                            <td><input type="text" id="positioncodecu" name="positioncodecu" ></td>
                            <td></td>
                            <td>Position code description:</td>
                            <td><input type="text" id="positioncodemoi" name="positioncodemoi" ></td>
                        </tr>
                        <tr>
                            <td>Position code description:</td>
                            <td><input type="text" id="positioncodedescriptioncu" name="positioncodedescriptioncu" ></td>
                            <td></td>
                            <td>Position code description:</td>
                            <td><input type="text" id="positioncodedescriptionmoi" name="positioncodedescriptionmoi" ></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="save-button" style="text-align: center;">
                            <td colspan="4"><input class="btn btn-primary" type="submit" value="Điều chuyển" onclick="return kiemtradieuchuyen()"></input></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>

    <script>
        function kiemtrathongtinnld() {
            axios({
                method: 'post',
                url: '/kiemtrathongtinnld?masothe=' + document.getElementById("masothe").value
            })
                .then(function (response) {
                    var data = response.data
                    if (response.data != "") {
                        console.log(data)
                        document.getElementById("mst").value = data["MST"];
                        document.getElementById("hoten").innerHTML = data["Họ tên"];
                        document.getElementById("vitricu").value = data["Job title VN"]; 
                        document.getElementById("vitriencu").value = data["Job title EN"];
                        document.getElementById("chuyencu").value = data["Line"]; 
                        document.getElementById("gradecodecu").value = data["Gradecode"];
                        document.getElementById("sectioncodecu").value = data["Section code"];
                        document.getElementById("hccategorycu").value = data["HC category"];
                        document.getElementById("departmentcu").value = data["Department"];
                        document.getElementById("sectiondescriptioncu").value = data["Section description"];
                        document.getElementById("employeetypecu").value = data["Employee type"];
                        document.getElementById("positioncodecu").value = data["Position code"];
                        document.getElementById("positioncodedescriptioncu").value = data["Position description"];
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        document.getElementById("masothe").addEventListener("change", function() {
            kiemtrathongtinnld()
        })

        document.getElementById("vitrimoi").addEventListener("change", function() {
            var vitrimoi = document.getElementById("vitrimoi").value
            axios({
                method: 'post',
                url: '/check_line_from_detailjob?vitrimoi=' + vitrimoi
            })
                .then(function (response) {
                    var data = response.data
                    if (response.data != "") {
                        console.log(data)
                        if (Array.isArray(data)) {
                            var select = document.getElementById('chuyenmoi');
                            select.innerHTML = ''; // Clear existing options
                            data.forEach(function(item) {
                                var option = document.createElement('option');
                                option.value = item; // Assuming item has a 'value' property
                                option.text = item; // Assuming item has a 'text' property
                                select.appendChild(option);
                            });
                        }
                        var chuyenmoi=data[0]
                        axios({
                            method: 'post',
                            url: '/check_hcname?vitri=' + vitrimoi+"&line="+chuyenmoi
                        })
                        .then(function (response) {
                            var data = response.data
                            if (response.data != "") {
                                console.log(data)
                                data = response.data
                                document.getElementById("vitrienmoi").value = data["Detail_job_title_EN"];
                                document.getElementById("gradecodemoi").value = data["Grade_code"]; // 3
                                document.getElementById("sectioncodemoi").value = data["Section_code"]; // 4
                                document.getElementById("hccategorymoi").value = data["HC_category"]; // 5
                                document.getElementById("departmentmoi").value = data["Department"]; // 6
                                document.getElementById("sectiondescriptionmoi").value = data["Section_description"]; // 7
                                document.getElementById("employeetypemoi").value = data["Employee_type"]; // 8
                                document.getElementById("positioncodemoi").value = data["Position_code"]; // 9
                                document.getElementById("positioncodedescriptionmoi").value = data["Position_code_description"]; // 10
                                    }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        document.getElementById("chuyenmoi").addEventListener("change", function() {
            var vitrimoi = document.getElementById("vitrimoi").value
            var chuyenmoi = document.getElementById("chuyenmoi").value
            axios({
                method: 'post',
                url: '/check_hcname?vitri=' + vitrimoi+"&line="+chuyenmoi
            })
            .then(function (response) {
                var data = response.data
                if (response.data != "") {
                    data = response.data
                    console.log(data)
                    document.getElementById("gradecodemoi").value = data["Grade_code"]; // 3
                    document.getElementById("sectioncodemoi").value = data["Section_code"]; // 4
                    document.getElementById("hccategorymoi").value = data["HC_category"]; // 5
                    document.getElementById("departmentmoi").value = data["Department"]; // 6
                    document.getElementById("sectiondescriptionmoi").value = data["Section_description"]; // 7
                    document.getElementById("employeetypemoi").value = data["Employee_type"]; // 8
                    document.getElementById("positioncodedescriptionmoi").value = data["Position_code_description"]; // 10
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        })

        document.getElementById("vitricu").addEventListener("change", function() {
            var vitricu = document.getElementById("vitricu").value
            axios({
                method: 'post',
                url: '/check_line_from_detailjob?vitrimoi=' + vitricu
            })
                .then(function (response) {
                    var data = response.data
                    if (response.data != "") {
                        console.log(data)
                        if (Array.isArray(data)) {
                            document.getElementById('chuyencu').value = data[0];
                        }
                        var chuyencu=data[0]
                        axios({
                            method: 'post',
                            url: '/check_hcname?vitri=' + vitricu+"&line="+chuyencu
                        })
                        .then(function (response) {
                            var data = response.data
                            if (response.data != "") {
                                console.log(data)
                                data = response.data
                                document.getElementById("vitriencu").value = data["Detail_job_title_EN"];
                                document.getElementById("gradecodecu").value = data["Grade_code"]; // 3
                                document.getElementById("sectioncodecu").value = data["Section_code"]; // 4
                                document.getElementById("hccategorycu").value = data["HC_category"]; // 5
                                document.getElementById("departmentcu").value = data["Department"]; // 6
                                document.getElementById("sectiondescriptioncu").value = data["Section_description"]; // 7
                                document.getElementById("employeetypecu").value = data["Employee_type"]; // 8
                                document.getElementById("positioncodecu").value = data["Position_code"]; // 9
                                document.getElementById("positioncodedescriptioncu").value = data["Position_code_description"]; // 10
                                    }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        document.getElementById("chuyencu").addEventListener("change", function() {
            var vitrimoi = document.getElementById("vitricu").value
            var chuyencu = document.getElementById("chuyencu").value
            axios({
                method: 'post',
                url: '/check_hcname?vitri=' + vitricu+"&line="+chuyencu
            })
            .then(function (response) {
                var data = response.data
                if (response.data != "") {
                    data = response.data
                    console.log(data)
                    document.getElementById("gradecodecu").value = data["Grade_code"]; // 3
                    document.getElementById("sectioncodecu").value = data["Section_code"]; // 4
                    document.getElementById("hccategorycu").value = data["HC_category"]; // 5
                    document.getElementById("departmentcu").value = data["Department"]; // 6
                    document.getElementById("sectiondescriptioncu").value = data["Section_description"]; // 7
                    document.getElementById("employeetypecu").value = data["Employee_type"]; // 8
                    document.getElementById("positioncodedescriptioncu").value = data["Position_code_description"]; // 10
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        })
        function kiemtradieuchuyen() {      
            var masothe = document.getElementById("masothe").value     
            var vitricu = document.getElementById("vitricu").value
            var vitrimoi = document.getElementById("vitrimoi").value
            var chuyencu = document.getElementById("chuyencu").value
            var chuyenmoi = document.getElementById("chuyenmoi").value
            var gradecodecu = document.getElementById("gradecodecu").value
            var gradecodemoi = document.getElementById("gradecodemoi").value
            var sectioncodecu = document.getElementById("sectioncodecu").value
            var sectioncodemoi = document.getElementById("sectioncodemoi").value
            var hccategorycu = document.getElementById("hccategorycu").value
            var hccategorymoi = document.getElementById("hccategorymoi").value
            var departmentcu = document.getElementById("departmentcu").value
            var departmentmoi = document.getElementById("departmentmoi").value
            var sectiondescriptioncu = document.getElementById("sectiondescriptioncu").value
            var sectiondescriptionmoi = document.getElementById("sectiondescriptionmoi").value
            var employeetypecu = document.getElementById("employeetypecu").value
            var employeetypemoi = document.getElementById("employeetypemoi").value
            var positioncodecu = document.getElementById("positioncodecu").value
            var positioncodemoi = document.getElementById("positioncodemoi").value
            var positioncodedescriptioncu = document.getElementById("positioncodedescriptioncu").value
            var positioncodedescriptionmoi = document.getElementById("positioncodedescriptionmoi").value
            var loaidieuchuyen = document.getElementById("loaidieuchuyen").value
            var ngaydieuchuyen = document.getElementById("ngaydieuchuyen").value
            var ghichu = document.getElementById("ghichu").value
            if (chuyencu == chuyenmoi) {
                alert("Chuyền không được trùng nhau !!!")
                return false
            }
            if (masothe == "") {
                alert("Vui lòng nhập mã số thẻ !!!")
                return false
            }
            if (ngaydieuchuyen == "") {
                alert("Vui lòng nhập ngày điều chuyển !!!")
                return false
            }
            if (loaidieuchuyen == "Chuyển vị trí") {
                if (window.confirm("Bạn muốn chuyển người có mã số thẻ là " + masothe + " từ vị trí "+vitricu+" sang vị trí "+vitrimoi + " từ ngày " + ngaydieuchuyen + " ?"))
                {
                    alert("Điều chuyển đã được ghi nhận !!!")
                    return true
                }
                else
                {
                    return false
                }
            }
            else if (loaidieuchuyen=="Nghỉ thai sản") { 
                if (window.confirm("Bạn muốn chuyển người có mã số thẻ là " + masothe + " sang trạng thái Nghỉ thai sản từ ngày " + ngaydieuchuyen + " ?"))
                {
                    alert("Điều chuyển đã được ghi nhận !!!")
                    return true
                }
                else
                {
                    return false
                }
            } else if (loaidieuchuyen=="Nghỉ việc") { 
                if (window.confirm("Bạn muốn chuyển người có mã số thẻ là " + masothe + " sang trạng thái Nghỉ việc vì lý do " + ghichu + "từ ngày " + ngaydieuchuyen + " ?"))
                {
                    alert("Điều chuyển đã được ghi nhận !!!")
                    return true
                }
                else
                {
                    return false
                }
            }
            else if (loaidieuchuyen=="Thai sản đi làm lại") {
                if (window.confirm("Bạn muốn chuyển người có mã số thẻ là " + masothe + " từ trạng thái nghỉ thai sản sang trạng thái Đang làm việc từ ngày " + ngaydieuchuyen + " ?")){
                    alert("Điều chuyển đã được ghi nhận !!!")
                    return true
                } 
                else 
                {   
                    return false
                }
            }
            else {
                alert("Vui lòng chọn loại điều chuyển")
                return false
            }
        }
    </script>
</div>
{% endblock content %}
