{% extends  "base.html" %}
{% block style%}
<style>
table, th, td {
    font-size: 10px;
}
input, select {
    margin-left: 10px;
    width: 150px;
}
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    <form action="/muc6_2" method="get">
        <label for="mst">Nhập mã số thẻ:</label>
        <input type="text" id="mst" name="mst" value={{request.args.get('mst', '')}}>

        <label for="ngay">Ngày:</label>
        <input type="date" id="ngay" name="ngay" value={{request.args.get('ngay', '')}}>

        <label for="linemoi">Chuyền mới:</label>
        <input type="text"id="linemoi" name="linemoi" value={{request.args.get('linemoi', '')}}></input>

        <label for="kieudieuchuyen">Kiểu điều chuyển:</label>
        <input type="text" id="kieudieuchuyen" name="kieudieuchuyen" value={{request.args.get('kieudieuchuyen', '')}}></input>

        <input type="submit" class="btn btn-primary" value="Tìm kiếm"></input>
        <br>
        <!-- Thêm các trường và nút khác nếu cần -->

    </form>
    <br>
    <h5>Tổng: {{count}}</h5>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th>STT</th> 
                <th>Mã số thẻ</th>
                <th>Vị trí cũ</th>
                <th>Line cũ</th>
                <th>Vị trí mới</th>
                <th>Line mới</th>
                <th>Kiểu điều chuyển</th>
                <th>Ngày thực hiện</th>
            </tr>
        </thead>
      
        <tbody>
            {% for row in danhsach %}
            <tr>
                <th>{{loop.index}}</th> 
                <th>{{row["MST"]}}</th>
                <th>{{row["Vị trí cũ"]}}</th>
                <th>{{row["Chuyền cũ"]}}</th>
                <th>{{row["Vị trí mới"]}}</th>
                <th>{{row["Chuyền mới"]}}</th>
                <th>{{row["Phân loại"]}}</th>
                <th>{{row["Ngày thực hiện"]}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
    
    </script>
</div>
{% endblock content %}
