{% extends  "base.html" %}
{% block style%}
<style>
table, th, td {
    font-size: 10px;
}
input, select, label {
    width: 150px;
    font-size: 12px;
    text-align: right;
}
.pagination {
    font-size: 10px;
    margin-left: 50px;
}
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    <form action="/muc6_2" method="get">
        <div class="form-group">
            <label for="mst">Nhập mã số thẻ:</label>
            <input type="text" id="mst" name="mst" value={{request.args.get('mst', '')}}>

            <label for="hoten">Họ tên:</label>
            <input type="text" id="hoten" name="hoten" value='{{request.args.get('hoten', '')}}'>

            <label for="ngay">Ngày:</label>
            <input type="date" id="ngay" name="ngay" value={{request.args.get('ngay', '')}}>

            <label for="kieudieuchuyen">Kiểu điều chuyển:</label>
            <input type="text" id="kieudieuchuyen" name="kieudieuchuyen" value='{{request.args.get('kieudieuchuyen', '')}}'></input>
        </div>
        <br>
        
    <div style="display: flex; align-items: center;">
            <input type="submit" class="btn btn-primary" value="Tìm kiếm"></input>
        </form>
        <h5 style="margin-left: 20px">Tổng: {{count}}</h5>
        <div class="pagination">{{pagination.links}}</div>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th>Mã số thẻ</th> 
                <th>Họ tên</th>
                <th>Vị trí cũ</th>
                <th>Line cũ</th>
                <th>Vị trí mới</th>
                <th>Line mới</th>
                <th>Kiểu điều chuyển</th>
                <th>Ngày thực hiện</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
      
        <tbody>
            {% for row in danhsach %}
            <tr data-info='{{ row  | safe }}'>
                <td>{{row["MST"]}}</td> 
                <td>{{row["Họ tên"]}}</td>
                <td>{{row["Vị trí cũ"]}}</td>
                <td>{{row["Chuyền cũ"]}}</td>
                <td>{{row["Vị trí mới"]}}</td>
                <td>{{row["Chuyền mới"]}}</td>
                <td>{{row["Phân loại"]}}</td>
                <td class='date_en'>{{row["Ngày thực hiện"]}}</td>
                <td>{{row["Ghi chú"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function changeFormatDate(date){
            if(date == 'None') return "";
            try{
                return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
            } catch {
                return "";    
        }}
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.date_en').forEach((element) => {
                element.textContent = changeFormatDate(element.textContent);
            });
        });
    </script>
</div>
{% endblock content %}
