{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        border-collapse: collapse;  
        text-align: center;
    }
    th {
        text-align: center;
        color: white;
    }
    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust based on your requirement */
        color: white;color: #4e73df;
        font-weight: bold;
    }
    td, label, p, input, h5, select {
        color: white;color: #4e73df;
        font-weight: bold;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    input, select, label {
        margin-left: 10px;
        width: 100px;
        font-size: 10px;
    }
    button {
        margin-right: 10px;
    }

    .col {
        border-top: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .center {
        padding: 20px;
    }

    #filterngay {
        margin: 10px;
    }
    .pagination {
        margin-left: 20px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="center">
    <div class="row">
        <div class="col">
            <h3><b>Đăng kí theo nhóm</b></h3>
            <hr />
            <br>
            <form action="/taimautangcanhom" method="POST">
                <input class="btn btn-primary btn-sm" value="Tải mẫu" type="submit"></input>
            </form>
            <br>
            <form action="/dangkitangcanhom" method="POST"  enctype="multipart/form-data">
                <input type="file" name="file" >
                <input class="btn btn-primary btn-sm" value="Đăng ký"  type="submit"></input>
            </form>
        </div>
        <div class="col">
            <h3><b>Đăng kí cá nhân</b></h3>
            <hr />
            <br>
            <form action="/dangkitangcacanhan" method="POST">
                <div class="form-group">
                    <label for="mst">Nhập mã số thẻ</label>
                    <input type="text" id="mst" name="mst">
                </div>
                <div class="form-group">
                    <label for="giotangca">Giờ tăng ca(16:30)</label>
                    <input type="text" id="giotangca" name="giotangca">
                </div>
                <div class="form-group">
                    <label for="ngaytangca">Ngày tăng ca</label>
                    <input type="date" id="ngaytangca" name="ngaytangca">
                </div>
                <input class="btn btn-primary btn-sm" value="Đăng ký" type="submit"></input>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form action="/muc7_1_7" method="GET" id="filterngay">
                <div class="form-group">
                    <label for="mst">MST</label>
                    <input type="text" id="mst" name="mst" value="{{ request.args.get('mst', '') }}">
                    <label for="phongban">Phòng ban</label>
                    <input type="text" id="phongban" name="phongban" value="{{ request.args.get('phongban', '') }}">
                </div>
                <div class="form-group">
                    <label for="chuyen">Chuyền tổ</label>
                    <input type="text" id="chuyen" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                    <label for="ngay">Ngày</label>
                    <input type="date" id="ngay" name="ngay" value="{{ request.args.get('ngay', '') }}">
                </div>
                <div class="form-group">
                    <label for="tungay">Từ ngày</label>
                    <input type="date" id="tungay" name="tungay" value="{{ request.args.get('tungay', '') }}">
                    <label for="denngay">Đến ngày</label>
                    <input type="date" id="denngay" name="denngay" value="{{ request.args.get('denngay', '') }}">
                </div>
                <div style="display: flex; align-items: center;">
                    <input type="submit" value="Xem" class="btn btn-primary btn-sm">
                </div>

            </form>
            
        </div>
        <div class="col" style="margin-left: 30px;">
            <h3>
                <b>Danh sách đăng kí tăng ca</b>
            </h3>
            <div style="display: flex; align-items: center; justify-content: center; margin-left: 50px;">
                <h5 >Tổng : {{count}}</h5>
                <form action="/export_dstc" method="POST">
                    <input type="date" id="ngay" name="ngay" value="{{ request.args.get('ngay', '') }}" hidden>
                    <input type="text" id="phongban" name="phongban" value="{{ request.args.get('phongban', '') }}" hidden>
                    <input type="text" id="mst" name="mst" value="{{ request.args.get('mst', '') }}" hidden>
                    <input type="text" id="chuyen" name="chuyen" value="{{ request.args.get('chuyen', '') }}" hidden>
                    <input type="date" id="tungay" name="tungay" value="{{ request.args.get('tungay', '') }}" hidden>
                    <input type="date" id="denngay" name="denngay" value="{{ request.args.get('denngay', '') }}" hidden>
                    <input type="submit" value="Xuất Excel" class="btn btn-success btn-sm">
                </form>
            </div>
            <div class="pagination">{{pagination.links}}</div>
            
        </div>
        <br>
        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th>STT</th>
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Phòng ban</th>
                    <th>Ngày</th>
                    <th>Giờ tăng ca</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{row  | safe }}'>
                    <td>{{loop.index}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[5]}}</td>
                    <td class="date_en">{{row[6]}}</td>
                    {% if row[7] %}
                    <td>{{row[7][:5]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script>
        document.getElementById("ngay").addEventListener("change", function (event) {
            if (document.getElementById("ngay").value != "") {
                document.getElementById("tungay").disabled = true;
                document.getElementById("denngay").disabled = true;
            } else {
                document.getElementById("tungay").disabled = false;
                document.getElementById("denngay").disabled = false;
            }
        })

        function changeFormatDate(date){
            if(date == 'None') return "";
            try{
                return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
            } catch {
                return "";    
        }}
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.date_en').forEach((element) => {
                element.textContent = changeFormatDate(element.textContent);
            });
        });
    </script>
</div>
{% endblock content %}
