{% extends  "base.html" %}
{% block style%}
<style>
table, th, td {
    font-size: 12px;
    font-weight:bold;
    color: black;
    border-collapse: collapse;  
    text-align: center;
}
th {
    text-align: center;
    color: white;
}
table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust based on your requirement */
}
td, label, p, input, h5,select {
    color: #4e73df;
    font-weight: bold;
}
label {
    text-align: right;
    font-size: 12px;
}
input, select {
    margin-left: 10px;
    font-size: 12px;
    width: 100px;
}
.scroll-container {
    width: 100%;
    overflow-x: scroll;
}

.content {
    width: 100%;
}
.pagination {
    font-size: 10px;
    margin-left: 20px;
}


</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <form method="GET" action="/muc7_1_2">
            <div class="form-group">
                <input id="mst" name="mst" placeholder="Mã số thẻ" value="{{ request.args.get('mst', '')  }}"></input>
                <input id="chuyen" name="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen', '')  }}"></input>
                <input id="bophan" name="bophan" placeholder="Bộ phận" value="{{ request.args.get('bophan', '') }}"></input>
                <input id="ngay" name="ngay" type="date" value={{request.args.get('ngay')}}></input>
                <input type="submit" class="btn btn-primary btn-sm" value="Tìm kiếm"></input>
            </div>
        </form>
        <br>
        <div style="display: flex; align-items: center;">
            <h5><b>Tổng: {{count}}</b></h5>
            <div class="pagination">{{ pagination.links }}</div>
            <form method="POST" action="/export_dslt">
                <div class="form-group">
                    <input type="hidden" name="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen', '') }}">
                    <input type="hidden" name="bophan" placeholder="Bộ phận" value="{{ request.args.get('bophan', '') }}">
                    <input type="hidden" name="ngay" placeholder="Ngày" value="{{ request.args.get('ngay', '') }}">
                    <input type="submit" class="btn btn-success btn-sm" value="Xuất Excel"></input>
                </div>
            </form>
        </div>
        <table class="table table-hover table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chuyền tổ</th>
                    <th>Chức danh</th>
                    <th>Ngày</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>Ca</th>
                    <th>Phút HC</th>
                    <th>Phút nghỉ phép</th>
                    <th>Số phút thiếu</th>
                    <th>Phép tồn</th>
                    <th>Phút nghỉ không lương</th>
                    <th>Phút nghỉ khác</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | tojson| safe }}' class="loichamcong">
                    <td>{{row["MST"]}}</td>
                    <td class="sticky">{{row["Họ tên"]}}</td>
                    <td>{{row["Chuyền tổ"]}}</td>
                    <td>{{row["Chức danh"]}}</td>
                    <td >{{row["Ngày"]}}</td>
                    {% if row["Giờ vào"] %}
                    <td>{{row["Giờ vào"]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if row["Giờ ra"] %}
                    <td>{{row["Giờ ra"]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{row["Ca"]}}</td>
                    <td>{{row["Phút HC"]}}</td>
                    <td>{{row["Phút nghỉ phép"]}}</td>
                    <td>{{row["Số phút thiếu"]}}</td>
                    <td>{{row["Phép tồn"]}}</td>
                    <td>{{row["Phút nghỉ không lương"]}}</td>
                    <td>{{row["Phút nghỉ khác"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Modal structure -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalLabel">Thông tin chi tiết lỗi chấm công</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Mã số thẻ:</strong> <span id="modalMST"></span></p>
                        <p><strong>Họ tên:</strong> <span id="modalHoTen"></span></p>
                        <p><strong>Chuyền tổ:</strong> <span id="modalChuyenTo"></span></p>
                        <p><strong>Chức danh:</strong> <span id="modalChucDanh"></span></p>
                        <p><strong>Ngày:</strong> <span id="modalNgay"></span></p>
                        <p><strong>Giờ vào:</strong> <span id="modalGioVao"></span></p>
                        <p><strong>Giờ ra:</strong> <span id="modalGioRa"></span></p>
                        <p><strong>Số phút thiếu:</strong> <span id="modalSoPhutThieu"></span></p>
                        <p><strong>Phép tồn:</strong> <span id="modalPhepTon"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#diemdanhbuModal">Điểm danh bù</button>
                        <div class="modal fade" id="diemdanhbuModal" tabindex="-1" role="dialog" aria-labelledby="diemdanhbuModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="diemdanhbuModalLabel">Điểm danh bù</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/diemdanhbu">
                                        <p><input type="text" readonly class="form-control" name="masothe_diemdanhbu" id="diemdanhbuModalMST"></input></p>
                                        <p><input type="text" readonly class="form-control" name="hoten_diemdanhbu" id="diemdanhbuModalHoTen"></input></p>
                                        <p><input type="text" readonly class="form-control" name="chuyento_diemdanhbu" id="diemdanhbuModalChuyenTo"></input></p>
                                        <input type="hidden" class="form-control" readonly name="chucdanh_diemdanhbu" id="diemdanhbuModalChucDanh">
                                        <input type="hidden" class="form-control" readonly name="phongban_diemdanhbu" id="diemdanhbuModalPhongban">
                                        <p><div style="display: flex; align-items: center;"><strong>Ngày:</strong> <input type="text" readonly class="form-control" name="ngay_diemdanhbu" id="diemdanhbuModalNgay"></input></div></p>
                                        <p><div style="display: flex; align-items: center;"><b>Giờ vào:</b> <input type="time" disabled class="form-control" name="giovao_diemdanhbu" id="diemdanhbuModalGioVao"></div></p>
                                        <p><div style="display: flex; align-items: center;"><b>Giờ ra:</b> <input type="time" disabled class="form-control" name="giora_diemdanhbu" id="diemdanhbuModalGioRa"></input></div></p>
                                        <p>
                                            <div style="display: flex; align-items: center;">
                                                <strong>Lý do:</strong> 
                                                <select class="form-control" name="lydo_diemdanhbu">
                                                    <option value="Quên thẻ">Quên thẻ</option>
                                                    <option value="Quên dập thẻ">Quên dập thẻ</option>
                                                    <option value="Lỗi máy chấm công">Lỗi máy chấm công</option>
                                                    <option value="Đi công tác">Đi công tác</option>
                                                </select>
                                            </div>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Điểm danh" onclick="return diemdanhbu()"></input/>
                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#xinnghiphepModal">Xin nghỉ phép</button>
                        <div class="modal fade" id="xinnghiphepModal" tabindex="-1" role="dialog" aria-labelledby="xinnghiphepModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="xinnghiphepModalLabel">Xin nghỉ phép</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/xinnghiphep">
                                        <p><input type="text" readonly class="form-control" name="masothe_xinnghiphep" id="xinnghiphepModalMST"></input></p>
                                        <p><input type="text" readonly class="form-control" name="hoten_xinnghiphep" id="xinnghiphepModalHoTen"></input></p>
                                        <p><input type="text" readonly class="form-control" name="chuyento_xinnghiphep" id="xinnghiphepModalChuyenTo"></input></p>
                                        <input type="hidden" class="form-control" readonly name="chucdanh_xinnghiphep" id="xinnghiphepModalChucDanh">
                                        <input type="hidden" class="form-control" readonly name="phongban_xinnghiphep" id="xinnghiphepModalPhongban">
                                        <p><div style="display: flex; align-items: center;"><strong>Ngày:</strong> <input type="text" readonly class="form-control" name="ngay_xinnghiphep" id="xinnghiphepModalNgay"></input></div></p>
                                        <p><div style="display: flex; align-items: center;"><strong>Số phút:</strong> <input type="text" readonly class="form-control" name="sophut_xinnghiphep" id="xinnghiphepModalSophut"></input></div></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Xin nghỉ phép" onclick="return xinnghiphep()"></input/>
                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#xinnghikhongluongModal">Xin nghỉ không lương</button>
                        <div class="modal fade" id="xinnghikhongluongModal" tabindex="-1" role="dialog" aria-labelledby="xinnghikhongluongModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="xinnghikhongluongModalLabel">Xin nghỉ không lương</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/xinnghikhongluong">
                                        <p><input type="text" readonly class="form-control" name="masothe_xinnghikhongluong" id="xinnghikhongluongModalMST"></input></p>
                                        <p><input type="text" readonly class="form-control" name="hoten_xinnghikhongluong" id="xinnghikhongluongModalHoTen"></input></p>
                                        <p><input type="text" readonly class="form-control" name="chuyento_xinnghikhongluong" id="xinnghikhongluongModalChuyenTo"></input></p>
                                        <input type="hidden" class="form-control" readonly name="chucdanh_xinnghikhongluong" id="xinnghikhongluongModalChucDanh">
                                        <input type="hidden" class="form-control" readonly name="phongban_xinnghikhongluong" id="xinnghikhongluongModalPhongban">
                                        <p><div style="display: flex; align-items: center;"><strong>Ngày:</strong> <input type="text" readonly class="form-control" name="ngay_xinnghikhongluong" id="xinnghikhongluongModalNgay"></input></div></p>
                                        <p><div style="display: flex; align-items: center;"><strong>Số phút:</strong> <input type="text" readonly class="form-control" name="sophut_xinnghikhongluong" id="xinnghikhongluongModalSophut"></input></div></p>
                                        <p><div style="display: flex; align-items: center;"><strong>Lý do:</strong> <input type="text" class="form-control" name="lydo_xinnghikhongluong" id="xinnghikhongluongModalLydo"></input></div></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Xin nghỉ" onclick="return xinnghikhongluong()"></input/>
                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changeFormatDate(date){
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}

    function compareTimeUp(time1, time2) {
        const [hours1, minutes1] = time1.split(':').map(Number);
        const [hours2, minutes2] = time2.split(':').map(Number);
        return (hours1 > hours2) || (hours1 === hours2 && minutes1 > minutes2);
    }

    function compareTimeDown(time1, time2) {
        const [hours1, minutes1] = time1.split(':').map(Number);
        const [hours2, minutes2] = time2.split(':').map(Number);
        return (hours1 < hours2) || (hours1 === hours2 && minutes1 < minutes2);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });

        const rows = document.querySelectorAll('.loichamcong');
        const modal = document.getElementById('infoModal');
        const diemdanhbumodal = document.getElementById('diemdanhbuModal');

        const modalMST = document.getElementById('modalMST');
        const modalHoTen = document.getElementById('modalHoTen');
        const modalChuyenTo = document.getElementById('modalChuyenTo');
        const modalChucDanh = document.getElementById('modalChucDanh');
        const modalNgay = document.getElementById('modalNgay');
        const modalGioVao = document.getElementById('modalGioVao');
        const modalGioRa = document.getElementById('modalGioRa');
        const modalSoPhutThieu = document.getElementById('modalSoPhutThieu');
        const modalPhepTon = document.getElementById('modalPhepTon');

        const diemdanhbuModalMST = document.getElementById('diemdanhbuModalMST');
        const diemdanhbuModalHoTen = document.getElementById('diemdanhbuModalHoTen');
        const diemdanhbuModalChuyenTo = document.getElementById('diemdanhbuModalChuyenTo');
        const diemdanhbuModalPhongban = document.getElementById('diemdanhbuModalPhongban');
        const diemdanhbuModalChucDanh = document.getElementById('diemdanhbuModalChucDanh');
        const diemdanhbuModalNgay = document.getElementById('diemdanhbuModalNgay');
        const diemdanhbuModalGioVao = document.getElementById('diemdanhbuModalGioVao');
        const diemdanhbuModalGioRa = document.getElementById('diemdanhbuModalGioRa');

        const xinnghiphepModalMST = document.getElementById('xinnghiphepModalMST');
        const xinnghiphepModalHoTen = document.getElementById('xinnghiphepModalHoTen');
        const xinnghiphepModalChuyenTo = document.getElementById('xinnghiphepModalChuyenTo');
        const xinnghiphepModalPhongban = document.getElementById('xinnghiphepModalPhongban');
        const xinnghiphepModalChucDanh = document.getElementById('xinnghiphepModalChucDanh');
        const xinnghiphepModalNgay = document.getElementById('xinnghiphepModalNgay');
        const xinnghiphepModalSophut = document.getElementById('xinnghiphepModalSophut');

        const xinnghikhongluongModalMST = document.getElementById('xinnghikhongluongModalMST');
        const xinnghikhongluongModalHoTen = document.getElementById('xinnghikhongluongModalHoTen');
        const xinnghikhongluongModalChuyenTo = document.getElementById('xinnghikhongluongModalChuyenTo');
        const xinnghikhongluongModalPhongban = document.getElementById('xinnghikhongluongModalPhongban');
        const xinnghikhongluongModalChucDanh = document.getElementById('xinnghikhongluongModalChucDanh');
        const xinnghikhongluongModalNgay = document.getElementById('xinnghikhongluongModalNgay');
        const xinnghikhongluongModalSophut = document.getElementById('xinnghikhongluongModalSophut');

        rows.forEach(row => {
            row.addEventListener('click', () => {
                const data = JSON.parse(row.getAttribute('data-info'));
                
                modalMST.textContent = data["MST"];
                modalHoTen.textContent = data["Họ tên"];
                modalChuyenTo.textContent = data["Chuyền tổ"];
                modalChucDanh.textContent = data["Chức danh"];
                modalNgay.textContent = data["Ngày"];
                modalGioVao.textContent = data["Giờ vào"] || '';
                modalGioRa.textContent = data["Giờ ra"] || '';
                modalSoPhutThieu.textContent = data["Số phút thiếu"];
                modalPhepTon.textContent = data["Phép tồn"];

                diemdanhbuModalMST.value = data["MST"];
                diemdanhbuModalHoTen.value = data["Họ tên"];
                diemdanhbuModalChuyenTo.value = data["Chuyền tổ"];
                diemdanhbuModalChucDanh.value = data["Chức danh"];
                diemdanhbuModalPhongban.value = data["Bộ phận"];
                diemdanhbuModalNgay.value = data["Ngày"];

                xinnghiphepModalMST.value = data["MST"];
                xinnghiphepModalHoTen.value = data["Họ tên"];
                xinnghiphepModalChuyenTo.value = data["Chuyền tổ"];
                xinnghiphepModalChucDanh.value = data["Chức danh"];
                xinnghiphepModalPhongban.value = data["Bộ phận"];
                xinnghiphepModalNgay.value = data["Ngày"];
                xinnghiphepModalSophut.value = data["Số phút thiếu"];

                xinnghikhongluongModalMST.value = data["MST"];
                xinnghikhongluongModalHoTen.value = data["Họ tên"];
                xinnghikhongluongModalChuyenTo.value = data["Chuyền tổ"];
                xinnghikhongluongModalChucDanh.value = data["Chức danh"];
                xinnghikhongluongModalPhongban.value = data["Bộ phận"];
                xinnghikhongluongModalNgay.value = data["Ngày"];
                xinnghikhongluongModalSophut.value = data["Số phút thiếu"];

                if(data["Giờ vào"]) {
                    diemdanhbuModalGioVao.value = data["Giờ vào"] || '';
                    if (compareTimeUp(data["Giờ vào"], '07:30')) {
                        diemdanhbuModalGioVao.disabled = false;
                    }
                } else {
                    diemdanhbuModalGioVao.disabled = false;
                }
                if (data["Giờ ra"]) {
                    diemdanhbuModalGioRa.value = data["Giờ ra"] || '';
                    if (compareTimeDown(data["Giờ ra"], '16:30')) {
                        diemdanhbuModalGioRa.disabled = false;
                    }
                } else {
                    diemdanhbuModalGioRa.disabled = false;
                }
                
                $(modal).modal('show');
            });
        });
    });
    
    function diemdanhbu() {
        if (diemdanhbuModalGioVao.value == '') {
            alert("Vui lòng nhập giờ vào !!!");
            return false;
        }
        if (diemdanhbuModalGioRa.value == '') {
            alert("Vui không nhận giờ ra !!!");
            return false;
        }
        if (confirm("Bạn có chắc chắn với các thông tin là chính xác ?")) {
            return true;
        } else {
            return false;
        }
    }

    function xinnghiphep() {
        if (confirm("Bạn có chắc chắn với các thông tin là chính xác ?")) {
            return true;
        } else {
            return false;
        }
    }

    function xinnghiphep() {
        if (confirm("Bạn có chắc chắn với các thông tin là chính xác ?")) {
            return true;
        } else {
            return false;
        }
    }
    
</script>
{% endblock content %}
