{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td , button{
        font-size: 10px;
        width: auto;
    }
    .scroll-container {
        width: 100%;
        overflow-x: auto;
    }
    .content {
        width: 1500px;
    }
    .pagination {
        font-size: 10px;
    }
    th.sticky, td.sticky {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td.sticky {
        background-color: #4e73df;
        color: white;
        font-weight: bold;
    }
    th.sticky {
        z-index: 2;
    }
    .pagination {
        font-size: 10px;
        margin-left:50px;
    }
    h5 {
        margin-right: 20px;
    }
    #mst_col {
        width: 60px;
    }
    .row_dakiemtra {
        background-color: #b3ff66;
    }
    .row_chuapheduyet {
        background-color: #ffffb3;
    }
    .row_bituchoi {
        background-color: #ccd9ff;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <h5>Tổng: {{count}}</h5>

            <form method="POST" action="/export_dsxnp">
                <input type="hidden" name="mst" value="{{ request.args.get('mst', '') }}">
                <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                <input type="hidden" name="hoten" value="{{ request.args.get('hoten', '') }}">
                <input type="hidden" name="ngaynghi" value="{{ request.args.get('ngaynghi', '') }}">
                <input type="hidden" name="chucvu" value="{{ request.args.get('chucvu', '') }}">
                <input type="hidden" name="trangthai" value="{{ request.args.get('trangthai', '') }}">
                <input type="hidden" name="bophan" value="{{ request.args.get('bophan', '') }}">
                <input type="hidden" name="lydo" value="{{ request.args.get('lydo', '') }}">
                <input type="submit" class="btn btn-success" value="Xuất Excel"></input>
            </form>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th id="mst_col">Mã số thẻ</th>
                    <th class="sticky">Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền tổ</th>
                    <th>Phòng ban</th>
                    <th>Ngày nghỉ</th>                    
                    <th>Tổng số phút</th>
                    <th>Lý do</th> 
                    <th>Trạng thái</th>
                </tr>
            </thead>
        
            <tbody>
            
            </tbody>
        </table>
        
    </div>
</div>
<script>
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
</script>
{% endblock content %}
