{% extends  "base.html" %}
{% block style%}
<style>
table, th, td {
    font-size: 10px;
}
label {
    text-align: right;
}
input, select, label {
    margin-left: 10px;
    width: 120px;
    font-size: 12px;
}
.scroll-container {
    width: 100%;
    overflow-x: scroll;
}

.content {
    width: 100%;
}
.pagination {
    font-size: 10px;
    margin-left: 20px;
}
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <form method="GET" action="/muc7_1_3">
                <div class="form-group">
                    <label for="chuyen">Chuyền:</label>
                    {% if request.args.get('chuyen') %}
                    <input id="chuyen" name="chuyen" value="{{ request.args.get('chuyen')  }}"></input>
                    {% else %}
                    <input id="chuyen" name="chuyen"></input>
                    {% endif %}
                    <label for="bophan">Bộ phận:</label>
                    {% if request.args.get('bophan') %}
                    <input id="bophan" name="bophan" value="{{ request.args.get('bophan') }}"></input>
                    {% else %}
                    <input id="bophan" name="bophan"></input>
                    {% endif %}
                    <label for="ngay">Ngày</label>
                    <input id="ngay" name="ngay" type="date" value={{request.args.get('ngay')}}></input>
                    <input type="submit" class="btn btn-primary" value="Tìm kiếm"></input>
                </div>
            </form>
            <br>
            <form method="POST" action="/export_dslt">
                <div class="form-group">
                    <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                    <input type="hidden" name="bophan" value="{{ request.args.get('bophan', '') }}">
                    <input type="hidden" name="ngay" value="{{ request.args.get('ngay', '') }}">
                    <input type="submit" class="btn btn-success" value="Xuất Excel"></input>
                </div>
            </form>
        </div>
        <div style="display: flex; align-items: center;">
            <h5><b>Tổng: {{count}}</b></h5>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Nhà máy</th>
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chuyền tổ</th>
                    <th>Chức vụ</th>
                    <th>Ngày điểm danh</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>Ca</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>Phân loại</th>
                    <th>Số phút thiếu</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <th>{{row["Nhà máy"]}}</th>
                    <th>{{row["MST"]}}</th>
                    <th>{{row["Họ tên"]}}</th>
                    <th>{{row["Chuyền tổ"]}}</th>
                    <th>{{row["Chức vụ"]}}</th>
                    <th>{{row["Ngày chấm"]}}</th>
                    <th>{{row["Giờ vào"]}}</th>
                    <th>{{row["Giờ ra"]}}</th>
                    <th>{{row["Ca"]}}</th>
                    <th>{{row["Bắt đầu"]}}</th>
                    <th>{{row["Kết thúc"]}}</th>
                    <th>{{row["Phân loại"]}}</th>
                    <th>{{row["Số phút thiếu"]}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
