{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td , button{
        font-size: 12px;
    }
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }
    .content {
        width: 2000px;
    }
    .pagination {
        font-size: 10px;
    }
    input {
        margin-left: 10px;
        font-size: 10px;
    }
    th.sticky, td.sticky {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td.sticky {
        background-color: gray;
        color: white;
        font-weight: bold;
    }
    th.sticky {
        z-index: 2;
    }
    .pagination {
        font-size: 10px;
        margin-left:50px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex;">
            <h5>Tổng: {{count}}</h5>

            <form method="POST" action="/export_dsxnp">
                <input type="hidden" name="mst" value="{{ request.args.get('mst', '') }}">
                <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                <input type="hidden" name="hoten" value="{{ request.args.get('hoten', '') }}">
                <input type="hidden" name="ngaynghi" value="{{ request.args.get('ngaynghi', '') }}">
                <input type="hidden" name="chucvu" value="{{ request.args.get('chucvu', '') }}">
                <input type="hidden" name="trangthai" value="{{ request.args.get('trangthai', '') }}">
                <input type="hidden" name="bophan" value="{{ request.args.get('bophan', '') }}">
                <input type="hidden" name="lydo" value="{{ request.args.get('lydo', '') }}">
                <input type="submit" class="btn btn-success" value="Xuất Excel"></input>
            </form>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Mã số thẻ</th>
                    <th class="sticky">Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền tổ</th>
                    <th>Phòng ban</th>
                    <th>Ngày nghỉ</th>                    
                    <th>Tổng số phút</th>
                    <th>Lý do</th> 
                    <th>Trạng thái</th>
                </tr>
                <tr class="table-secondary">
                    <form action="/muc7_1_5" method="get">
                        <th><input type="text" name="mst" id="mst" value="{{ request.args.get('mst', '') }}" onchange='this.form.submit()'></th>
                        <th class="sticky"><input type="text" name="hoten" id="hoten" value="{{ request.args.get('hoten', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="text" name="chucvu" id="chucvu" value="{{ request.args.get('chucvu', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="text" name="chuyen" id="chuyen" value="{{ request.args.get('chuyen', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="text" name="bophan" id="bophan" value="{{ request.args.get('bophan', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="date" name="ngaynghi" id="ngaynghi" value="{{ request.args.get('ngaynghi', '') }}" onchange='this.form.submit()'></th>                    
                        <th></th>
                        <th><input type="text" name="lydo" id="lydo" value="{{ request.args.get('lydo', '') }}" onchange='this.form.submit()'></th> 
                        <th><input type="text" name="trangthai" id="trangthai" value="{{ request.args.get('trangthai', '') }}" onchange='this.form.submit()'></th>
                    </form>
                </tr>
            </thead>
        
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <td>{{row[1]}}</td>
                    <td class="sticky">{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                    {% if row[9]=='Đã phê duyệt'%}
                    <td>{{row[9]}}</td>
                    {% elif row[9]=='Đã phê duyệt' %}
                    <td>{{row[9]}}</td>
                    {% else %}
                    <td>
                        <form action="/update_xinnghiphep" method="POST">
                            <input type="hidden" name="mst" value="{{row[1]}}">
                            <input type="hidden" name="bophan" value="{{row[5]}}">
                            <input type="hidden" name="mstduyet" value="{{current_user.mst}}">
                            <input type="hidden" name="ngaynghi" value="{{row[6]}}">
                            <input type="submit" class="btn btn-warning" value="{{row[9]}}"></input>
                        </form>
                    </td>
                    {% endif %}
                </tr>  
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock content %}
