{% extends  "loichamcong.html" %}
{% block title %}Danh sách điểm danh bù{% endblock title %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        color: black;
        border-collapse: collapse;  
        text-align: center;
    }
    th {
        text-align: center;
        color: white;
    }
    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        color: #4e73df;
        font-weight: bold;
    }
    .scroll-container {
        width: 100%;
        overflow-x: auto;
    }
    .content {
        width: 100%;
    }
    .pagination {
        font-size: 10px;
    }
    th.sticky_1, td.sticky_1 {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td.sticky_1 {
        background-color: #4e73df;
        color:white;
        font-weight: bold;
    }
    th.sticky_1 {
        z-index: 2;
    }
    th.sticky_2, td.sticky_2 {
        position: sticky;
        left: 60px;
        z-index: 1;
    }
    td.sticky_2 {
        background-color: #4e73df;
        color:white;
        font-weight: bold;
    }
    th.sticky_2 {
        z-index: 2;
    }
    .pagination {
        font-size: 10px;
        margin-left:50px;
    }
    h5 {
        margin-right: 20px;
    }
    .nhaplieu{
        width: 60px;
    }
    #kiemtra, #pheduyet {
        font-size: 10px;
        width:65px;
    }
    .row_chokiemtra {
        background-color: #ffffcc;
        color:black;
        font-weight: bold;
    }
    .row_dakiemtra {
        background-color: #ccffff;
        color:black;
        font-weight: bold;
    }
    .row_dapheduyet {
        background-color: #99ff99;
        color:black;
        font-weight: bold;
    }
    .row_bituchoi {
        background-color: #ffb3b3;
        color:black;
        font-weight: bold;
    }
    #diemdanhbupage {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }
    .hidden-col {
        display: none;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    <div class="scroll-container">
        <div class="content">
            <div style="display: flex;">
                <h5>Tổng: {{count}}</h5>
                <form method="POST">
                    <input type="hidden" name="mst" value="{{ request.args.get('mst', '') }}">
                    <input type="hidden" name="hoten" value="{{ request.args.get('hoten', '') }}">
                    <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                    <input type="hidden" name="bophan" value="{{ request.args.get('bophan', '') }}">
                    <input type="hidden" name="chucvu" value="{{ request.args.get('chucvu', '') }}">
                    <input type="hidden" name="ngay" value="{{ request.args.get('ngay', '') }}">
                    <input type="hidden" name="loaidiemdanh" value="{{ request.args.get('loaidiemdanh', '') }}">
                    <input type="hidden" name="trangthai" value="{{ request.args.get('trangthai', '') }}">
                    <input type="hidden" name="lydo" value="{{ request.args.get('lydo', '') }}">
                    <input type="hidden" name="mstthuky" value="{{ request.args.get('mstthuky', '') }}">
                    <input type="hidden" name="mstquanly" value="{{ request.args.get('mstquanly', '') }}">
                    <button type="submit" class="btn btn-success btn-sm">Xuất excel</button>
                </form>
                <div class="pagination">{{pagination.links}}</div>
                {% if notice["Quản lý"] %}
                    {% if not request.args.get('mstquanly') %}
                    <form method = "GET" style="margin-left: 50px;">
                        <input type="hidden" name="mstquanly" value="{{ current_user.masothe }}">
                        <input type="submit" class="btn btn-primary btn-sm" value="Phê duyệt"></input>
                    </form>
                    {% else %}
                        {% if notice["Thư ký"] %}
                        <form method = "GET" style="margin-left: 50px;">
                            <input type="hidden" name="mstthuky" value="{{ current_user.masothe }}">
                            <input type="submit" class="btn btn-primary btn-sm" value="Kiểm tra"></input>
                        </form>
                        {% else %}
                        <button class="btn btn-primary btn-sm" onclick="window.location.href='/muc7_1_3'" style="margin-left: 50px;">Quay lại</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <button id="toggle-cols" class="btn btn-secondary btn-sm" style="margin-left: 10px;">Hiển thị đầy đủ</button>
            </div>
            <br>
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="bg-primary">
                        <th class="sticky_1">Mã số thẻ</th>
                        <th class="sticky_2">Họ tên</th>
                        <th class="hidden-col">Chức danh</th>
                        <th class="hidden-col">Chuyền tổ</th>
                        <th class="hidden-col">Phòng ban</th>
                        <th>Loại điểm danh</th>
                        <th>Ngày</th>                    
                        <th>Giờ</th>
                        <th class="hidden-col">Lý do</th> 
                        <th>Trạng thái</th>
                        <th class="hidden-col">Thời gian tạo</th>
                        <th class="hidden-col">Thời gian duyệt</th>
                        <th><input type="checkbox" id="check_all"></th>
                        <th></th>
                    </tr>
                    <tr>
                        <form action = "/muc7_1_3" method = "GET">
                            <th class="sticky_1"><input type="text" class="nhaplieu" id="mst" name="mst" value="{{ request.args.get('mst', '') }}" onchange='this.form.submit()'></th>
                            <th class="sticky_2"><input type="text" class="nhaplieu" id="hoten" name="hoten" value="{{ request.args.get('hoten', '') }}" onchange='this.form.submit()'></th>
                            <th class="hidden-col"><input type="text" class="nhaplieu" id="chucvu" name="chucvu" value="{{ request.args.get('chucvu', '') }}" onchange='this.form.submit()'></th>
                            <th class="hidden-col"><input type="text" class="nhaplieu" id="chuyen" name="chuyen" value="{{ request.args.get('chuyen', '') }}" onchange='this.form.submit()'></th>
                            <th class="hidden-col"><input type="text" class="nhaplieu" id="bophan" name="bophan" value="{{ request.args.get('bophan', '') }}" onchange='this.form.submit()'></th>
                            <th><input type="text" class="nhaplieu" id="loaidiemdanh" name="loaidiemdanh" value="{{ request.args.get('loaidiemdanh', '') }}" onchange='this.form.submit()'></th>
                            <th><input type="date" class="nhaplieu" id="ngay" name="ngay" value="{{ request.args.get('ngay', '') }}" onchange='this.form.submit()'></th></th>
                            <th></th>  
                            <th class="hidden-col"><input type="text" class="nhaplieu" id="lydo" name="lydo" value="{{ request.args.get('lydo', '') }}" onchange='this.form.submit()'></th> 
                            <th>
                                <select class="nhaplieu" id="trangthai" name="trangthai" onchange='this.form.submit()'>
                                    <option value="{{ request.args.get('trangthai', '') }}">{{ request.args.get('trangthai', '') }}</option>
                                    <option value=""></option>
                                    <option value="Chờ kiểm tra">Chờ kiểm tra</option>
                                    <option value="Đã kiểm tra">Đã kiểm tra</option>
                                    <option value="Đã phê duyệt">Đã phê duyệt</option>
                                    <option value="Bị từ chối bởi người kiểm tra">Bị từ chối bởi người kiểm tra</option>
                                    <option value="Bị từ chối bởi người phê duyệt">Bị từ chối bởi người phê duyệt</option>
                                </select>
                            </th>
                            <th></th>
                            <th></th>
                        </form>
                    </tr>
                </thead>
            
                <tbody>
                    {% for row in danhsach %}
                    {% if row[10]=='Chờ kiểm tra'%}
                        <tr data-info='{{ row  | safe }}' class="row_chokiemtra">
                    {% elif row[10]=='Đã kiểm tra' or row[10]=='Đã kiểm tra'%}
                        <tr data-info='{{ row  | safe }}' class="row_dakiemtra">
                    {% elif row[10]=='Đã phê duyệt'%}
                        <tr data-info='{{ row  | safe }}' class="row_dapheduyet">
                    {% elif row[10]=='Bị từ chối bởi người kiểm tra' or row[10]=='Bị từ chối bởi người phê duyệt' %}
                        <tr data-info='{{ row  | safe }}' class="row_bituchoi">  
                    {% else %}
                        <tr data-info='{{ row  | safe }}' class="row_dapheduyet">
                    {% endif %} 
                            <td class="sticky_1">{{row[1]}}</td>
                            <td class="sticky_2">{{row[2]}}</td>
                            <td class="hidden-col">{{row[3]}}</td>
                            <td class="hidden-col">{{row[4]}}</td>
                            <td class="hidden-col">{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td class="date_en">{{row[7]}}</td>
                            <td>{{row[8][:5]}}</td>
                            {% if row[9] %}
                            <td class="hidden-col">{{row[9]}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{row[10]}}</td>
                            <td class="hidden-col">{{row[12]}}</td>
                            <td class="hidden-col">{{row[13]}}</td>
                            {% if row[10]=='Chờ kiểm tra'%}
                                <td>
                                    <div style="display: flex;">
                                        <form action="/thuky_kiemtra_diemdanhbu" method="POST" style="margin-left: 10px;">
                                            <input type="hidden" name="id" value="{{row[11]}}">
                                            <input type="hidden" name="mst_diemdanh" value="{{row[1]}}">
                                            <input type="hidden" name="mst_filter" value="{{ request.args.get('mst', '') }}">
                                            <input type="hidden" name="hoten_filter" value="{{ request.args.get('hoten', '') }}">
                                            <input type="hidden" name="chucvu_filter" value="{{ request.args.get('chucvu', '') }}">
                                            <input type="hidden" name="chuyen_filter" value="{{ request.args.get('chuyen', '') }}">
                                            <input type="hidden" name="bophan_filter" value="{{ request.args.get('bophan', '') }}">
                                            <input type="hidden" name="loaidiemdanh_filter" value="{{ request.args.get('loaidiemdanh', '') }}">
                                            <input type="hidden" name="ngay_filter" value="{{ request.args.get('ngay', '') }}">
                                            <input type="hidden" name="lydo_filter" value="{{ request.args.get('lydo', '') }}">
                                            <input type="hidden" name="trangthai_filter" value="{{ request.args.get('trangthai', '') }}">
                                            <input type="hidden" name="mstquanly" value="{{ request.args.get('mstquanly', '') }}">
                                            <input type="hidden" name="mstthuky" value="{{ request.args.get('mstthuky', '') }}">
                                            <input type="hidden" name="chuyen" value="{{row[4]}}">
                                            <input type="submit" class="btn btn-warning"  name="kiemtra" value="Kiểm tra">
                                        </form>
                                        <form action="/thuky_kiemtra_diemdanhbu" method="POST" style="margin-left: 10px;">
                                            <input type="hidden" name="id" value="{{row[11]}}">
                                            <input type="hidden" name="chuyen" value="{{row[4]}}">
                                            <input type="hidden" name="mst_diemdanh" value="{{row[1]}}">
                                            <input type="hidden" name="mst_filter" value="{{ request.args.get('mst', '') }}">
                                            <input type="hidden" name="hoten_filter" value="{{ request.args.get('hoten', '') }}">
                                            <input type="hidden" name="chucvu_filter" value="{{ request.args.get('chucvu', '') }}">
                                            <input type="hidden" name="chuyen_filter" value="{{ request.args.get('chuyen', '') }}">
                                            <input type="hidden" name="bophan_filter" value="{{ request.args.get('bophan', '') }}">
                                            <input type="hidden" name="loaidiemdanh_filter" value="{{ request.args.get('loaidiemdanh', '') }}">
                                            <input type="hidden" name="ngay_filter" value="{{ request.args.get('ngay', '') }}">
                                            <input type="hidden" name="lydo_filter" value="{{ request.args.get('lydo', '') }}">
                                            <input type="hidden" name="trangthai_filter" value="{{ request.args.get('trangthai', '') }}">
                                            <input type="hidden" name="mstquanly" value="{{ request.args.get('mstquanly', '') }}">
                                            <input type="hidden" name="mstthuky" value="{{ request.args.get('mstthuky', '') }}">
                                            <input type="submit" class="btn btn-danger"  name="kiemtra" value="Từ chối">
                                        </form>
                                    </div>
                                </td>
                                {% elif row[10]=='Đã kiểm tra' or row[10]=='Đã kiểm tra'%}
                                <td>
                                    <div style="display: flex;">
                                        <form action="/quanly_pheduyet_diemdanhbu" method="POST" style="margin-left: 10px;">
                                            <input type="hidden" name="id" value="{{row[11]}}">
                                            <input type="hidden" name="mst_diemdanh" value="{{row[1]}}">
                                            <input type="hidden" name="chuyen" value="{{row[4]}}">
                                            <input type="hidden" name="mst_filter" value="{{ request.args.get('mst', '') }}">
                                            <input type="hidden" name="hoten_filter" value="{{ request.args.get('hoten', '') }}">
                                            <input type="hidden" name="chucvu_filter" value="{{ request.args.get('chucvu', '') }}">
                                            <input type="hidden" name="chuyen_filter" value="{{ request.args.get('chuyen', '') }}">
                                            <input type="hidden" name="bophan_filter" value="{{ request.args.get('bophan', '') }}">
                                            <input type="hidden" name="loaidiemdanh_filter" value="{{ request.args.get('loaidiemdanh', '') }}">
                                            <input type="hidden" name="ngay_filter" value="{{ request.args.get('ngay', '') }}">
                                            <input type="hidden" name="lydo_filter" value="{{ request.args.get('lydo', '') }}">
                                            <input type="hidden" name="trangthai_filter" value="{{ request.args.get('trangthai', '') }}">
                                            <input type="hidden" name="mstquanly" value="{{ request.args.get('mstquanly', '') }}">
                                            <input type="hidden" name="mstthuky" value="{{ request.args.get('mstthuky', '') }}">
                                            <input type="submit" class="btn btn-success btn-sm"  name="pheduyet" value="Phê duyệt">
                                        </form>
                                        <form action="/quanly_pheduyet_diemdanhbu" method="POST" style="margin-left: 10px;">
                                            <input type="hidden" name="id" value="{{row[11]}}">
                                            <input type="hidden" name="chuyen" value="{{row[4]}}">
                                            <input type="hidden" name="mst_diemdanh" value="{{row[1]}}">
                                            <input type="hidden" name="mst_filter" value="{{ request.args.get('mst', '') }}">
                                            <input type="hidden" name="hoten_filter" value="{{ request.args.get('hoten', '') }}">
                                            <input type="hidden" name="chucvu_filter" value="{{ request.args.get('chucvu', '') }}">
                                            <input type="hidden" name="chuyen_filter" value="{{ request.args.get('chuyen', '') }}">
                                            <input type="hidden" name="bophan_filter" value="{{ request.args.get('bophan', '') }}">
                                            <input type="hidden" name="loaidiemdanh_filter" value="{{ request.args.get('loaidiemdanh', '') }}">
                                            <input type="hidden" name="ngay_filter" value="{{ request.args.get('ngay', '') }}">
                                            <input type="hidden" name="lydo_filter" value="{{ request.args.get('lydo', '') }}">
                                            <input type="hidden" name="trangthai_filter" value="{{ request.args.get('trangthai', '') }}">
                                            <input type="hidden" name="mstquanly" value="{{ request.args.get('mstquanly', '') }}">
                                            <input type="hidden" name="mstthuky" value="{{ request.args.get('mstthuky', '') }}">
                                            <input type="submit" class="btn btn-danger btn-sm"  name="pheduyet" value="Từ chối">
                                        </form>
                                    </div>
                                </td>
                                {% else %}
                                <td></td>
                                <td><input type="checkbox" name="selected_ids" value="{{ row[11] }}"></td>
                            {% endif %}
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>
<script>
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";
        }
    }

    document.getElementById('check_all').addEventListener('change', function () {
        const checkboxes = document.querySelectorAll('input[name="selected_ids"]');
        checkboxes.forEach(cb => cb.checked = this.checked);
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });

        const initialState = localStorage.getItem('showHiddenCols') === 'true';
        const hiddenColsInit = document.querySelectorAll('.hidden-col');
        hiddenColsInit.forEach(col => {
            col.style.display = initialState ? 'table-cell' : 'none';
        });
        const toggleBtn = document.getElementById('toggle-cols');
        if (toggleBtn) {
            toggleBtn.textContent = initialState ? 'Ẩn bớt thông tin' : 'Hiển thị đầy đủ';

            toggleBtn.addEventListener('click', function () {
                const hiddenCols = document.querySelectorAll('.hidden-col');
                hiddenCols.forEach(col => {
                    col.style.display = (col.style.display === 'none' || col.style.display === '') ? 'table-cell' : 'none';
                });
                const isNowVisible = hiddenCols[0].style.display === 'table-cell';
                localStorage.setItem('showHiddenCols', isNowVisible);
                this.textContent = isNowVisible ? 'Ẩn bớt thông tin' : 'Hiển thị đầy đủ';
            });
        }
    });
</script>
{% endblock content %}
