{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        color: black;
        border-collapse: collapse;  
        text-align: center;
    }
    th {
        text-align: center;
        color: white;
    }
    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust based on your requirement */
        color: white;color: #4e73df;
        font-weight: bold;
    }
    td, label, p, input, h5, select {
        color: white;color: #4e73df;
        font-weight: bold;
    }
    label {
        width: auto;
    }
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }

    .content {
        width: auto;
    }
    .pagination {
        font-size: 10px;
        margin-left: 20px;
    }
    th.sticky, td.sticky {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td.sticky {
        background-color: #4e73df;
        color: white;
        font-weight: bold;
    }
    th.sticky {
        z-index: 2;
    }

</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <form method="GET" action="/muc7_1_10">
                <div class="form-group">
                    <input id="mst" name="mst" placeholder="Mã số thẻ" value="{{ request.args.get('mst', '') }}" onchange="this.form.submit()"></input>
                </div>
            </form>
            <input class="btn btn-primary btn-sm" onclick="window.location.href='/muc7_1_10'" value="tất cả"></input>
            <form method="POST">
                <input type="hidden" name="chuyen" value="{{ request.args.get('mst', '') }}">
                <input type="submit" class="btn btn-success btn-sm" value="Xuất Excel"></input>
            </form>
        </div>
        <div style="display: flex; align-items: center;">
            <h5><b>Tổng: {{count}}</b></h5>
            <div class="pagination">{{ pagination.links }}</div>            
        </div>
        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chức danh</th>
                    <th>Tháng</th>
                    <th>Năm</th>
                    <th>Số phút phép được dùng</th>
                    <th>Số phút phép đã chốt</th>
                    <th>Số phút phép chưa chốt</th>
                    <th>Số phút phép chờ dùng</th>
                    <th>Số phút phép còn lại</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                    <td>{{row[9]}}</td>
                    <td>{{row[10]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function changeFormatDate(date){
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
</script>
{% endblock content %}
