{% extends  "base.html" %}
{% block style%}
<style>
table, th, td {
    font-size: 10px;
}
label {
    text-align: right;
    font-size: 12px;
}
input, select {
    margin-left: 10px;
    font-size: 12px;
    width: 100px;
}
.scroll-container {
    width: 100%;
    overflow-x: scroll;
}

.content {
    width: 100%;
}
.pagination {
    font-size: 10px;
    margin-left: 20px;
}
th.sticky, td.sticky {
    position: sticky;
    left: 0;
    z-index: 1;
}
td.sticky {
    background-color: #4e73df;
    color: white;
    font-weight: bold;
}
th.sticky {
    z-index: 2;
}

</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        
            <form method="GET" action="/muc7_1_2">
                <div class="form-group">
                    <label for="mst">Mã số thẻ:</label>
                    {% if request.args.get('mst') %}
                    <input id="mst" name="mst" value="{{ request.args.get('mst')  }}"></input>
                    {% else %}
                    <input id="mst" name="mst"></input>
                    {% endif %}
                    <label for="chuyen">Chuyền:</label>
                    {% if request.args.get('chuyen') %}
                    <input id="chuyen" name="chuyen" value="{{ request.args.get('chuyen')  }}"></input>
                    {% else %}
                    <input id="chuyen" name="chuyen"></input>
                    {% endif %}
                    <label for="bophan">Bộ phận:</label>
                    {% if request.args.get('bophan') %}
                    <input id="bophan" name="bophan" value="{{ request.args.get('bophan') }}"></input>
                    {% else %}
                    <input id="bophan" name="bophan"></input>
                    {% endif %}
                    <label for="ngay">Ngày</label>
                    <input id="ngay" name="ngay" type="date" value={{request.args.get('ngay')}}></input>
                    <input type="submit" class="btn btn-primary" value="Tìm kiếm"></input>
                </div>
            </form>
            <br>
            <div style="display: flex; align-items: center;">
            <h5><b>Tổng: {{count}}</b></h5>
            <div class="pagination">{{ pagination.links }}</div>
            <form method="POST" action="/export_dslt">
                <div class="form-group">
                    <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                    <input type="hidden" name="bophan" value="{{ request.args.get('bophan', '') }}">
                    <input type="hidden" name="ngay" value="{{ request.args.get('ngay', '') }}">
                    <input type="submit" class="btn btn-success" value="Xuất Excel"></input>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chuyền tổ</th>
                    <th>Chức danh</th>
                    <th>Ngày</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>Ca</th>
                    <th>Phút HC</th>
                    <th>Phút nghỉ phép</th>
                    <th>Số phút thiếu</th>
                    <th>Phép tồn</th>
                    <th>Phút nghỉ không lương</th>
                    <th>Phút nghỉ khác</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <td>{{row["MST"]}}</td>
                    <td class="sticky">{{row["Họ tên"]}}</td>
                    <td>{{row["Chuyền tổ"]}}</td>
                    <td>{{row["Chức danh"]}}</td>
                    <td >{{row["Ngày"]}}</td>
                    {% if row["Giờ vào"] %}
                    <td>{{row["Giờ vào"]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if row["Giờ ra"] %}
                    <td>{{row["Giờ ra"]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{row["Ca"]}}</td>
                    <td>{{row["Phút HC"]}}</td>
                    <td>{{row["Phút nghỉ phép"]}}</td>
                    <td>{{row["Số phút thiếu"]}}</td>
                    <td>{{row["Phép tồn"]}}</td>
                    <td>{{row["Phút nghỉ không lương"]}}</td>
                    <td>{{row["Phút nghỉ khác"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function changeFormatDate(date){
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
</script>
{% endblock content %}
