{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td , button{
        font-size: 10px;
    }
    .scroll-container {
        width: 100%;
        overflow-x: auto;
    }
    .content {
        width: 100%;
    }
    .pagination {
        font-size: 10px;
        margin-left:20px;
    }
    input {
        margin-left: 10px;
        font-size: 10px;
    }

</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <form action="/muc7_1_7" method="GET">
            <div class="form-group">
                <label for="ngay">Ngày</label>
                <input type="date" id="ngay" name="ngay" value={{request.args.get('ngay', '')}}>
                <label for="phongban">Phòng ban</label>
                <input type="text" id="phongban" name="phongban" value={{request.args.get('phongban', '')}}>
                <label for="chuyen">Chuyền tổ</label>
                <input type="text" id="chuyen" name="chuyen" value={{request.args.get('chuyen', '')}}>
                <input type="submit" value="Xem" class="btn btn-primary">
            </div>
        </form>
        <div style="display: flex; align-items: center;">
            <h5>Tổng : {{count}}</h5> 
            <form action="/muc7_1_7" method="POST" id="filterngay">
                <input type="date" id="ngay" name="ngay" value="{{ request.args.get('ngay', '') }}" hidden>
                <input type="text" id="phongban" name="phongban" value="{{ request.args.get('phongban', '') }}" hidden>
                <input type="text" id="chuyen" name="chuyen" value="{{ request.args.get('chuyen', '') }}" hidden>
                <input type="submit" value="Xuất Excel" class="btn btn-success">
            </form>
            <div class="pagination">{{pagination.links}}</div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>STT</th>
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chuyền</th>
                    <th>Phòng ban</th>
                    <th>Ngày chấm</th>
                    <th>Giờ dập thẻ</th>
                </tr>
            </thead>
            <tbody>
                {% if danhsach %}
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <th>{{loop.index}}</th>
                    <th>{{row[1]}}</th>
                    <th>{{row[2]}}</th>
                    <th>{{row[4]}}</th>
                    <th>{{row[5]}}</th>
                    <th>{{row[6]}}</th>
                    <th>{{row[7]}}</th>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
