{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td , button{
        font-size: 10px;
        width: auto;
    }
    .scroll-container {
        width: 100%;
        overflow-x: auto;
    }
    .content {
        width: 1500px;
    }
    .pagination {
        font-size: 10px;
    }
    th.sticky, td.sticky {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td.sticky {
        background-color: #4e73df;
        color: white;
        font-weight: bold;
    }
    th.sticky {
        z-index: 2;
    }
    .pagination {
        font-size: 10px;
        margin-left:50px;
    }
    h5 {
        margin-right: 20px;
    }
    .nhaplieu, #kiemtra, #pheduyet{
        width: 60px;
    }
    .row_dakiemtra {
        background-color: #ccffcc;
    }
    .row_chopheduyet {
        background-color: #ffffe6;
    }
    .row_bituchoi {
        background-color: #ffcccc;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <h5>Tổng: {{count}}</h5>

            <form method="POST" action="/export_dsxnp">
                <input type="hidden" name="mst" value="{{ request.args.get('mst', '') }}">
                <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                <input type="hidden" name="hoten" value="{{ request.args.get('hoten', '') }}">
                <input type="hidden" name="ngaynghi" value="{{ request.args.get('ngaynghi', '') }}">
                <input type="hidden" name="chucvu" value="{{ request.args.get('chucvu', '') }}">
                <input type="hidden" name="trangthai" value="{{ request.args.get('trangthai', '') }}">
                <input type="hidden" name="bophan" value="{{ request.args.get('bophan', '') }}">
                <input type="hidden" name="lydo" value="{{ request.args.get('lydo', '') }}">
                <input type="submit" class="btn btn-success" value="Xuất Excel"></input>
            </form>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th id="mst_col">Mã số thẻ</th>
                    <th class="sticky">Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền tổ</th>
                    <th>Phòng ban</th>
                    <th>Ngày nghỉ</th>                    
                    <th>Số phút xin nghỉ</th>
                    <th>Số phút phép tồn</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
                <tr class="table-light">
                    <form action="/muc7_1_4" method="get">
                        <th id="mst_col"><input type="text" class="nhaplieu" name="mst" id="mst" value="{{ request.args.get('mst', '') }}" onchange='this.form.submit()'></th>
                        <th class="sticky"><input type="text" class="nhaplieu" name="hoten" id="hoten" value="{{ request.args.get('hoten', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="text" name="chucvu" class="nhaplieu" id="chucvu" value="{{ request.args.get('chucvu', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="text" name="chuyen" class="nhaplieu" id="chuyen" value="{{ request.args.get('chuyen', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="text" name="bophan" class="nhaplieu" id="bophan" value="{{ request.args.get('bophan', '') }}" onchange='this.form.submit()'></th>
                        <th><input type="date" name="ngaynghi" class="nhaplieu" id="ngaynghi" value="{{ request.args.get('ngaynghi', '') }}" onchange='this.form.submit()'></th>                    
                        <th></th>
                        <th></th> 
                        <th><input type="text" name="trangthai" class="nhaplieu" id="trangthai" value="{{ request.args.get('trangthai', '') }}" onchange='this.form.submit()'></th>
                        <th></th>
                    </form>
                </tr>
            </thead>
        
            <tbody>
                {% for row in danhsach %}
                {% if row[9]=='Chờ kiểm tra'%}
                    <tr data-info='{{ row  | safe }}' class="row_chopheduyet">
                {% elif row[9]=='Đã kiểm tra'%}
                    <tr data-info='{{ row  | safe }}' class="row_dakiemtra">
                {% elif row[9]=='Đã phê duyệt'%}
                    <tr data-info='{{ row  | safe }}' class="row_dapheduyet">
                {% else %}
                    <tr data-info='{{ row  | safe }}' class="row_bituchoi">  
                {% endif %} 
                        <td id="mst_col">{{row[1]}}</td>
                        <td class="sticky">{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td class="date_en">{{row[6]}}</td>
                        {% if row[8] and (row[7] > row[8]) %}
                        <td style="color: red">{{row[7]}}</td>
                        {% else %}
                        <td>{{row[7]}}</td>
                        {% endif %}
                        <td>{{row[8]}}</td>
                        <td>{{row[9]}}</td>
                        {% if row[9]=='Chờ kiểm tra'%}
                            <td>
                                <form action="/thuky_kiemtra_xinnghiphep" method="POST" style="margin-left: 10px;">
                                    <input type="hidden" name="mstduyet" value="{{current_user.mst}}">
                                    <input type="hidden" name="id" value="{{row[10]}}">
                                    <input type="hidden" name="chuyen" value="{{row[3]}}">
                                    <input type="text" class="btn btn-outline-warning btn-sm" id="kiemtra" name="kiemtra" value="KT" onclick="this.form.submit()"></input>
                                    <input type="text" class="btn btn-outline-danger btn-sm" id="kiemtra" name="kiemtra" value="TC" onclick="this.form.submit()"></input>
                                </form>
                            </td>
                            {% elif row[9]=='Đã kiểm tra'%}
                            <td>
                                <form action="/quanly_pheduyet_xinnghiphep" method="POST" style="margin-left: 10px;">
                                    <input type="hidden" name="mstduyet" value="{{current_user.mst}}">
                                    <input type="hidden" name="id" value="{{row[10]}}">
                                    <input type="hidden" name="chuyen" value="{{row[3]}}">
                                    <input type="text" class="btn btn-outline-success btn-sm" id="pheduyet" name="pheduyet" value="PD" onclick="this.form.submit()"></input>
                                    <input type="text" class="btn btn-outline-danger btn-sm" id="pheduyet" name="pheduyet" value="TC" onclick="this.form.submit()"></input>
                                </form>
                            </td>
                            {% else %}
                            <td></td>
                        {% endif %}
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
<script>
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
</script>
{% endblock content %}
