{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td, .pagination {
        font-size: 10px;
    }
    input, label {
        width: 100px;
        font-size: 10px;
    }
    .pagination, h5, input {
        margin-left: 20px;
    }
    .scroll-container {
        width: 100%;
        overflow-x: scroll;
    }
    .content {
        width: 2500px;
    }
    .phanloailoi {
        background-color: yellow;
        font-weight: bold;
        color: red;
    }
    th.sticky, td.sticky {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td.sticky {
        background-color: #4e73df;
        color: white;
        font-weight: bold;
    }
    th.sticky {
        z-index: 2;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <br>
        <form action="/muc7_1_7" method="GET">
            <div class="form-group">
                <label for="mst">Mã số thẻ</label>
                <input type="text" id="mst" name="mst" value={{request.args.get('mst', '')}}>
                <label for="phongban">Phòng ban</label>
                <input type="text" id="phongban" name="phongban" value={{request.args.get('phongban', '')}}>
                <label for="phanloai">Phân loại</label>
                <input type="text" id="phanloai" name="phanloai" value={{request.args.get('phanloai', '')}}>
            </div>
            <div class="form-group">
                <label for="tungay">Từ ngày</label>
                <input type="date" id="tungay" name="tungay" value={{request.args.get('tungay', '')}}>
                <label for="denngay">Đến ngày</label>
                <input type="date" id="denngay" name="denngay" value="{{request.args.get('denngay', '')}}">
            </div>
        <div style="display: flex; align-items: center;">
            <input type="submit" class="btn btn-primary" value="Tìm kiếm"></input>
            </form>
            <form action="/export_dscc" method="POST">
                <input type="text" id="mst" name="mst" hidden value={{request.args.get('mst', '')}}>
                <input type="text" id="phongban" name="phongban" hidden value={{request.args.get('phongban', '')}}>
                <input type="date" id="tungay" name="tungay" hidden value={{request.args.get('tungay', '')}}>
                <input type="date" id="denngay" name="denngay" hidden value={{request.args.get('denngay', '')}}>
                <input type="text" id="phanloai" name="phanloai" hidden value={{request.args.get('phanloai', '')}}>
                <input type="submit" value="Xuất Excel" class="btn btn-success">
            </form>
            <br>
            <h5>Tổng: {{count}}</h5>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>#</th>
                    <th>Mã số thẻ</th>
                    <th>Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền tổ</th>
                    <th>Phòng ban</th>
                    <th>Cấp bậc</th>
                    <th>Ngày</th>                    
                    <th>Ca</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>Phút HC</th>
                    <th>Phút nghỉ phép</th>
                    <th>Phút tăng ca 100%</th>   
                    <th>Phút tăng ca 150%</th> 
                    <th>Phút tăng ca đêm</th>
                    <th>Phút nghỉ không lương</th>
                    <th>Phân loại</th> 
                </tr>
            </thead>
          
            <tbody>
                {% for row in danhsach %}
                {% if row[18] ==  'OK' %}
                <tr data-info='{{ row  | safe }}'>
                {% else %}
                <tr class="phanloailoi" data-info='{{ row  | safe }}'>
                {% endif %}
                    <td>{{ loop.index + (pagination.page - 1) * pagination.per_page }}</td>
                    <td>{{row[1]}}</td>
                    <td class="sticky">{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td class="date_en">{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                    {% if row[10] %}
                    <td>{{row[10]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if row[11] %}
                    <td>{{row[11]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{row[12]}}</td>
                    <td>{{row[13]}}</td>
                    <td>{{row[14]}}</td>
                    <td>{{row[15]}}</td>
                    <td>{{row[16]}}</td>
                    <td>{{row[17]}}</td>
                    <td>{{row[18]}}</td>   
                </tr>  
                {% endfor %}
            </tbody>
        </table>
        
        <script>
        function changeFormatDate(date){
            try{
                return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
            } catch {
                return "";    
        }}
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.date_en').forEach((element) => {
                element.textContent = changeFormatDate(element.textContent);
            });
        });
        </script>
    </div>
</div>
{% endblock content %}
