{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        color: black;
        border-collapse: collapse;  
        text-align: center;
    }
    th {
        text-align: center;
        color: white;
    }
    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust based on your requirement */
        color: white;color: #4e73df;
        font-weight: bold;
    }
    .scroll-container {
        width: 100%;
        overflow-x: auto;
    }
    .content {
        width: 100%;
    }
    .pagination {
        font-size: 10px;
        margin-left:20px;
    }
    input {
        margin-left: 10px;
        font-size: 10px;
        width: 50px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="scroll-container">
    <div class="content">
        <div style="display: flex; align-items: center;">
            <h5><b>Tổng: {{count}}</b></h5>
            <form method="POST" action="/export_dsxnk">
                <input type="hidden" name="mst" value="{{ request.args.get('mst', '') }}">
                <input type="hidden" name="ngaynghi" value="{{ request.args.get('ngaynghi', '') }}">
                <input type="hidden" name="loainghi" value="{{ request.args.get('loainghi', '') }}">
                <button type="submit" class="btn btn-success btn-sm">Xuất Excel"</button>
            </form>
            <div class="pagination">{{ pagination.links }}</div>
        </div>
        <br>
        <table class="table table-hover table-sm">
            <thead>
                <form action = "/muc7_1_6" method = "GET">
                    <tr class="bg-primary">
                        {% if request.args.get('mst') %}
                        <th>Mã số thẻ<input type='text' id='mst' name='mst' onchange="this.form.submit()" value="{{request.args.get('mst')}}"></th>
                        {% else %}
                        <th>Mã số thẻ<input type='text' id='mst' name='mst' onchange="this.form.submit()"></th>
                        {% endif %}

                        {% if request.args.get('ngaynghi') %}
                        <th>Ngày nghỉ <input type='date' id='ngaynghi' name='ngaynghi' onchange="this.form.submit()" value="{{request.args.get('ngaynghi')}}"></th>
                        {% else %}
                        <th>Ngày nghỉ <input type='date' id='ngaynghi' name='ngaynghi' onchange="this.form.submit()"></th>
                        {% endif %}

                        <th>Tổng số phút</th>

                        {% if request.args.get('loainghi') %}
                        <th>Loại nghỉ <input type='text' id='loainghi' name='loainghi' onchange="this.form.submit()" value="{{request.args.get('loainghi')}}"></th>
                        {% else %}
                        <th>Loại nghỉ <input type='text' id='loainghi' name='loainghi' onchange="this.form.submit()"></th>
                        {% endif %}

                        <th>Trạng thái</th>
                        <th>Nhận giấy tờ</th>
                    </tr>
                </form>
            </thead>
            
            <tbody>
                {% for row in danhsach %}
                <tr data-info='{{ row  | safe }}'>
                    <td>{{row[1]}}</td>
                    <td class="date_en">{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    {% if not row[5] or row[5] == 'Chờ kiểm tra'%}
                        <td>Chờ kiểm tra 
                            <form action="/thuky_kiemtra_xinnghikhac" method="POST">
                                <input name="id" value="{{row[7]}}" hidden></input>
                                <input name="mst" value="{{request.args.get('mst', '')}}" hidden></input>
                                <input name="ngaynghi" value="{{request.args.get('ngaynghi', '')}}" hidden></input>
                                <button class="btn btn-primary btn-sm">Kiểm tra</button> 
                            </form>
                            <button class="btn btn-danger btn-sm">Từ chối</button></td>
                        <td>Chưa nhận</td>
                    {% elif row[5] == 'Đã kiểm tra'  %}
                        <td>Đã kiểm tra <button class="btn btn-primary btn-sm">Phê duyệt</button> <button class="btn btn-danger btn-sm">Từ chối</button></td>
                        <td>Chưa nhận</td>
                    {% elif row[5] == 'Đã phê duyệt'  %}
                        <td>Đã phê duyệt </td>
                        {% if row[6] == 'Đã nhận' %}
                            <td>{{row[6]}}</td>
                        {% else %}
                            <td style="color: red;">Chưa nhận <button class="btn btn-primary btn-sm">Nhận</button> <button class="btn btn-danger btn-sm">Từ chối</button></td>
                        {% endif %}
                    {% endif %}
                </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
</script>
{% endblock content %}
