{% extends  "base.html" %}
{% block style%}
<style>
    table, th, td {
        font-size: 12px;
        font-weight:bold;
        border-collapse: collapse;
    }
    th {
        text-align: center;
        color: white;
    }
    td, label, input, select, h5 {
        font-weight:bold;
        color: #4e73df;
    }
    
</style>
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Thêm biên bản
        </button>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Biên bản kỉ luật</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <input type="text" id="masothe" name="masothe" placeholder="Mã số thẻ" onchange="kiemtrathongtinnld()">
                                </div>
                                <form method="POST" enctype="multipart/form-data">
                                    <input type="text" id="mst" name="mst" hidden>
                                    <div class="row">
                                        <div class="col">
                                            <div style="display: flex; align-items: center;">
                                                <input type="text" id="hoten" placeholder="Họ tên" name="hoten" readonly>
                                                <input type="text" id="chucvu" placeholder="Chức danh" name="chucvu" readonly>
                                            </div>
                                            <div style="display: flex; align-items: center;"> 
                                                <input type="text" id="bophan" placeholder="Phòng ban" name="bophan" readonly>
                                                <input type="text" id="chuyento" placeholder="Chuyền" name="chuyento" readonly>
                                            </div>  
                                            <input type="text" id="ngayvao" placeholder="Ngày vào" name="ngayvao" readonly>
                                        </div>
                                        <div class="col">
                                            <label for="ngayvipham">Ngày vi phạm</label>
                                            <input type="date" id="ngayvipham" name="ngayvipham">
                                            <label for="ngaylapbienban">Ngày lập biên bản</label>
                                            <input type="date" id="ngaylapbienban" name="ngaylapbienban">
                                            <textarea id="noidung" name="noidung" placeholder="Nội dung vi phạm ..." cols="30" rows="5"></textarea >
                                            <label for="files">Ảnh vi phạm</label>
                                            <input type="file" name="file_anh" multiple accept="image/*" onchange="checkFileCount(this)">
                                            <label for="files">Biên bản </label>
                                            <input type="file" name="file_bienban" accept="application/pdf" onchange="checkFileCount(this)">
                                            <label for="bienphap">Biện pháp kỉ luật</label>
                                            <select id="bienphap" name="bienphap">   
                                                <option value="Khiển trách">Khiển trách </option>
                                                <option value="Cách chức">Cách chức</option>
                                                <option value="Kéo dài thời hạn nâng lương">Kéo dài thời hạn nâng lương</option>
                                                <option value="Sa thải">Sa thải</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                    <input type="submit" class="btn btn-primary" value="Lưu"></input>
                </div>
            </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <table class="table table-bordered table-sm">
            <thead>
                <tr class="bg-primary">
                    <th colspan="7">Thông tin nhân viên</th>
                    <th rowspan="2" style="vertical-align:middle;">Ngày vi phạm</th>
                    <th rowspan="2" style="vertical-align:middle;">Ngày lập biên bản</th>
                    <th rowspan="2" style="vertical-align:middle;">Địa điểm</th>
                    <th rowspan="2" style="vertical-align:middle;">Nội dung vi phạm</th>
                    <th rowspan="2" style="vertical-align:middle;">Biện pháp kỉ luật</th>
                </tr>
                <tr class="bg-info">
                    <th>STT</th>
                    <th>MST</th>
                    <th>Họ tên</th>
                    <th>Chức vụ</th>
                    <th>Bộ phận</th>
                    <th>Tổ</th>
                    <th>Ngày vào</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[4]}}</td>
                    <td class='date_en'>{{row[6]}}</td>
                    <td class='date_en'>{{row[7]}}</td>
                    <td class='date_en'>{{row[8]}}</td>
                    <td>{{row[9]}}</td>
                    <td>{{row[10]}}</td>
                    <td>{{row[11]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script>
    function kiemtrathongtinnld() {
        axios({
            method: 'post',
            url: '/kiemtrathongtinnld?masothe=' + document.getElementById("masothe").value
        })
            .then(function (response) {
                var data = response.data
                if (response.data != "") {
                    console.log(data)
                    document.getElementById("mst").value = data["MST"];
                    document.getElementById("hoten").value = data["Họ tên"]; 
                    document.getElementById("chucvu").value = data["Job title VN"];
                    document.getElementById("chuyento").value = data["Line"];
                    document.getElementById("bophan").value = data["Department"];
                    document.getElementById("ngayvao").value = data["Ngày vào"];
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.date_en').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
    });
    function checkFileCount(input) {
        if (input.files.length > 3) {
            alert("Bạn chỉ được upload tối đa 3 ảnh.");
            input.value = "";
        }
    }
</script>
{% endblock content %}
