{% extends "12.html" %}

{% block style %}

    table td {
        white-space: nowrap;
    }
    .input-gio {
        width: 100px;
    }
    .input-ngay {
        width: 120px;
    }

    table.table thead th {
        position: sticky;
        top: 0;
        background-color: #f8f9fa;
        z-index: 1;
    }

{% endblock style %}

{% block content %}
    <div class="container-fluid" id="main_window">
        <div class="d-flex justify-content-between">
            <label for="tungay">Từ ngày:</label>
            <input type="date" id="tungay" name="tungay">

            <label for="denngay">Đến ngày:</label>
            <input type="date" id="denngay" name="denngay">

            <label for="mst">Mã số thẻ:</label>
            <input type="text" id="mst" name="mst" placeholder="Nhập mã số thẻ">

            <button id="timdulieuchotcong" class="btn btn-primary">Tìm</button>
        </div>
        <br>
        <div class="row" id="dulieulayve">
            
        </div>
    </div>
    <script>
        function suaNotDapThe(id) {
            var newNgay = $('#notdapthe_ngay_' + id).val();
            var newGio = $('#notdapthe_gio_' + id).val();
            
            $.ajax({
                url: '/chotcong/sua_notdapthe', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id,
                    gio_moi: newGio,
                    ngay_moi: newNgay
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Cập nhật nốt dập thẻ thành công.");
                    } else {
                        alert("Cập nhật nốt dập thẻ thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }
        function xoaNotDapThe(id) {
    
            $.ajax({
                url: '/chotcong/xoa_notdapthe', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Xóa nốt dập thẻ thành công.");
                    } else {
                        alert("Xóa nốt dập thẻ thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        function suaDiemDanhBu(id) {
            var newLoaiDiemDanh = $('#diemdanhbu_loaidiemdanh_' + id).val();
            var newTrangThai = $('#diemdanhbu_trangthai_' + id).val();
            var newNgay = $('#diemdanhbu_ngay_' + id).val();
            var newGio = $('#diemdanhbu_gio_' + id).val();
            
            $.ajax({
                url: '/chotcong/sua_diemdanhbu', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id,
                    gio_moi: newGio,
                    ngay_moi: newNgay,
                    loaidiemdanh_moi: newLoaiDiemDanh,
                    trangthai_moi: newTrangThai
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Cập nhật điểm danh bù thành công.");
                    } else {
                        alert("Cập nhật điểm danh bù thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }
        
        function xoaDiemDanhBu(id) {
    
            $.ajax({
                url: '/chotcong/xoa_diemdanhbu', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Xóa điểm danh bù thành công.");
                    } else {
                        alert("Xóa điểm danh bù thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        function suaXinNghiPhep(id) {
            var newTrangThai = $('#xinnghiphep_trangthai_' + id).val();
            var newNgay = $('#xinnghiphep_ngay_' + id).val();
            var newTongsophut = $('#xinnghiphep_tongsophut_' + id).val();
            
            $.ajax({
                url: '/chotcong/sua_xinnghiphep', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id,
                    tongsophut_moi: newTongsophut,
                    ngay_moi: newNgay,
                    trangthai_moi: newTrangThai
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Cập nhật xin nghỉ phép thành công.");
                    } else {
                        alert("Cập nhật xin nghỉ phép thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }
        
        function xoaXinNghiPhep(id) {
    
            $.ajax({
                url: '/chotcong/xoa_xinnghiphep', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Xóa xin nghỉ phép thành công.");
                    } else {
                        alert("Xóa xin nghỉ phép thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        function suaXinNghiKhongLuong(id) {
            var newTrangThai = $('#xinnghikhongluong_trangthai_' + id).val();
            var newNgay = $('#xinnghikhongluong_ngay_' + id).val();
            var newSophut = $('#xinnghikhongluong_sophut_' + id).val();
            
            $.ajax({
                url: '/chotcong/sua_xinnghikhongluong', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id,
                    sophut_moi: newSophut,
                    ngay_moi: newNgay,
                    trangthai_moi: newTrangThai
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Cập nhật xin nghỉ không lương thành công.");
                    } else {
                        alert("Cập nhật xin nghỉ không lương thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        function xoaXinNghiKhongLuong(id) {
    
            $.ajax({
                url: '/chotcong/xoa_xinnghikhongluong', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Xóa xin nghỉ không lương thành công.");
                    } else {
                        alert("Xóa xin nghỉ không lương thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        function suaXinNghiKhac(id) {
            var newTrangThai = $('#xinnghikhac_trangthai_' + id).val();
            var newNgay = $('#xinnghikhac_ngay_' + id).val();
            var newSophut = $('#xinnghikhac_tongsophut_' + id).val();
            var newLoaiNghi = $('#xinnghikhac_loainghi_' + id).val();
            
            $.ajax({
                url: '/chotcong/sua_xinnghikhac', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id,
                    tongsophut_moi: newSophut,
                    ngay_moi: newNgay,
                    trangthai_moi: newTrangThai,
                    loainghi_moi: newLoaiNghi
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Cập nhật xin nghỉ khác thành công.");
                    } else {
                        alert("Cập nhật xin nghỉ khác thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        function xoaXinNghiKhac(id) {
    
            $.ajax({
                url: '/chotcong/xoa_xinnghikhac', // Thay đổi thành endpoint API thực tế của bạn
                method: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success === "True") {
                        alert("Xóa xin nghỉ khác thành công.");
                    } else {
                        alert("Xóa xin nghỉ khác thất bại.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Lỗi khi gửi yêu cầu.");
                    console.error(error);
                }
            });
        }

        $(document).ready(function () {
            
            $('#timdulieuchotcong').click(function () {
                var tungay = $('#tungay').val();
                var denngay = $('#denngay').val();
                var mst = $('#mst').val();
        
                $.ajax({
                    url: '/chotcong/dulieu',
                    type: 'POST',
                    data: {
                        tungay: tungay,
                        denngay: denngay,
                        mst: mst
                    },
                    success: function (response) {
                        console.log(response);
        
                        if (response.success === "True") {
                            
                            // Xóa nội dung cũ trong div có ID dulieulayve
                            $('#dulieulayve').empty();

                            // Kiểm tra nếu "Nốt dập thẻ" không rỗng
                            if (response.data["Nốt dập thẻ"] && Object.keys(response.data["Nốt dập thẻ"]).length <= 0) {
                                // Không có dữ liệu
                            } else {
                                // Hiển thị dữ liệu nốt dập thẻ dưới dạng bảng trong div col bên trong div có ID dulieulayve
                                var table = '<table class="table table-bordered"><thead><tr><th>Ngày</th><th>Giờ</th><th></th><th></th></tr></thead><tbody>'; 
                                var stt = 1;
                                for (var key in response.data["Nốt dập thẻ"]) {
                                    if (response.data["Nốt dập thẻ"].hasOwnProperty(key)) {
                                        var item = response.data["Nốt dập thẻ"][key];
                                    
                                        table += '<tr>';
                                        table += '<td><input type="text" class="form-control input-ngay" readonly id="notdapthe_ngay_' + item["ID"] + '" value="' + item["Ngày"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-gio" id="notdapthe_gio_' + item["ID"] + '" value="' + item["Giờ"] + '" /></td>';
                                        table += '<td><button class="btn btn-primary" onclick="suaNotDapThe(\'' + item["ID"] + '\')">Sửa</button></td>';
                                        table += '<td><button class="btn btn-danger" onclick="xoaNotDapThe(\'' + item["ID"] + '\')">Xóa</button></td>';
                                        table += '</tr>';
                                    
                                        stt++;
                                    }
                                }
                                table += '</tbody></table>';
                            
                                var tableWrapper = `
                                    <div class="col-12">
                                        <br>
                                        <h4>Nốt dập thẻ</h4>
                                        <div style="max-height: 300px; overflow-y: auto;">
                                            ${table}
                                        </div>
                                        <br>
                                    </div>
                                `;
                            
                                $('#dulieulayve').append(tableWrapper);
                            }
                            
                            if (response.data["Điểm danh bù"] && Object.keys(response.data["Điểm danh bù"]).length <= 0) {
                                // Không có dữ liệu
                            } else {
                                // Hiển thị dữ liệu Điểm danh bù dưới dạng bảng trong div col bên trong div có ID dulieulayve
                                var table = '<table class="table table-bordered"><thead><tr><th>Loại điểm danh</th><th>Ngày</th><th>Giờ</th><th>Trạng thái</th><th></th><th></th></tr></thead><tbody>'; 
                                var stt = 1;
                                for (var key in response.data["Điểm danh bù"]) {
                                    if (response.data["Điểm danh bù"].hasOwnProperty(key)) {
                                        var item = response.data["Điểm danh bù"][key];
                                        table += '<tr>';
                                        table += '<td><input type="text" class="form-control input-loaidiemdanh" id="diemdanhbu_loaidiemdanh_' + item["ID"] + '" value="' + item["Loại điểm danh"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-ngay" id="diemdanhbu_ngay_' + item["ID"] + '" value="' + item["Ngày"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-gio" id="diemdanhbu_gio_' + item["ID"] + '" value="' + item["Giờ"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-trangthai" id="diemdanhbu_trangthai_' + item["ID"] + '" value="' + item["Trạng thái"] + '" /></td>';
                                        table += '<td><button class="btn btn-primary" onclick="suaDiemDanhBu(\'' + item["ID"] + '\')">Sửa</button></td>';
                                        table += '<td><button class="btn btn-danger" onclick="xoaDiemDanhBu(\'' + item["ID"] + '\')">Xóa</button></td>';
                                        table += '</tr>';
                                        stt++;
                                    }
                                }
                                table += '</tbody></table>';
                            
                                var tableWrapper = `
                                    <div class="col-12">
                                        <br>
                                        <h4>Điểm danh bù</h4>
                                        <div style="max-height: 300px; overflow-y: auto;">
                                            ${table}
                                        </div>
                                        <br>
                                    </div>
                                `;
                            
                                $('#dulieulayve').append(tableWrapper);
                            }

                            if (response.data["Xin nghỉ phép"] && Object.keys(response.data["Xin nghỉ phép"]).length <= 0) {
                                
                            } else {
                                // Hiển thị dữ liệu nốt dập thẻ dưới dạng bảng trong div col bên trong div có ID dulieulayve 
                                var table = '<table class="table table-bordered"><thead><tr><th>Ngày</th><th>Tổng số phút</th><th>Trạng thái</th><th></th><th></th></tr></thead><tbody>'; 
                                var stt = 1;
                                for (var key in response.data["Xin nghỉ phép"]) {
                                    if (response.data["Xin nghỉ phép"].hasOwnProperty(key)) {
                                        var item = response.data["Xin nghỉ phép"][key];
                                        table += '<tr>';
                                        table += '<td><input type="text" class="form-control input-ngay" id="xinnghiphep_ngay_' + item["ID"] + '" value="' + item["Ngày"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-tongsophut" id="xinnghiphep_tongsophut_' + item["ID"] + '" value="' + item["Tổng số phút"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-trangthai" id="xinnghiphep_trangthai_' + item["ID"] + '" value="' + item["Trạng thái"] + '" /></td>';
                                        table += '<td><button class="btn btn-primary" onclick="suaXinNghiPhep(\'' + item["ID"] + '\')">Sửa</button></td>';
                                        table += '<td><button class="btn btn-danger" onclick="xoaXinNghiPhep(\'' + item["ID"] + '\')">Xóa</button></td>';
                                        table += '</tr>';
                                        stt++;
                                    }
                                }
                                table += '</tbody></table>';
                                var tableWrapper = `
                                    <div class="col-12">
                                        <br>
                                        <h4>Xin nghỉ phép</h4>
                                        <div style="max-height: 300px; overflow-y: auto;">
                                            ${table}
                                        </div>
                                        <br>
                                    </div>
                                `;
                                $('#dulieulayve').append(tableWrapper);
                 
                            }

                            if (response.data["Xin nghỉ không lương"] && Object.keys(response.data["Xin nghỉ không lương"]).length <= 0) {
                                
                            } else {
                                // Hiển thị dữ liệu nốt dập thẻ dưới dạng bảng trong div col bên trong div có ID dulieulayve 
                                var table = '<table class="table table-bordered"><thead><tr><th>Ngày</th><th>Tổng số phút</th></tr></thead><tbody>'; 
                                var stt = 1;
                                for (var key in response.data["Xin nghỉ không lương"]) {
                                    if (response.data["Xin nghỉ không lương"].hasOwnProperty(key)) {
                                        var item = response.data["Xin nghỉ không lương"][key];
                                        table += '<tr>';
                                        table += '<td><input type="text" class="form-control input-ngay" id="xinnghikhongluong_ngay_' + item["ID"] + '" value="' + item["Ngày"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-tongsophut" id="xinnghikhongluong_sophut_' + item["ID"] + '" value="' + item["Tổng số phút"] + '" /></td>';
                                        table += '<td><input type="text" class="form-control input-trangthai" id="xinnghikhongluong_trangthai_' + item["ID"] + '" value="' + item["Trạng thái"] + '" /></td>';
                                        table += '<td><button class="btn btn-primary" onclick="suaXinNghiKhongLuong(\'' + item["ID"] + '\')">Sửa</button></td>';
                                        table += '<td><button class="btn btn-danger" onclick="xoaXinNghiKhongLuong(\'' + item["ID"] + '\')">Xóa</button></td>';
                                        table += '</tr>';
                                        stt++;
                                    }
                                }
                                table += '</tbody></table>';
                                var tableWrapper = `
                                    <div class="col-12">
                                        <br>
                                        <h4>Xin nghỉ không lương</h4>
                                        <div style="max-height: 300px; overflow-y: auto;">
                                            ${table}
                                        </div>
                                        <br>
                                    </div>
                                `;
                                $('#dulieulayve').append(tableWrapper);
                 
                            }
                            
                            if (response.data["Xin nghỉ khác"] && Object.keys(response.data["Xin nghỉ khác"]).length <= 0) {
                                
                            } else {
                                // Hiển thị dữ liệu nốt dập thẻ dưới dạng bảng trong div col bên trong div có ID dulieulayve 
                                var table = '<table class="table table-bordered"><thead><tr><th>Ngày</th><th>Tổng số phút</th><th>Loại nghỉ</th><th>Trạng thái</th><th></th><th></th></tr></thead><tbody>'; 
                                var stt = 1;
                                for (var key in response.data["Xin nghỉ khác"]) {
                                    if (response.data["Xin nghỉ khác"].hasOwnProperty(key)) {
                                        var item = response.data["Xin nghỉ khác"][key];
                                        table += '<tr>';
                                            table += '<td><input type="text" class="form-control input-ngay" id="xinnghikhac_ngay_' + item["ID"] + '" value="' + item["Ngày"] + '" /></td>';
                                            table += '<td><input type="text" class="form-control input-tongsophut" id="xinnghikhac_tongsophut_' + item["ID"] + '" value="' + item["Tổng số phút"] + '" /></td>';
                                            table += '<td><input type="text" class="form-control input-loainghi" id="xinnghikhac_loainghi_' + item["ID"] + '" value="' + item["Loại nghỉ"] + '" /></td>';
                                            table += '<td><input type="text" class="form-control input-trangthai" id="xinnghikhac_trangthai_' + item["ID"] + '" value="' + item["Trạng thái"] + '" /></td>';
                                            table += '<td><button class="btn btn-primary" onclick="suaXinNghiKhac(\'' + item["ID"] + '\')">Sửa</button></td>';
                                            table += '<td><button class="btn btn-danger" onclick="xoaXinNghiKhac(\'' + item["ID"] + '\')">Xóa</button></td>';
                                            table += '</tr>';
                                            stt++;
                                    }
                                }
                                table += '</tbody></table>';
                                var tableWrapper = `
                                    <div class="col-12">
                                        <br>
                                        <h4>Xin nghỉ khác</h4>
                                        <div style="max-height: 300px; overflow-y: auto;">
                                            ${table}
                                        </div>
                                        <br>
                                    </div>
                                `;
                                $('#dulieulayve').append(tableWrapper);
                 
                            }

                        } else {
                            console.log("Không có dữ liệu nào");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Lỗi:', error);
                    }
                });
            });
        });
        

    </script>
{% endblock content %}