<!DOCTYPE html>
<html lang="vn">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="static/img/logo.ico">
    <title>Phần mềm quản lý nhân sự</title>
    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    {% block style %}
        
    {% endblock style %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-icon">
                    <i><img src="static/img/logo_white.png" alt="logo" style="width:30%; height:100%"></i>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Mục lục
            </div>
            <!-- Nav Item - Tuyen dung Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseZero"
                    aria-expanded="true" aria-controls="collapseZero">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>1. Sơ đồ tổ chức</span>
                </a>
                <div id="collapseZero" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sơ đồ tổ chức</h6>
                        <a class="collapse-item" href="#">1.1</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Tuyen dung Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>2. Tuyển dụng</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tuyển dụng</h6>
                        <a class="collapse-item" href="/muc2_1">2.1 Danh sách ứng viên</a>
                        <a class="collapse-item">2.2 Yêu cầu tuyển dụng</a>
                        <a class="collapse-item" href="/muc2_2_1"><i class="fas fa-fw fa-share"></i>2.2.1 Thêm yêu cầu</a>
                        <a class="collapse-item" href="/muc2_2_2"><i class="fas fa-fw fa-share"></i>2.2.2 Danh sách yêu cầu</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Nhan viec Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>3. Nhận việc</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Nhận việc</h6>
                        <a class="collapse-item" href="/muc3_1">3.1. Nhập mới thông tin</a>
                        <a class="collapse-item" href="/muc3_2">3.2. Chỉnh sửa thông tin</a>
                        <a class="collapse-item" href="/muc3_3">3.3. Quản lý hợp đồng</a>
                        <a class="collapse-item" href="/muc3_4">3.4. DS sắp hết hạn HĐ</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Dao tao Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>4. Đào tạo</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Đào tạo</h6>
                        <a class="collapse-item" href="#">4.1</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Danh gia hieu qua Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseFour">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>5. Đánh giá hiệu quả</span>
                </a>
                <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Đánh giá hiệu quả</h6>
                        <a class="collapse-item">5.1 KPI</a>
                        <a class="collapse-item" href="/muc5_1_1">5.1.1 Upload new KPI</a>
                        <a class="collapse-item" href="/muc5_1_2">5.1.2 Approve KPI</a>
                        <a class="collapse-item" href="/muc5_1_3_1">5.1.3 KPI report</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Phat trien su nghiep Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>6. Phát triển sự nghiệp</span>
                </a>
                <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Phát triển sự nghiệp</h6>
                        <a class="collapse-item" href="/muc6_1">6.1 Đổi chức vụ, bộ phận</a>
                        <a class="collapse-item" href="/muc6_2">6.2 Lịch sử công tác</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Luong thuong phuc loi Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>7. Lương, thưởng, phúc lợi</span>
                </a>
                <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Lương, thưởng</h6>
                        <p class="collapse-item">7.1 Chấm công</p>
                        <a class="collapse-item" href="/muc7_1_1"><i class="fas fa-fw fa-share"></i> 7.1.1 Đổi ca làm việc</a>
                        <a class="collapse-item" href="/muc7_1_2"><i class="fas fa-fw fa-share"></i> 7.1.2 DS lỗi chấm công</a>
                        <a class="collapse-item" href="/muc7_1_3"><i class="fas fa-fw fa-share"></i> 7.1.3 DS điểm danh bù</a>
                        <a class="collapse-item" href="/muc7_1_4"><i class="fas fa-fw fa-share"></i> 7.1.4 DS nghỉ phép</a>
                        <a class="collapse-item" href="/muc7_1_5"><i class="fas fa-fw fa-share"></i> 7.1.5 DS nghỉ không lương</a>
                        <a class="collapse-item" href="/muc7_1_6"><i class="fas fa-fw fa-share"></i> 7.1.6 DS nghỉ khác</a>
                        <a class="collapse-item" href="/muc7_1_7"><i class="fas fa-fw fa-share"></i> 7.1.7 Đăng kí tăng ca</a>
                        <a class="collapse-item" href="/muc7_1_8"><i class="fas fa-fw fa-share"></i> 7.1.8 Bảng công 5 ngày</a>
                        <a class="collapse-item" href="/muc7_1_9"><i class="fas fa-fw fa-share"></i> 7.1.9 Bảng công chốt</a>
                        <a class="collapse-item" href="/muc7_1_10"><i class="fas fa-fw fa-share"></i> 7.1.10 DS phép tồn</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Gan ket Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="true" aria-controls="collapseSeven">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>8. Gắn kết</span>
                </a>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gắn kết</h6>
                        <a class="collapse-item" href="/muc8_1">8.1 Góp ý, khiếu nại</a>
                        <a class="collapse-item" href="/muc8_2">8.2 Cập nhật khiếu nại</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Gan ket Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight"
                    aria-expanded="true" aria-controls="collapseEight">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>9. Tuân thủ chính sách</span>
                </a>
                <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tuân thủ chính sách</h6>
                        <a class="collapse-item" href="/muc9_1">9.1 Xử lý kỉ luật</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Gan ket Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNine"
                    aria-expanded="true" aria-controls="collapseNine">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>10. Quản lý nghỉ việc</span>
                </a>
                <div id="collapseNine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý nghỉ việc</h6>
                        <a class="collapse-item" href="/muc10_1">10.1 Phỏng vấn nghỉ việc</a>
                        <a class="collapse-item" href="/muc10_2">10.2 Nhận đơn nghỉ việc</a>
                        <a class="collapse-item" href="/muc10_3">10.3 In chấm dứt hợp đồng</a>
                        <a class="collapse-item" href="#">10.4 Bàn giao</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Gan ket Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTen"
                    aria-expanded="true" aria-controls="collapseTen">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>11. Kết nối cựu nhân viên</span>
                </a>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Kết nối cựu nhân viên</h6>
                        <a class="collapse-item" href="#">11.1</a>
                    </div>
                </div>
            </li>

            {% if notice["f12"]=="1" %}
            <!-- Nav Item - KHong kiem xuong Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/muc12">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>12</span>
                </a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="static/img/qr/linkphanmem.png" alt="qr_phanmem" style="width:30px; height:30px;">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;">
                            <a class="dropdown-item" href="/qr_code?qr=hp_diemdanhbu"><b>Điểm danh bù HP</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/qr_code?qr=hp_xinnghiphep"><b>Xin nghỉ phép HP</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/qr_code?qr=hp_xinnghikhongluong"><b>Xin nghỉ không lương HP</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/qr_code?qr=na_diemdanhbu"><b>Điểm danh bù NA</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/qr_code?qr=na_xinnghiphep"><b>Xin nghỉ phép NA</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/qr_code?qr=na_xinnghikhongluong"><b>Xin nghỉ không lương NA</b></a>
                        </div>
                    </div>
                    {% if notice['personal'] %}
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="far fa-bell fa-fw"></i>
                            <span class="badge badge-danger badge-counter">{{ notice['personal']['Lỗi chấm công'] }}</span>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-submenu">
                                <a class="dropdown-item" href="/muc7_1_2?mst={{current_user.masothe}}">Lỗi chấm công <span class="badge badge-danger badge-counter">{{ notice['personal']["Lỗi chấm công"] }}</span></a> 
                            </div>
                            <div class="dropdown-divider"></div>
                                <div class="dropdown-submenu">
                                <a class="dropdown-item" href="/muc7_1_3?mst={{current_user.masothe}}">Điểm danh bù <span class="badge badge-primary badge-counter">{{ notice['personal']["Điểm danh bù"]['Tổng'] }}</span></a> 
                                <a class="dropdown-item small" href="/muc7_1_3?mst={{current_user.masothe}}&trangthai=Chờ+kiểm+tra">Chưa kiểm tra: <span class="badge badge-danger badge-counter">{{ notice['personal']["Điểm danh bù"]["Chưa kiểm tra"] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_3?mst={{current_user.masothe}}&trangthai=Đã+kiểm+tra">Đã kiểm tra: <span class="badge badge-warning badge-counter">{{ notice['personal']["Điểm danh bù"]["Đã kiểm tra"] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_3?mst={{current_user.masothe}}&trangthai=Đã+phê+duyệt">Đã phê duyệt: {{ notice['personal']["Điểm danh bù"]["Đã phê duyệt"] }}</a>
                                <a class="dropdown-item small" href="/muc7_1_3?mst={{current_user.masothe}}&trangthai=Bị+từ+chối">Bị từ chối: {{ notice['personal']["Điểm danh bù"]["Bị từ chối"] }}</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-submenu">
                                <a class="dropdown-item" href="/muc7_1_4?mst={{current_user.masothe}}">Xin nghỉ phép <span class="badge badge-primary badge-counter">{{ notice['personal']["Xin nghỉ phép"]['Tổng'] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_4?mst={{current_user.masothe}}&trangthai=Chờ+kiểm+tra">Chưa kiểm tra: <span class="badge badge-danger badge-counter">{{ notice['personal']["Xin nghỉ phép"]["Chưa kiểm tra"] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_4?mst={{current_user.masothe}}&trangthai=Đã+kiểm+tra">Đã kiểm tra: <span class="badge badge-warning badge-counter">{{ notice['personal']["Xin nghỉ phép"]["Đã kiểm tra"] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_4?mst={{current_user.masothe}}&trangthai=Đã+phê+duyệt">Đã phê duyệt: {{ notice['personal']["Xin nghỉ phép"]["Đã phê duyệt"] }}</a>
                                <a class="dropdown-item small" href="/muc7_1_4?mst={{current_user.masothe}}&trangthai=Bị+từ+chối">Bị từ chối: {{ notice['personal']["Xin nghỉ phép"]["Bị từ chối"] }}</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-submenu">
                                <a class="dropdown-item" href="/muc7_1_5?mst={{current_user.masothe}}">Xin nghỉ không lương <span class="badge badge-primary badge-counter">{{ notice['personal']["Xin nghỉ không lương"]['Tổng'] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_5?mst={{current_user.masothe}}&trangthai=Chờ+kiểm+tra">Chưa kiểm tra: <span class="badge badge-danger badge-counter">{{ notice['personal']["Xin nghỉ không lương"]["Chưa kiểm tra"] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_5?mst={{current_user.masothe}}&trangthai=Đã+kiểm+tra">Đã kiểm tra: <span class="badge badge-warning badge-counter">{{ notice['personal']["Xin nghỉ không lương"]["Đã kiểm tra"] }}</span></a>
                                <a class="dropdown-item small" href="/muc7_1_5?mst={{current_user.masothe}}&trangthai=Đã+phê+duyệt">Đã phê duyệt: {{ notice['personal']["Xin nghỉ không lương"]["Đã phê duyệt"] }}</a>
                                <a class="dropdown-item small" href="/muc7_1_5?mst={{current_user.masothe}}&trangthai=Bị+từ+chối">Bị từ chối: {{ notice['personal']["Xin nghỉ không lương"]["Bị từ chối"] }}</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="/muc7_1_6?mst={{current_user.masothe}}">Xin nghỉ khác <span class="badge badge-primary badge-counter">{{ notice['personal']["Xin nghỉ khác"]['Tổng'] }}</span></a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Xem tất cả thông báo</a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="d-none d-sm-inline-block" style="margin-left:25%;">
                        <h3 style="margin-top:10px;margin-bottom:2px;text-align:center;color:#4e73df;"><b>NAM THUẬN</b></h3>
                        <p style="margin-bottom:10px;text-align:center;color:#4e73df;"><b>PHẦN MỀM QUẢN LÝ NHÂN SỰ</b></p>
                    </div>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                                                    
                        <div class="topbar-divider d-none d-sm-block"></div>
                        
                        
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{notice["Tổng"]}}</span>
                            </a>
                            
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Thông báo
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    {% if notice["Quản lý"] %}
                                    {% if notice["Quản lý"]["Điểm danh bù"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_3?mstquanly={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-weight-bold">Đang có {{notice["Quản lý"]["Điểm danh bù"]}} đơn điểm danh bù cần bạn phê duyệt</span>
                                        </div>
                                    </a>
                                    {% endif %}  
                                    {% if notice["Quản lý"]["Xin nghỉ phép"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_4?mstquanly={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-weight-bold">Đang có {{notice["Quản lý"]["Xin nghỉ phép"]}} đơn xin nghỉ phép cần bạn phê duyệt</span>
                                        </div>
                                    </a>
                                    {% endif %}  
                                    {% if notice["Quản lý"]["Xin nghỉ không lương"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_5?mstquanly={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-weight-bold">Đang có {{notice["Quản lý"]["Xin nghỉ không lương"]}} đơn xin nghỉ không lương cần bạn phê duyệt</span>
                                        </div>
                                    </a>
                                    {% endif %}                                       
                                    {% endif %}

                                    {% if notice["Thư ký"] %}
                                    {% if notice["Thư ký"]["Điểm danh bù"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_3?mstthuky={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-weight-bold">Đang có {{notice["Thư ký"]["Điểm danh bù"]}} đơn điểm danh bù cần bạn kiểm tra.</span>
                                        </div>
                                    </a>
                                    {% endif %}  
                                    {% if notice["Thư ký"]["Xin nghỉ phép"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_4?mstthuky={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-weight-bold">Đang có {{notice["Thư ký"]["Xin nghỉ phép"]}} đơn xin nghỉ phép cần bạn kiểm tra.</span>
                                        </div>
                                    </a>
                                    {% endif %}  
                                    {% if notice["Thư ký"]["Xin nghỉ không lương"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_5?mstthuky={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-weight-bold">Đang có {{notice["Thư ký"]["Xin nghỉ không lương"]}} đơn xin nghỉ cần bạn kiểm tra.</span>
                                        </div>
                                    </a>
                                    {% endif %} 
                                    {% if notice["Thư ký"]["Danh sách lỗi thẻ"] %}
                                    <a class="dropdown-item d-flex align-items-center" href="/muc7_1_2?mstthuky={{current_user.masothe}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-info">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            {% if not notice["Thư ký"]["Line"] %}
                                            <span class="font-weight-bold">Các chuyền bạn quản lý có {{notice["Thư ký"]["Danh sách lỗi thẻ"]}} trường hợp lỗi thẻ chưa xử lý !!!</span>
                                            {% else %}
                                            <span class="font-weight-bold">Chuyền {{notice["Thư ký"]["Line"]}} của bạn có {{notice["Thư ký"]["Danh sách lỗi thẻ"]}} trường hợp lỗi thẻ chưa xử lý !!!</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                    {% endif %}                                             

                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Xem tất cả thông báo</a>
                            </div>
                        </li>
                        {% endif %}

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>{{current_user.hoten}}</b></span>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>{{current_user.masothe}}</b></span>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>{{current_user.phongban}}</b></span>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><img class="img-profile rounded-circle"
                                    src="static/img/undraw_profile.svg" alt="profile.svg">
                                </span>   
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đổi mật khẩu
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#doiMatkhauModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                                {% if current_user.phanquyen=="sa" %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/admin">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Quản trị hệ thống
                                    </a>
                                {% endif %}
                            </div>
                            
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-left: 500px;display: fixed; border: 1px solid #f5c6cb;
                                                border-radius: 5px;
                                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                                transition: opacity 0.5s ease, transform 0.5s ease;
                                                transform: translateY(-20px);">
                                    {{ messages[0] }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endwith %}
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{page}}</h1> 
                    </div>
                    <!-- End of Page Heading -->

                    <!-- Content Row -->
                    <div class="row" style="margin-left: 10px;">
                        {% block content %}
                        
                        {% endblock content %}
                    </div>
                    <!-- End of Content Row -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/doimatkhau">
                    <div class='form-group'>
                        <input type="text" class="form-control" id="macongty" name="macongty" hidden value={{current_user.macongty}}>
                        <input type="text" class="form-control" id="masothe_doi" name="masothe_doi" hidden value={{current_user.masothe}}>
                        <input type="password" class="form-control" id="matkhaumoi" name="matkhaumoi" placeholder="Nhập mật khẩu mới">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                        <input type="submit" class="btn btn-primary" value="Đổi"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="doiMatkhauModal" tabindex="-1" role="dialog" aria-labelledby="doiMatkhauModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="doiMatkhauModalLabel">Bạn muốn đăng xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn đồng ý để kết thúc phiên làm việc.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                    <form action="logout" method="POST">
                        <input type="submit" class="btn btn-primary" value="Đăng xuất"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        setTimeout(function() {
            var alert = document.querySelector('.alert');
            if (alert) {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(function() {
                    alert.remove();
                }, 1000); // Wait for the fade-out transition to complete
            }
        }, 10000); // 10 seconds
    </script>
</body>

</html>