{% extends "12.html" %}

{% block style %}
    .action {
        display: flex;
        gap: 10px
    }

    .action input {
        width: max-content;
    }

    th, td {
        white-space: nowrap; /* Không cho phép xuống dòng */
        overflow: hidden; /* Ẩn phần văn bản tràn ra */
        text-overflow: ellipsis; /* Thêm dấu ... vào phần văn bản bị ẩn */
        font-weight: bold;
        font-size: 11px;
        vertical-align: middle;
        height: 40px;
    }

    th {
        text-align: center;
        color: white;
    }

    .pointer {
        cursor: pointer;
    }

    .hide {
        display: none
    }
{% endblock style %}

{% block content %}
    <div class="container-fluid" id="main_window">
        <div class="d-flex justify-content-between">
            <form class="action">
                <input class="form-control" type="text" placeholder="Mã số thẻ" name="mst" value="{{ request.args.get('mst', '') }}"/>
                <input class="form-control" type="number" placeholder="Tháng" name="thang" value="{{ request.args.get('thang', '') }}"/>
                <input class="form-control" type="text" placeholder="Năm" name="nam" value="{{ request.args.get('nam', '') }}"/>
                <input class="btn btn-success" type="submit" name="action" value="Tìm kiếm" />
            </form>
            <a href="/capnhat_phepton" class="btn btn-danger">Xóa tìm kiếm</a>
            <form action="/tai_mau_capnhatphepton" method="POST">
                <button type="submit" class="btn btn-primary mx-2"><i class="fa fa-download"></i> Tải mẫu</button>
            </form>
            
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#secretary_modal" ><i class="fa fa-upload"></i> Cập nhập</button>
            <div class="modal fade" id="secretary_modal" tabindex="-1" aria-labelledby="secretary_modal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="secretary_modal">Chọn file muốn cập nhật ...</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" class="form-control" name="file">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                      <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Lưu</button>
                    </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <table class="table table-bordered table-hover table-sm">
                <thead class="bg-primary">
                    <tr>
                        <th style="width: 25%">MST</th>
                        <th style="width: 25%">Năm</th>
                        <th style="width: 25%">Tháng</th>
                        <th style="width: 25%">Số phút</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in danhsach %}
                        <tr>
                            <td class="text-center edit" name="mst">{{row[0]}}</td>
                            <td class="text-center edit" name="thang">{{row[1]}}</td>
                            <td class="text-center edit" name="nam">{{row[2]}}</td>
                            <td class="text-center edit" name="sophut">{{row[3]}}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <svg onclick="handleEdit(this)" class="me-3 pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                                    <svg onclick="handleSaveEdit(this, {{row[0]}}, {{row[1]}}, {{row[2]}}, {{row[3]}})" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#0ee143" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check hide me-3 pointer"><path d="M20 6 9 17l-5-5"/></svg>
                                <div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination d-flex justify-content-center">{{ pagination.links }}</div>
        </div>
    </div>
    <script>

        function handleEdit(element) {
            const tr = element.closest("tr")
            const editElements = tr.querySelectorAll(".edit")
            editElements.forEach(editElement => {
                editElement.innerHTML = `<input type="text" class="form-control" name=${editElement.getAttribute("name")} value="${editElement.innerText}"/>`
            })
            element.classList.add("hide")
            element.nextElementSibling.classList.remove("hide")
        }

        function handleSaveEdit(element, mst, thang, nam, sophut) {
            const tr = element.closest("tr")
            const editElements = tr.querySelectorAll("input")
            const values = {
                mst: editElements[0]?.value,
                thang: editElements[1]?.value,
                nam: editElements[2]?.value,
                sophut: editElements[3]?.value
            }

            fetch("/update_sophut_phepton", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(values)
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Something went wrong!');
            })
            .then(() => {
                editElements.forEach(editElement => {
                    editElement.closest(".edit").innerHTML = editElement.value
                })
                element.classList.add("hide")
                element.previousElementSibling.classList.remove("hide")
            })
        }

    </script>

{% endblock content%}