{% extends "12.html" %}

{% block style %}
    .action {
        display: flex;
        gap: 10px
    }

    .action input {
        width: max-content;
    }

    .pointer {
        cursor: pointer;
    }

    .hide {
        display: none
    }
{% endblock style %}

{% block content %}
    <div class="container-fluid" id="main_window">
        <div class="d-flex justify-content-between">
            <label for="tungay">Từ ngày:</label>
            <input type="date" id="tungay" name="tungay">

            <label for="denngay">Đến ngày:</label>
            <input type="date" id="denngay" name="denngay">

            <label for="mst">Mã số thẻ:</label>
            <input type="text" id="mst" name="mst" placeholder="Nhập mã số thẻ">
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h5>Dữ liệu dập thẻ <i class="fa fa-search"  id="timnotdapthe"></i></h5>
                <div id="notdapthe" class="hide"></div>
            </div>
            <div class="col">
                <h5>Dữ liệu điểm danh bù <i class="fa fa-search" id="timdiemdanhbu"></i></h5>
                <div id="diemdanhbu" class="hide"></div>
            </div>
            <div class="col">
                <h5>Dữ liệu xin nghỉ phép <i class="fa fa-search" id="timxinnghiphep"></i></h5>
                <div id="xinnghiphep" class="hide"></div>
            </div>
            <div class="col">
                <h5>Dữ liệu xin nghỉ không lương <i class="fa fa-search"  id="timxinnghikhongluong"></i></h5>
                <div id="xinnghikhongluong" class="hide"></div>
            </div>
            <div class="col">
                <h5>Dữ liệu xin nghỉ khác <i class="fa fa-search" id="timxinnghikhac"></i></h5>
                <div id="xinnghikhac" class="hide"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#timnotdapthe').click(function () {
                var tungay = $('#tungay').val();
                var denngay = $('#denngay').val();
                var mst = $('#mst').val();
                $.ajax({
                    url: '/chotcong/notdapthe',
                    type: 'POST',
                    data: {
                        'tungay': tungay,
                        'denngay': denngay,
                        'mst': mst
                    },
                    success: function(response) {
                        console.log(response);
                        // Xử lý dữ liệu trả về từ server
                        if (response.success === "True") {
                            // Hiển thị response.data trong bảng
                            //{
                            //    "Mã số thẻ": ,
                            //    "Ngày":,
                            //    "Giờ":,
                            //    "ID":,
                            //}
                            var table = '<table class="table table-bordered table-striped"><thead><tr>';
                                table += '<th>Ngày</th>';
                                table += '<th>Giờ</th>';
                                table += '<th></th>';
                                table += '</tr></thead><tbody>';
                                
                                $.each(response.data, function(index, item) {
                                    table += '<tr>';
                                    table += '<td>' + item['Ngày'] + '</td>';
                                    table += '<td>';
                                    table += '<form action="/update_chotcong_notdapthe" method="POST" style="display: inline;">';
                                    table += '<input type="hidden" name="id" value="' + item['ID'] + '">';
                                    table += '<input name="gio" value="' + item['Giờ'] + '" />';
                                    table += '</td>';
                                    table += '<td class="action">';
                                    table += '<button type="submit" class="btn btn-primary">Sửa</button>';
                                    table += '</form>';
                                    table += '<button type="submit" class="btn btn-danger" value="Xóa">';
                                    table += '</td>';
                                    table += '</tr>';
                                });
                                
                                table += '</tbody></table>';
                                $('#notdapthe').html(table);
                                $('#notdapthe').show();
                                $('#notdapthe').css({
                                    'overflow': 'auto',
                                    'max-height': '400px',
                                    'overflow-y': 'scroll'
                                });
                                

                        } else {
                            $('#notdapthe').html('<h5>Không có dữ liệu</h5>');
                            $('#notdapthe').show();
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });

    </script>
{% endblock content %}