{% extends "12.html" %}

{% block style %}
    .scroll {
        margin: 10px;
        overflow-x: scroll;
    }
    th, td {
        white-space: nowrap; /* Không cho phép xuống dòng */
        overflow: hidden; /* Ẩn phần văn bản tràn ra */
        text-overflow: ellipsis; /* Thêm dấu ... vào phần văn bản bị ẩn */
        font-weight: bold;
    }
    th {
        text-align: center;
        color: white;
    }
    .mst {
        width: 60px;
        position: sticky;
        left:0;
        z-index: 1;
    }
    .hoten {
        position: sticky;
        left: 50px;
        z-index: 2;
    }
    #form {
        display: flex;
        gap: 50px;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;   
    }
    .pagination {
        font-size: 10px;
    }
    .highlightable {
        background-color: yellow;
    }
    input,select, td {
        color: blue;
        outline: none;
        border: none;
    }
{% endblock style %}
    
{% block content %}
<div class="scroll">
    <br>
    <form method="GET">
        <div id="form">
            <h1>Danh sách đăng ký tăng ca</h1>
            <select id="form-chuyen" id="chuyen" name="chuyen" onchange="this.form.submit()">
                {% for chuyen in cacchuyen %}
                    {% if request.args.get('chuyen') == chuyen %}
                        <option value="{{chuyen}}" selected>{{chuyen}}</option>
                    {% else %}
                        <option value="{{chuyen}}">{{chuyen}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="date" id="ngay" name="ngay" value="{{ request.args.get('ngay', '') }}"  onchange="this.form.submit()">
            <div class="pagination">{{ pagination.links }}</div>
        </div>
    </form>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>MST</th>
                    <th>Họ tên</th>
                    <th>Chức danh</th>
                    <th>Chuyền</th>
                    <th>Phòng ban</th>
                    <th>Ngày</th>
                    <th>Tăng ca sáng</th>
                    <th>Tăng ca sáng thực tế</th>
                    <th>Giờ tăng ca</th>
                    <th>Giờ tăng ca thực tế</th>
                    <th>Tăng ca đêm</th>
                    <th>Tăng ca đêm thực tế</th>
                    <th>Ca</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>HR phê duyệt</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                {% if row["HR phê duyệt"] %}
                <tr class="highlightable">
                    <td class="mst" style="background-color: blue; color: white;">{{row["Mã số thẻ"]}}</td>
                        <td class="hoten" style="background-color: blue; color: white;">{{row["Họ tên"]}}</td>
                        <td>{{row["Chức danh"]}}</td>
                        <td>{{row["Chuyền"]}}</td>
                        <td>{{row["Phòng ban"]}}</td>
                        <td class="ngay">{{row["Ngày"]}}</td>
                        <td class="gio">{{row["Tăng ca sáng"]}}</td>
                        <td class="gio">{{row["Tảng ca sáng thực tế"]}}</td>
                        <td class="gio">{{row["Giờ tăng ca"]}}</td>
                        <td class="gio">{{row["Giờ tăng ca thực tế"]}}</td>
                        <td class="gio">{{row["Tăng ca đêm"]}}</td>
                        <td class="gio">{{row["Tảng ca đầu thực tế"]}}</td>
                        <td>{{row["Ca"]}}</td>
                        <td class="gio">{{row["Giờ vào"]}}</td>
                        <td class="gio">{{row["Giờ ra"]}}</td>
                
                        {% if (current_user.macongty=='NT1' and current_user.masothe==2833) or (current_user.macongty=='NT2' and current_user.masothe==4091) %}
                        <td>
                            <form action='/bopheduyet_tangca' method='POST'>
                                <input type="hidden" name="id" value="{{row['ID']}}">
                                <input type="hidden" name= "chuyen_filter" value = {{request.args.get('chuyen', '')}}>
                                <input type="hidden" name= "ngay_filter" value = {{request.args.get('ngay', '')}}>
                                <input class="btn-danger btn-sm" type="submit" value="Bỏ phê duyệt"></input>
                            </form>
                        </td>
                        {% else %}
                        <td>{{row["HR phê duyệt"]}}</td>
                        {% endif %}
                </tr>
                {% else %}
                <tr data-info='{{ row | tojson | safe }}' class="rows">
                    <form action='/capnhat_tangca' method='POST'>
                        <input type="hidden" name="id" value="{{row['ID']}}">
                        <input type="hidden" name= "chuyen_filter" value = {{request.args.get('chuyen', '')}}>
                        <input type="hidden" name= "ngay_filter" value = {{request.args.get('ngay', '')}}>
                        <td class="mst" style="background-color: blue; color: white;">{{row["Mã số thẻ"]}}</td>
                        <td class="hoten" style="background-color: blue; color: white;">{{row["Họ tên"]}}</td>
                        <td>{{row["Chức danh"]}}</td>
                        <td>{{row["Chuyền"]}}</td>
                        <td>{{row["Phòng ban"]}}</td>
                        <td class="ngay">{{row["Ngày"]}}</td>
                        <td class="gio"><input type="time" name="tangcasang" value='{{row["Tăng ca sáng"]}}' oninput="this.form.submit()" onchange="handleChange()"></input></td>
                        <td class="gio"><input type="time" name="tangcasangthucte" value={{row["Tăng ca sáng thực tế"]}} oninput="this.form.submit()" onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangca" value={{row["Giờ tăng ca"]}} oninput="this.form.submit()" onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangcathucte" value={{row["Giờ tăng ca thực tế"]}} oninput="this.form.submit()" onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangcadem" value={{row["Tăng ca đêm"]}} oninput="this.form.submit()" onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangcademthucte" value={{row["Tảng ca đầu thực tế"]}} oninput="this.form.submit()" onchange="this.form.submit()"></input></td>
                        <td>{{row["Ca"]}}</td>
                        <td class="gio">{{row["Giờ vào"]}}</td>
                        <td class="gio">{{row["Giờ ra"]}}</td>
                    </form>
                        {% if (current_user.macongty=='NT1' and current_user.masothe==2833) or (current_user.macongty=='NT2' and current_user.masothe==4091) %}
                        <td>
                            <form action='/pheduyet_tangca' method='POST'>
                                <input class="btn-primary btn-sm" type="submit" value="Phê duyệt"></input>
                                <input type="hidden" name="id" value="{{row['ID']}}">
                                <input type="hidden" name= "chuyen_filter" value = {{request.args.get('chuyen', '')}}>
                                <input type="hidden" name= "ngay_filter" value = {{request.args.get('ngay', '')}}>
                            </form>
                        </td>
                        {% else %}
                        <td>{{row["HR phê duyệt"]}}</td>
                        {% endif %}
                    </form>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function handleChange(input) {
        if (input.value) {
            input.form.submit();
        }
    }
    function changeFormatDate(date) {
        if (date !== 'None') {
            return date.split('-').reverse().join('/');
        }
        return '';
    }
    document.addEventListener('DOMContentLoaded', (event) => {
        const tds = document.querySelectorAll('td');
        tds.forEach(td => {
            if (td.textContent.trim() === 'None') {
                td.textContent = '';
            }
        });

        const ngays = document.querySelectorAll('.ngay');
        ngays.forEach(ngay => {
            if (ngay.textContent.trim() !== 'None') {
                ngay.textContent = changeFormatDate(ngay.textContent);
            }
        });

    });
</script>
{% endblock content %}