{% extends "12.html" %}

{% block style %}
    #main_window {
        display: flex;
        gap: 50px;
    }
    #danhsachchuyen {
        width: 150px;
    }
    #danhsachtangca {
        overflow-x: scroll;
    }
    th, td {
        white-space: nowrap; /* Không cho phép xuống dòng */
        overflow: hidden; /* Ẩn phần văn bản tràn ra */
        text-overflow: ellipsis; /* Thêm dấu ... vào phần văn bản bị ẩn */
        font-weight: bold;
        font-size: 11px;
    }
    th {
        text-align: center;
        color: white;
    }
    .mst {
        width: 60px;
        position: sticky;
        left:0;
        z-index: 1;
    }
    .hoten {
        position: sticky;
        left: 50px;
        z-index: 2;
    }
    .pagination {
        font-size: 10px;
    }
    .highlightable {
        background-color: yellow;
    }
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
{% endblock style %}
    
{% block content %}
<div class="container-fluid" id="main_window">
    <div id="danhsachchuyen">
        <table class="table table-bordered">
            <form method='GET'>
            <tbody>
                <tr>
                    <th>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Xem</button>
                    </th>
                    <th>
                        <button id="select-toggle-btn" class="btn btn-outline-primary btn-sm" onclick="toggleSelectAll(event)">Chọn hết</button>    
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="date" id="ngay" name="ngay" value="{{ request.args.get('ngay', '') }}">
                    </th>
                </tr>

                {% for chuyen in cacchuyen %}
                <tr>
                    <td>{{chuyen}}</td>
                    <td>
                        {% if chuyen in request.args.getlist('chuyen') %}
                        <input type="checkbox" name="chuyen" value="{{chuyen}}" checked>
                        {% else %}
                        <input type="checkbox" name="chuyen" value="{{chuyen}}">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </form>
        </table>
    </div>
    <div>
        <div id="header">
            <h3>Danh sách tăng ca</h3>
            <h5><b>Tổng: {{count}}</b></h5>
            <form method='POST' action="/tai_danhsach_tangca">
                <input hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                <input hidden name="chuyen" value="{{ request.args.getlist('chuyen') }}">
                <input hidden name="pheduyet" value="{{ request.args.get('pheduyet') }}">
                <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-fw fa-download"></i></button>
            </form>
            <form method='POST' action="/tailen_danhsach_tangca" enctype="multipart/form-data">
                <input type="file" name="file">
                <button class="btn btn-success btn-sm"><i class="fas fa-fw fa-upload"></i></button>
            </form>
            <div class="pagination">{{pagination.links}}</div>
            {% if 'HRD' in current_user.phongban %}
            <button class='btn btn-primary btn-sm' data-bs-toggle="modal" data-bs-target="#HRModal">HR phê duyệt</button>
            <div class="modal fade" id="HRModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Phê duyệt hàng loạt</h4>
                        </div>
                        <div class="modal-body" style="display: flex; align-items: center; gap:20px;">
                            <form method="POST" action="/tailen_nhansu_pheduyet_tangca" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <button type="submit"  class="btn btn-success btn-sm"><i class="fas fa-fw fa-upload"></i></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Lọc phê duyệt
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <form method="POST">
                            <input hidden name="pheduyet" value="">
                            <input hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                            {% for chuyen in request.args.getlist('chuyen') %}
                                <input hidden name="chuyen" value="{{ chuyen }}">
                            {% endfor %}
                            <button class="dropdown-item" type="submit">Tất cả</button>
                        </form>
                    </li>
                    <li>
                        <form method="POST">
                            <input hidden name="pheduyet" value="ok">
                            <input hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                            {% for chuyen in request.args.getlist('chuyen') %}
                                <input hidden name="chuyen" value="{{ chuyen }}">
                            {% endfor %}
                            <button class="dropdown-item" type="submit">Đã phê duyệt</button>
                        </form>
                    </li>
                    <li>
                        <form method="POST">
                            <input hidden name="pheduyet" value="notok">
                            <input hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                            {% for chuyen in request.args.getlist('chuyen') %}
                                <input hidden name="chuyen" value="{{ chuyen }}">
                            {% endfor %}
                            <button class="dropdown-item" type="submit">Chưa phê duyệt</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <table class="table table-bordered table-hover table-sm"  id="danhsachtangca">
            <thead>
                <tr class="bg-primary">
                    <th>MST</th>
                    <th>Họ tên</th>
                    <th>Chuyền</th>
                    <th>Ngày</th>
                    <th>Tăng ca sáng</th>
                    <th>Tăng ca sáng thực tế</th>
                    <th>Giờ tăng ca</th>
                    <th>Giờ tăng ca thực tế</th>
                    <th>Tăng ca đêm</th>
                    <th>Tăng ca đêm thực tế</th>
                    <th>Ca</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>HR phê duyệt</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                {% if row["HR phê duyệt"] %}
                <tr class="highlightable">
                    <td class="mst" style="background-color: blue; color: white;">{{row["Mã số thẻ"]}}</td>
                        <td class="hoten" style="background-color: blue; color: white;">{{row["Họ tên"]}}</td>
                        <td>{{row["Chuyền"]}}</td>
                        <td>{{row["Ngày"]}}</td>
                        <td class="gio">{{row["Tăng ca sáng"]}}</td>
                        <td class="gio">{{row["Tăng ca sáng thực tế"]}}</td>
                        <td class="gio">{{row["Giờ tăng ca"]}}</td>
                        <td class="gio">{{row["Giờ tăng ca thực tế"]}}</td>
                        <td class="gio">{{row["Tăng ca đêm"]}}</td>
                        <td class="gio">{{row["Tăng ca đêm thực tế"]}}</td>
                        <td>{{row["Ca"]}}</td>
                        <td class="gio">{{row["Giờ vào"]}}</td>
                        <td class="gio">{{row["Giờ ra"]}}</td>
                
                        {% if ('HRD' in current_user.phongban) %}
                        <td>
                            <form action='/bopheduyet_tangca' method='POST'>
                                <input type="hidden" name="id" value="{{row['ID']}}">
                                <input hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                                {% for chuyen in request.args.getlist('chuyen') %}
                                    <input hidden name="chuyen" value="{{ chuyen }}">
                                {% endfor %}
                                <input type="hidden" name= "ngay_filter" value = {{request.args.get('ngay', '')}}>
                                <input class="btn-danger btn-sm" type="submit" value="Bỏ phê duyệt"></input>
                            </form>
                        </td>
                        {% else %}
                        <td>{{row["HR phê duyệt"]}}</td>
                        {% endif %}
                </tr>
                {% else %}
                <tr data-info='{{ row | tojson | safe }}' class="rows">
                    <form action='/capnhat_tangca' method='POST'>
                        <input type="hidden" name="id" value="{{row['ID']}}">
                        <input type="hidden" name= "chuyen_filter" value = {{request.args.get('chuyen', '')}}>
                        <input type="hidden" name= "ngay_filter" value = {{request.args.get('ngay', '')}}>
                        <td class="mst" style="background-color: blue; color: white;">{{row["Mã số thẻ"]}}</td>
                        <td class="hoten" style="background-color: blue; color: white;">{{row["Họ tên"]}}</td>
                        <td>{{row["Chuyền"]}}</td>
                        <td>{{row["Ngày"]}}</td>
                        <td class="gio"><input type="time" name="tangcasang" value='{{row["Tăng ca sáng"]}}'  onchange="handleChange()"></input></td>
                        <td class="gio"><input type="time" name="tangcasangthucte" value={{row["Tăng ca sáng thực tế"]}}  onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangca" value={{row["Giờ tăng ca"]}}  onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangcathucte" value={{row["Giờ tăng ca thực tế"]}}  onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangcadem" value={{row["Tăng ca đêm"]}}  onchange="this.form.submit()"></input></td>
                        <td class="gio"><input type="time" name="tangcademthucte" value={{row["Tảng ca đầu thực tế"]}}  onchange="this.form.submit()"></input></td>
                        <td>{{row["Ca"]}}</td>
                        <td class="gio">{{row["Giờ vào"]}}</td>
                        <td class="gio">{{row["Giờ ra"]}}</td>
                    </form>
                        {% if ('HRD' in current_user.phongban) %}
                        <td>
                            <form action='/pheduyet_tangca' method='POST'>
                                <input class="btn-primary btn-sm" type="submit" value="Phê duyệt"></input>
                                <input type="hidden" name="id" value="{{row['ID']}}">
                                <input hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                                {% for chuyen in request.args.getlist('chuyen') %}
                                    <input hidden name="chuyen" value="{{ chuyen }}">
                                {% endfor %}
                                <input type="hidden" name= "ngay_filter" value = {{request.args.get('ngay', '')}}>
                            </form>
                        </td>
                        {% else %}
                        <td>{{row["HR phê duyệt"]}}</td>
                        {% endif %}
                    </form>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>  
<script>
    document.addEventListener("DOMContentLoaded", function() {
        updateToggleButton();

        // Function to toggle select all/deselect all
        window.toggleSelectAll = function(event) {
            event.preventDefault();
            let checkboxes = document.querySelectorAll('input[type="checkbox"][name="chuyen"]');
            let allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);

            checkboxes.forEach(checkbox => checkbox.checked = !allChecked);

            updateToggleButton();
        }

        // Function to update button text based on checkbox states
        function updateToggleButton() {
            let checkboxes = document.querySelectorAll('input[type="checkbox"][name="chuyen"]');
            let allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
            let button = document.getElementById("select-toggle-btn");
            button.textContent = allChecked ? "Bỏ chọn hết" : "Chọn hết";
        }
    });
</script>
{% endblock content %}