{% extends "12.html" %}

{% block style %}
    table th {
        white-space: nowrap;
        text-align: center;
        color: white;
    }
    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust based on your requirement */
        font-weight: bold;
    }
    .pagination {
        font-size: 10px; 
    }
    #header {
        display: flex;
        gap: 10px;
    }

    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }
    
    .custom-file-upload:hover {
        background-color: #218838;
    }
{% endblock style %}
    
{% block content %}
<div class="container-fluid">
    <div id="header">
        <div style="width:100%;">
            <form method="GET">
                <input type="text" name="mst" placeholder="Mã số thẻ" onchange="this.form.submit()" value="{{ request.args.get('mst', '') }}">
                <input type="text" name="chuyen" placeholder="Chuyền" onchange="this.form.submit()" value="{{ request.args.get('chuyen', '') }}">
                <input type="text" name="bophan" placeholder="Bộ phần" onchange="this.form.submit()" value="{{ request.args.get('bophan', '') }}">
                <input type="date" name="ngay" onchange="this.form.submit()" value="{{ request.args.get('ngay', '') }}">
            </form>
        </div>
        <div style="display:flex;width:100%;gap:5px;">
            <form method="POST">
                <input type="hidden" name="mst" value="{{ request.args.get('mst', '') }}">
                <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen', '') }}">
                <input type="hidden" name="bophan"  value="{{ request.args.get('bophan', '') }}">
                <input type="date" hidden name="ngay" value="{{ request.args.get('ngay', '') }}">
                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-download"></i> Tải xuống</button>
            </form>
            <form method="POST" action="/dangky_dilam_chunhat" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload btn btn-outline-success"/>Chọn file tải lên</label>
                <input type="file" name="file_tailen" />
                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-upload"></i></button>
            </form>
            {% if 'HR' in current_user.phongban %}
            <form method="POST" action="/hr_pheduyet_dangky_dilam_chunhat" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload btn btn-outline-primary"/>Chọn file phê duyệt</label>
                <input type="file" name="file_pheduyet" />
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i></button>
            </form>
            {% endif %}
        </div>
        <b>{{count}}</b>
        <div class="pagination">{{pagination.links}}</div>
    </div>
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr class="bg-primary">
                <th>Mã số thẻ</th>
                <th>Họ tên</th>
                <th>Chuyền</th>
                <th>Bộ phận</th>
                <th>Vị trí</th>
                <th>Ngày đăng ký</th>
                <th>HR phê duyệt</th>
                <th>Công khai</th>
            </tr>
        </thead>
        <tbody>
            {% for row in danhsach %}
            <tr data-info='{{ row  | safe }}'>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td class='ngay'>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
            </tr>
            {% endfor %}
        </tbody>
</div>      
<script>
    function changeFormatDate(date){
        if(date == 'None') return "";
        try{
            return date.split("-")[2] + "/" + date.split("-")[1] + "/" + date.split("-")[0];
        } catch {
            return "";    
    }}
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.ngay').forEach((element) => {
            element.textContent = changeFormatDate(element.textContent);
        });
        const td_elements = document.querySelectorAll('td');

        td_elements.forEach((element) => {
            if (element.textContent === 'None') {
                element.textContent = '';
            }
        });
    });
</script>
{% endblock content %}