{% extends  "base.html" %}
{% block style%}
<style>
    .list_nhanvien {
        display: flex;
        flex-wrap: wrap;
        overflow-y:scroll;
    }
    .card {
        margin: 10px;
    }
    .input-group {
        border-radius: 5px;
        outline:none;
        margin-bottom: 5px;
        overflow: none;
    }
    .card-header {
        display:flex;
        justify-content: space-beetween;
    }
    .view-info {
        position: absolute;
        right: 5px;
    }
</style>
{% endblock style %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="content">
        <h4>Danh sách nhân viên</h4>
        <br>
        <div class="row">
            <form method="GET">
                <div class="col">
                    <input class="input-group" onchange="form.submit()" placeholder="Mã số thẻ" name="Mã số thẻ" value='{{request.args.get("Mã số thẻ","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Họ tên" name="Họ tên" value='{{request.args.get("Họ tên","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Số điện thoại" name="Số điện thoại" value='{{request.args.get("Số điện thoại","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Căn cước công dân" name="Căn cước công dân" value='{{request.args.get("Căn cước công dân","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Chuyền" name="Chuyền" value='{{request.args.get("Chuyền","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Phòng ban" name="Phòng ban" value='{{request.args.get("Phòng ban","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Trạng thái" name="Trạng thái" value='{{request.args.get("Trạng thái","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="HC Category" name="HC Category" value='{{request.args.get("HC Category","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Ghi chú" name="Ghi chú" value='{{request.args.get("Ghi chú","")}}'>
                    <input class="input-group" onchange="form.submit()" placeholder="Giới tính" name="Giới tính" value='{{request.args.get("Giới tính","")}}'>
                </div>
            </form>
            <br>
            <div class="col">
                <h5>Tổng: {{count}} </h5> {{pagination.links}}
                <div class="list_nhanvien">
                {% for row in users %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{row["MST"]}}</h5>
                            <div class="view-info"><a class="btn btn-bg-primary brn-sm"><i class="fa fa-eye"></i></a></div>
                        </div>
                        <div class="card-body">
                            <img style="width:200px;" class="card-img-top" src="static/img/undraw_profile.svg" alt="Card image cap">
                            <h5 class="card-title">{{row["Họ tên"]}}</h5>
                            <p class=class="card-text">{{row["Số điện thoại"]}}</p>
                            <p class="card-text">{{row["Department"]}} - {{row["Line"]}}</p>
                            <p class="card-text">{{row["Trạng thái"]}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}