{% extends "12.html" %}

{% block style %}
    .action {
        display: flex;
        gap: 10px
    }

    .action input {
        width: max-content;
    }

    th, td {
        white-space: nowrap; /* Không cho phép xuống dòng */
        overflow: hidden; /* Ẩn phần văn bản tràn ra */
        text-overflow: ellipsis; /* Thêm dấu ... vào phần văn bản bị ẩn */
        font-weight: bold;
        font-size: 11px;
        vertical-align: middle;
        height: 40px;
    }

    th {
        text-align: center;
        color: white;
    }

    .pointer {
        cursor: pointer;
    }

    .hide {
        display: none
    }
{% endblock style %}

{% block content %}
    <div class="container-fluid" id="main_window">
        <div class="d-flex justify-content-between">
            <form class="action">
                <input class="form-control" type="text" placeholder="MST thư ký/tổ trưởng" name="mst" value="{{ request.args.get('mst', '') }}"/>
                <input class="form-control" type="text" placeholder="MST quản lý" name="mst_ql" value="{{ request.args.get('mst_ql', '') }}"/>
                <input class="form-control" type="text" placeholder="Chuyền" name="chuyen" value="{{ request.args.get('chuyen', '') }}"/>
                <input class="btn btn-success" type="submit" name="action" value="Tìm kiếm" />
                <input class="btn btn-danger" type="submit" name="action" value="Xóa tìm kiếm" />
            </form>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#secretary_modal" >Thêm quyền</button>
            <div class="modal fade" id="secretary_modal" tabindex="-1" aria-labelledby="secretary_modal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="secretary_modal">Thêm quyền quản lý</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>MST thư ký/tổ trưởng</label>
                            <input type="text" class="form-control" name="mst">
                        </div>
                        <div class="mt-2">
                            <label>Chuyền</label>
                            <input type="text" class="form-control" name="chuyen">
                        </div>
                        <div class="mt-2">
                            <label>MST quản lý</label>
                            <input type="text" class="form-control" name="mst_ql">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                      <button onclick="handleSaveAdd(this)" type="button" data-bs-dismiss="modal" class="btn btn-primary">Lưu</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <table class="table table-bordered table-hover table-sm">
                <thead class="bg-primary">
                    <tr>
                        <th style="width: 30%">MST thư ký/tổ trưởng</th>
                        <th style="width: 30%">Chuyền</th>
                        <th style="width: 30%">MST quản lý</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in danhsach %}
                        <tr>
                            <td class="text-center edit" name="mst">{{row[1]}}</td>
                            <td class="text-center edit" name="chuyen">{{row[2]}}</td>
                            <td class="text-center edit" name="mst_ql">{{row[3]}}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <svg onclick="handleEdit(this)" class="me-3 pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                                    <svg onclick="handleSaveEdit(this, {{row[4]}})" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#0ee143" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check hide me-3 pointer"><path d="M20 6 9 17l-5-5"/></svg>
                                    <svg onclick="handleDelete(this, {{row[4]}})" class="pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#e10e0e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
                                <div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination d-flex justify-content-center">{{ pagination.links }}</div>
        </div>
    </div>

    <script>
        function handleSaveAdd(element) {
            const modal = element.closest('#secretary_modal')
            const mst = modal.querySelector('input[name="mst"]').value;
            const chuyen = modal.querySelector('input[name="chuyen"]').value;
            const mst_ql = modal.querySelector('input[name="mst_ql"]').value;
            
            fetch("/add_phanquyenthuky", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    mst,
                    chuyen,
                    mst_ql
                })
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Something went wrong!');
            })
            .then(() => {
                window.location.reload()
            })
        }

        function handleEdit(element) {
            const tr = element.closest("tr")
            const editElements = tr.querySelectorAll(".edit")
            editElements.forEach(editElement => {
                editElement.innerHTML = `<input type="text" class="form-control" name=${editElement.getAttribute("name")} value="${editElement.innerText}"/>`
            })
            element.classList.add("hide")
            element.nextElementSibling.classList.remove("hide")
        }

        function handleSaveEdit(element, id) {
            const tr = element.closest("tr")
            const editElements = tr.querySelectorAll("input")
            const values = {
                id: id,
                mst: editElements[0]?.value,
                chuyen: editElements[1]?.value,
                mst_ql: editElements[2]?.value
            }

            fetch("/update_phanquyenthuky", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(values)
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Something went wrong!');
            })
            .then(() => {
                editElements.forEach(editElement => {
                    editElement.closest(".edit").innerHTML = editElement.value
                })
                element.classList.add("hide")
                element.previousElementSibling.classList.remove("hide")
            })
        }

        function handleDelete(element, id) {
            fetch(`/delete_phanquyenthuky?id=${id}`)
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Something went wrong!');
                })
                .then(() => {
                    const tr = element.closest("tr")
                    tr.remove()
                })
                .catch((error) => {
                    console.error(error);
                });
        }
    </script>
{% endblock content%}